
@{
    ViewBag.Title = "CSL - Career Online High School";
    ViewBag.PageTitle = "Career Online High School";
    ViewBag.Author = "Alan Cleetus";
    ViewBag.Description = "Career Online High School, or COHS, is an educational service which offers adults a free opportunity to earn an accredited high school diploma and credentialed career certificate at the same time, through California's public libraries.";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <div class="section">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="~/services/to-libraries/">To Libraries</a></li>
                    <li class="active">Career Online High School</li>
                </ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <div class="half"><img class="img-responsive img" alt="state library logo" src="~/Content/StateTemplate/images/services/careerOnline/CSL_logo.jpg" /></div>
                <div class="half"><img class="img-responsive img" alt="career online logo" src="~/Content/StateTemplate/images/services/careerOnline/career_online_logo.jpg" /></div>
                <div class="clearfix"></div>
                <br />
                <strong>Contact: <a href="mailto:janet.coles@library.ca.gov">Janet Coles</a></strong>
                <p>
                    Career Online High School, or COHS, is an educational service offered by Gale, a part of Cengage Learning, which offers adults the opportunity to earn an accredited high school diploma and credentialed career certificate at the same time. In this program offered by the California State Library, libraries receive support to offer free COHS scholarships in their communities.

                </p>
                <p>
                    Currently <a href="http://www.careeronlinehs.gale.com/ca/find-library/">46 California public libraries</a> offer COHS to their customers. Of these, 45 are participants in the State Library's COHS Pilot Program.

                </p>
                <h3>Each participating library receives:</h3>

                <ul>
                    <li>Career Online High School scholarships, including unlimited access to online self-assessment and pre-requisite courses</li>
                    <li>Outreach materials and marketing support from Gale Cengage</li>
                    <li>Intensive training and ongoing technical assistance</li>
                </ul>
                <p>Scholarships are allocated to libraries on a matching basis.</p>
                <h3>Resources for Participating Libraries</h3>
                <p><a href="~/Content/StateTemplate/pdf/services/career_online/COHSInfoNov2017.pdf">Project Information</a> (PDF)</p>
                <p><a href="http://cc.readytalk.com/play?id=bomwh5">Best Practices Webinar</a></p>
                <p><a href="https://infopeople.org/civicrm/event/info?reset=1&id=564">Easy Fundraising for Public Libraries for COHS Matching Scholarships</a></p>

            </div>
        </div>
    </main>
</div>

