
@{
    ViewBag.Title = "CSL - Harwood Public Innovation for California's Public Libraries";
    ViewBag.PageTitle = "Harwood Public Innovation for California's Public Libraries";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "The California State Library has partnered with The Harwood Institute to support California library staff in deepening their impact and increasing their relevance in the communities they serve.";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>
<style>
    .targetDiv .third {
        padding: 10px 0px;
    }

        .targetDiv .third img {
            padding-right: 10px;
        }
</style>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <div class="section">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="~/Services/to-libraries/">To Libraries</a></li>
                    <li class="active">Harwood</li>
                </ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <p>
                    The California State Library has partnered with The Harwood Institute to support California library staff in deepening their impact and increasing their relevance in the communities they serve.

                </p>
                <p>
                    The Harwood Institute has trained and coached hundreds of library professionals across the U.S. in developing an approach, or practice, called Turning Outward. Library professionals who Turn Outward build a deep knowledge of their communities and use the community as the reference point for their choices and judgments.

                </p>
                <p>
                    By implementing the Turning Outward practice, library staff make different choices about:

                </p>
                <ul>
                    <li>
                        the kinds of questions to ask in meetings;
                    </li>
                    <li>
                        the library's role in helping bring the community together to solve problems;
                    </li>
                    <li>
                        the kinds of programs the library pursues and how those programs are structured; and
                    </li>
                    <li>
                        the kind of staff and culture that is needed in the library.
                    </li>
                </ul>

                <p>
                    Libraries that Turn Outward are better connected to their communities and the context of those communities shapes their thinking and their action.

                </p>

                <p>
                    We invite the library community to use the tools below to get focused on your community and start making changes today!

                </p>
                <div class="section" style=" padding:0px; background-color:#ffd05c; ">
                    <div class="third" style="padding:10px; background-color:#ffd05c; text-align:center;">
                        <img alt="image of person" src="~/Content/StateTemplate/images/services/harwood/person.jpg" class="img img-responsive" />
                    </div>
                    <div class="two-thirds" style="background-color:#e1f4fb; padding:10px;">
                        <h3 class="text-accent1">2016 Harwood Coaching Webinars</h3>
                        <p>Watch the latest webinars! Each webinar focuses on particular areas and stages of the Harwood approach. Gather ideas and hear how other libraries are implementing the framework.<a onclick="show5()"> See More ></a></p>
                    </div>
                </div>

                <div class="clearfix"></div>


                <h3 class="orange">THE HARWOOD STAGES</h3>
                <div class="half">
                    <div class="panel panel-understated">
                        <div class="panel-heading">
                            <h3>STAGE ONE: Getting Started</h3>
                            <div class="options">
                                <a onclick="show1()" class="btn btn-default">Stage 1</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                Talk to your team about their hopes and goals.
                                Start processes that will lead to long-term change.
                            </p>
                            <div class="half"><span class="ca-gov-icon-play"></span> Videos</div>
                            <div class="half"><span class="ca-gov-icon-download"></span> Pdf</div>
                            <div class="half"><span class="ca-gov-icon-link"></span> Links</div>
                            <div class="half"><span class="ca-gov-icon-online-services"></span> See More</div>
                        </div>
                    </div>
                </div>

                <div class="half">
                    <div class="panel panel-understated">
                        <div class="panel-heading">
                            <h3>STAGE TWO: Into The Community </h3>
                            <div class="options">
                                <a onclick="show2()" class="btn btn-default">Stage 2</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                Begin facilitating conversations with your community.
                                Discover what kind of community people want.
                            </p>
                            <div class="half"><span class="ca-gov-icon-play"></span> Videos</div>
                            <div class="half"><span class="ca-gov-icon-download"></span> Pdf</div>
                            <div class="half"><span class="ca-gov-icon-link"></span> Links</div>
                            <div class="half"><span class="ca-gov-icon-online-services"></span> See More</div>
                        </div>
                    </div>
                </div>

                <div class="half">
                    <div class="panel panel-understated">
                        <div class="panel-heading">
                            <h3>STAGE THREE: Sharing The Findings </h3>
                            <div class="options">
                                <a onclick="show3()" class="btn btn-default">Stage 3</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                Share knowledge with your team and stakeholders.
                                Evaluate your team's progress.
                            </p>
                            <div class="half"><span class="ca-gov-icon-play"></span> Videos</div>
                            <div class="half"><span class="ca-gov-icon-download"></span> Pdf</div>
                            <div class="half"><span class="ca-gov-icon-link"></span> Links</div>
                            <div class="half"><span class="ca-gov-icon-online-services"></span> See More</div>
                        </div>
                    </div>
                </div>

                <div class="half">
                    <div class="panel panel-understated">
                        <div class="panel-heading">
                            <h3>STAGE FOUR: Taking Action </h3>
                            <div class="options">
                                <a onclick="show4()" class="btn btn-default">Stage 4</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                Turn insights into action.
                                Base planning on community situation and stages.
                            </p>
                            <div class="half"><span class="ca-gov-icon-play"></span> Videos</div>
                            <div class="half"><span class="ca-gov-icon-download"></span> Pdf</div>
                            <div class="half"><span class="ca-gov-icon-link"></span> Links</div>
                            <div class="half"><span class="ca-gov-icon-online-services"></span> See More</div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>
                <div section>
                    <button class="btn btn-default" onclick="showAll()">Show All</button>
                    <button class="btn btn-default" onclick="hideAll()">Hide All</button>
                </div>
                <div class="clearfix"></div>

                <div class="container">
                    <div id="div1" class="targetDiv" style="display:none;">
                        <hr />
                        <p class="text-accent1">STAGE ONE: <span class="grey_text">Getting Started</span></p>
                        <div class="description">
                            Begin to talk to your library team about their hopes and goals. Put in place the thought processes that will lead to long-term change. This stage introduces the concepts of turning outward, aspirations, and intentionality.
                        </div>
                        <div class="container">


                            <div class="third">
                                <a id="videos1" href="https://www.youtube.com/watch?v=EHF47C55e9A" target="_blank"><span class="b_link"><img name="video5" onfocus="document.video5.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video5.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video5.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video5.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Welcome to the Harwood Public Innovators Lab</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=EMfAC-CQlZA" target="_blank"><span class="b_link"><img name="video6" onfocus="document.video6.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video6.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video6.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video6.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Being Turned Outward</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=MeRCeY_n8vM" target="_blank"><span class="b_link"><img name="video7" onfocus="document.video7.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video7.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video7.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video7.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">3A's of Public Life (Rich Harwood)</span></a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=1BxJOGspxgA&amp;t" target="_blank"><span class="b_link"><img name="video8" onfocus="document.video8.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video8.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video8.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video8.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">The 3A's: Authority (Rich Harwood)</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=0nsbGHUacmU" target="_blank"><span class="b_link"><img name="video9" onfocus="document.video9.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video9.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video9.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video9.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">The 3A's: Authenticity (Rich Harwood)</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=hWP7uFmmoJw" target="_blank"><span class="b_link"><img name="video10" onfocus="document.video10.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video10.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video10.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video10.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">The 3A's: Accountability <br>(Rich Harwood)</span></a>
                            </div>

                            <div class="clearfix"></div>


                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=-Mrvxr27VZ0" target="_blank"><span class="b_link"><img name="video11" onfocus="document.video11.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video11.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video11.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video11.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Knox County (Ind.) Public Library on the Aspirations Exercise</span></a>
                            </div>
                            <div class="third">
                                <a id="pdfs1" href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_Binder_FINAL_0.pdf" target="_blank"><span class="b_link"><img name="video12" onfocus="document.video12.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.video12.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.video12.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.video12.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">ALA Public Innovators Cohort (FULL BINDER)</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_SustainingSelf.pdf" target="_blank"><span class="b_link"><img name="pdf5" onfocus="document.pdf5.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf5.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf5.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf5.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Sustaining Yourself</span></a>
                            </div>

                            <div class="clearfix"></div>


                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTCGettingStarted_DigitalWorkbook_final010915.pdf" target="_blank"><span class="b_link"><img name="pdf6" onfocus="document.pdf6.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf6.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf6.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf6.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Step-by-Step Guide to Getting Started in Your Community</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_TurnOutward_0.pdf" target="_blank"><span class="b_link"><img name="pdf7" onfocus="document.pdf7.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf7.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf7.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf7.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Turn Outward</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_Aspirations_0.pdf" target="_blank"><span class="b_link"><img name="pdf8" onfocus="document.pdf8.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf8.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf8.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf8.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Aspirations</span></a>
                            </div>

                            <div class="clearfix"></div>


                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_FacilitatorsGuide_0.pdf" target="_blank"><span class="b_link"><img name="pdf9" onfocus="document.pdf9.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf9.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf9.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf9.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Aspiration Facilitator's Guide</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_Intentionality.pdf" target="_blank"><span class="b_link"><img name="pdf10" onfocus="document.pdf10.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf10.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf10.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf10.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Intentionality</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_Engagement_Horiz_0.pdf" target="_blank"><span class="b_link"><img name="pdf11" onfocus="document.pdf11.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf11.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf11.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf11.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Engagement Paths</span></a>
                            </div>


                            <div class="clearfix"></div>

                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/3As of Public Life .pdf" target="_blank"><span class="b_link"><img name="pdf12" onfocus="document.pdf12.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf12.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf12.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf12.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">3A's of Public Life</span></a>
                            </div>
                            <div class="third">
                                <a id="links1" href="http://www.ala.org/transforminglibraries/libraries-transforming-communities" target="_blank"><span class="b_link"><img name="www2" onfocus="document.www2.src='/Content/StateTemplate/images/services/harwood/icon_www_over.png'" onmouseout="document.www2.src='/Content/StateTemplate/images/services/harwood/icon_www.png'" onmouseover="document.www2.src='/Content/StateTemplate/images/services/harwood/icon_www_over.png'" onblur="document.www2.src='/Content/StateTemplate/images/services/harwood/icon_www.png'" src="/Content/StateTemplate/images/services/harwood/icon_www.png" alt="www icon" title="www">ALA LTC Resources <br>for Libraries</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/transforminglibraries/libraries-transforming-communities/resources-for-library-professionals" target="_blank"><span class="b_link"><img name="www3" onfocus="document.www3.src='/Content/StateTemplate/images/services/harwood/icon_www_over.png'" onblur="document.www3.src='/Content/StateTemplate/images/services/harwood/icon_www.png'" onmouseover="document.www3.src='/Content/StateTemplate/images/services/harwood/icon_www_over.png'" onmouseout="document.www3.src='/Content/StateTemplate/images/services/harwood/icon_www.png'" src="/Content/StateTemplate/images/services/harwood/icon_www.png" alt="www icon" title="www">ALA Libraries Transforming Communities (LTC)</span></a>
                            </div>

                            <div class="clearfix"></div>


                        </div>
                    </div>

                    <div id="div2" class="targetDiv" style="display: none;">
                        <hr><p class="text-accent1">STAGE TWO: <span class="grey_text">Into the Community</span></p>
                        <div class="description">
                            Begin facilitating conversations with your community. Discover what kind of community people want. What challenges does the community face? And what changes are needed to overcome those challenges?
                        </div>
                        <div class="container">
                            <div class="third">
                                <a id="videos2" href="https://www.youtube.com/watch?v=Qo3k14yjQ1k" target="_blank"><span class="b_link"><img name="video13" onfocus="document.video13.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video13.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video13.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video13.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">LA Public Library on the Community Conversations tool</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=g3XAfxY4UGw&amp;t=19s" target="_blank"><span class="b_link"><img name="video14" onfocus="document.video14.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video14.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video14.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video14.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Hosting &amp; Leading Community Conversations Webinar</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=5k3KH9Lagro" target="_blank"><span class="b_link"><img name="video15" onfocus="document.video15.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video15.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video15.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video15.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">What Is Public Knowledge?</span></a>
                            </div>


                            <div class="clearfix"></div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_Theming-Workbook-final072114_0.pdf" target="_blank"><span class="b_link"><img name="video16" onfocus="document.video16.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video16.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video16.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video16.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Theming &amp; Using Public Knowledge Workbook</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=uUEw281fp4Q" target="_blank"><span class="b_link"><img name="video17" onfocus="document.video17.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video17.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video17.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video17.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Calibrating Community Conditions Webinar</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=EielV0PMh00" target="_blank"><span class="b_link"><img name="video18" onfocus="document.video18.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video18.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video18.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video18.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Theming and Using Public Knowledge Webinar</span></a>
                            </div>


                            <div class="clearfix"></div>
                            <div class="third">
                                <a id="pdfs2" href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_ConvoGuide_final_062414.pdf" target="_blank"><span class="b_link"><img name="pdf13" onfocus="document.pdf13.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf13.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf13.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf13.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Community Conversations Workbook</span></a>
                            </div>
                            <div class="third">
                                <a href="http://libraries.idaho.gov/files/ConversationGuide_final.pdf" target="_blank"><span class="b_link"><img name="pdf14" onfocus="document.pdf14.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf14.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf14.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf14.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">How Libraries Can Lead Community Conversations</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Ask Exercise.pdf" target="_blank"><span class="b_link"><img name="pdf15" onfocus="document.pdf15.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf15.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf15.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf15.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Ask Exercise</span></a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Making it Stick with Staff.pdf" target="_blank"><span class="b_link"><img name="pdfc2" onfocus="document.pdfc2.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc2.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc2.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc2.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Making It Stick <br>with Staff</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC digital workbook_Making Meaning of Data.pdf" target="_blank"><span class="b_link"><img name="pdfc3" onfocus="document.pdfc3.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc3.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc3.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc3.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Making Meaning <br>of Data</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC digital workbook_Tracking Your Progress.pdf" target="_blank"><span class="b_link"><img name="pdfc4" onfocus="document.pdfc4.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc4.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc4.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc4.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Tracking Your Progress</span></a>
                            </div>

                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div id="div3" class="targetDiv" style="display: none;">
                        <hr><p class="text-accent1">STAGE THREE: <span class="grey_text">Sharing the Findings</span></p>
                        <div class="description">
                            Share knowledge with your team and stakeholders. Evaluate your team's progress. Regularly bring members of your team together to focus on what you're learning and reconsider library practices as you go forward.
                        </div>
                        <div class="container">


                            <div class="third">
                                <a id="videos3" href="https://www.youtube.com/watch?v=p9ROcWktJiQ" target="_blank"><span class="b_link"><img name="video19" onfocus="document.video19.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video19.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video19.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video19.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Hosting and Using Innovation Spaces Webinar</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=7ukSr6RscUU" target="_blank"><span class="b_link"><img name="video20" onfocus="document.video20.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video20.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video20.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video20.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Partner Selection and Managing Relationships Webinar</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=8IXpw2iwuec" target="_blank"><span class="b_link"><img name="video320" onfocus="document.video320.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video320.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video320.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video320.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">Community Rhythms: The 5 Stages of Community Life (Rich Harwood)</span></a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=fpQHtf_vQT4" target="_blank"><span class="b_link"><img name="video321" onfocus="document.video321.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video321.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video321.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video321.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">The Sweet Spot of Public Life (Rich Harwood)</span></a>
                            </div>
                            <div class="third">
                                <a id="pdfs3" href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Innovation Spaces.pdf" target="_blank"><span class="b_link"><img name="pdf16" onfocus="document.pdf16.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf16.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf16.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf16.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Innovation Spaces</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_InnovationSpacesBehaviors_0.pdf" target="_blank"><span class="b_link"><img name="pdf17" onfocus="document.pdf17.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf17.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf17.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf17.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Innovation Spaces: Behaviors to Watch For</span></a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_Sweet Spot.pdf" target="_blank"><span class="b_link"><img name="pdf18" onfocus="document.pdf18.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf18.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf18.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf18.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Sweet Spot</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Community Rhythms Tool.pdf" target="_blank"><span class="b_link"><img name="pdfc16" onfocus="document.pdfc16.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc16.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc16.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc16.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Community Rhythms</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Public Capital Factors.pdf" target="_blank"><span class="b_link"><img name="pdfc17" onfocus="document.pdfc17.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc17.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc17.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc17.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">The Sweet Spot of Public Life (Public Capital Factors)</span></a>
                            </div>

                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div id="div4" class="targetDiv" style="display: none;">
                        <hr><p class="text-accent1">STAGE FOUR: <span class="grey_text">Taking Action</span></p>
                        <div class="description">
                            Turn insights into action. Base planning on community situation and stages. Gain a nuanced understanding of your community's "rhythms" and "sweet spots". Assess how you are integrating the turning outward approach into your ongoing work.
                        </div>
                        <div class="container">


                            <div class="third">
                                <a id="videos4" href="https://www.youtube.com/watch?v=8IXpw2iwuec" target="_blank"><span class="b_link"><img name="video21" onfocus="document.video21.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video21.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video21.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video21.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">The 5 Stages of Community Life (Rich Harwood)</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=fpQHtf_vQT4" target="_blank"><span class="b_link"><img name="video22" onfocus="document.video22.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video22.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video22.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video22.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">The Sweet Spot of Public Life (Rich Harwood)</span></a>
                            </div>
                            <div class="third">
                                <a href="https://www.youtube.com/watch?v=xjRMqhUwxaU" target="_blank"><span class="b_link"><img name="video23" onfocus="document.video23.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video23.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video23.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video23.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">The Sweet Spot of Public Life Webinar</span></a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="third">
                                <a id="pdfs4" href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Community Rhythms Tool.pdf" target="_blank"><span class="b_link"><img name="pdf19" onfocus="document.pdf19.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf19.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf19.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf19.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Community Rhythms</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Public Capital Factors.pdf" target="_blank"><span class="b_link"><img name="pdf20" onfocus="document.pdf20.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf20.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf20.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf20.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">The Sweet Spot of Public Life (Public Capital Factors)</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_CalibratingCommunityCond2.pdf" target="_blank"><span class="b_link"><img name="pdf21" onfocus="document.pdf21.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf21.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf21.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf21.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Calibrating Community Conditions</span></a>
                            </div>


                            <div class="clearfix"></div>
                            <div class="third">
                                <a href="hhttp://www.ala.org/tools/sites/ala.org.tools/files/content/Sweet Spot Webinar Links %282%29.pdf" target="_blank"><span class="b_link"><img name="pdf22" onfocus="document.pdf22.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf22.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf22.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf22.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Sweet Spot of Public LifeLinks (see "Sweet Spot" video)</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_SpaceYouOccupy.pdf" target="_blank"><span class="b_link"><img name="pdf23" onfocus="document.pdf23.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf23.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf23.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf23.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">The Space You Occupy (KNPR Story)</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_CalibratingCommunityCond4.pdf" target="_blank"><span class="b_link"><img name="pdf24" onfocus="document.pdf24.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf24.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf24.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf24.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Moving From Aspirations to Action: Steps 1-4</span></a>
                            </div>


                            <div class="clearfix"></div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC digital workbook_Making Meaning of Data.pdf" target="_blank"><span class="b_link"><img name="pdf25" onfocus="document.pdf25.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf25.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf25.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf25.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Making Meaning of Data</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC digital workbook_Tracking Your Progress.pdf" target="_blank"><span class="b_link"><img name="pdf26" onfocus="document.pdf26.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf26.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf26.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf26.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Tracking Your Progress</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Making it Stick with Staff.pdf" target="_blank"><span class="b_link"><img name="pdf27" onfocus="document.pdf27.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdf27.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdf27.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdf27.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Making It Stick with Staff</span></a>
                            </div>


                            <div class="clearfix"></div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/3As of Public Life .pdf" target="_blank"><span class="b_link"><img name="pdfc25" onfocus="document.pdfc25.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc25.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc25.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc25.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">3A’s of Public Life</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/Innovation Spaces.pdf" target="_blank"><span class="b_link"><img name="pdfc26" onfocus="document.pdfc26.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc26.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc26.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc26.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Innovation Spaces</span></a>
                            </div>
                            <div class="third">
                                <a href="http://www.ala.org/tools/sites/ala.org.tools/files/content/LTC_InnovationSpacesBehaviors_0.pdf" target="_blank"><span class="b_link"><img name="pdfc27" onfocus="document.pdfc27.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onblur="document.pdfc27.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" onmouseover="document.pdfc27.src='/Content/StateTemplate/images/services/harwood/icon_pdf_over.png'" onmouseout="document.pdfc27.src='/Content/StateTemplate/images/services/harwood/icon_pdf.png'" src="/Content/StateTemplate/images/services/harwood/icon_pdf.png" alt="pdf icon" title="pdf">Innovation Spaces: Behaviors to Watch For</span></a>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="div5" class="targetDiv" style="display: none;">
                        <hr><p class="text-accent1" id="all_webinars">2016 HARWOOD COACHING WEBINARS</p>
                        <div class="description">
                            This collection of coaching webinars with our Sacramento and Ontario regional cohorts provides an overview of the Harwood framework, along with specific techniques and strategies that can be used in your community. Please contact <a href="mailto:janet.coles@library.ca.gov">Janet Coles</a> or <a href="mailto:natalie.cole@library.ca.gov">Natalie Cole</a> at the State Library for further details.
                        </div>
                        <div class="container">


                            <div class="third">
                                <a id="all_webinars" href="/services/libraries/CA_libraries_tools_overview_webinar.mp4" target="_blank"><span class="b_link"><img name="video24" onfocus="document.video24.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video24.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video24.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video24.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">SACRAMENTO: Overview and Introduction (1 of 4)</span></a>
                            </div>
                            <div class="third">
                                <a href="/services/libraries/Sept7LibrariesTeamWebinar.mp4" target="_blank"><span class="b_link"><img name="video25" onfocus="document.video25.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video25.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video25.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video25.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">SACRAMENTO: Building a Turned Outward Team (2 of 4)</span></a>
                            </div>
                            <div class="third">
                                <a href="/services/libraries/Sept7LibrariesTeamWebinar.mp4" target="_blank"><span class="b_link"><img name="video26" onfocus="document.video26.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video26.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video26.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video26.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">SACRAMENTO: Turning Outward and Strategic Planning (3 of 4)</span></a>
                            </div>


                            <div class="clearfix"></div>
                            <div class="third">
                                <a href="/services/libraries/Nov9-applying-public-knowledge-webinar.mp4" target="_blank"><span class="b_link"><img name="video27" onfocus="document.video27.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video27.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video27.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video27.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">SACRAMENTO: Applying Public Knowledge (4 of 4)</span></a>
                            </div>
                            <div class="third">
                                <a href="https://theharwoodinstitute.adobeconnect.com/p237d77n3j2/" target="_blank"><span class="b_link"><img name="video28" onfocus="document.video28.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video28.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" " onfocus="document.video28.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video28.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">ONTARIO: Overview and Introduction <br>(1 of 4)</span></a>
                            </div>
                            <div class="third">
                                <a href="https://theharwoodinstitute.adobeconnect.com/p2yr3wb7951/" target="_blank"><span class="b_link"><img name="video29" onfocus="document.video29.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video29.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video29.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video29.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">ONTARIO: Building a Turning Outward Team (Dec. 13, 2016)</span></a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="third">
                                <a href="https://theharwoodinstitute.adobeconnect.com/p3jb97rbxe8/" target="_blank"><span class="b_link"><img name="video30" onfocus="document.video30.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video30.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video30.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video30.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">ONTARIO: Turning Outward and Strategic Planning (Jan. 10, 2017)</span></a>
                            </div>
                            <div class="third">
                                <span class="b_link"><img name="video31" onfocus="document.video31.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onblur="document.video31.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" onmouseover="document.video31.src='/Content/StateTemplate/images/services/harwood/icon_video_over.png'" onmouseout="document.video31.src='/Content/StateTemplate/images/services/harwood/icon_video.png'" src="/Content/StateTemplate/images/services/harwood/icon_video.png" alt="video icon" title="video">ONTARIO: Applying Public Knowledge (Feb. 14, 2017)</span>
                            </div>
                            <div class="third">
                                &nbsp;
                            </div>

                            <div class="clearfix"></div>

                        </div>
                    </div>

                </div>

                <p>The Harwood Public Innovation for California's Public Libraries project is supported by the U.S. Institute for Museum and Library Services under the provisions of the Library Services and Technology Act, administered in California by the State Librarian.</p>
            </div>
        </div>
    </main>
</div>

<script>

    function show1() {

        $('#div1').show();
        $('#div2').hide();
        $('#div3').hide();
        $('#div4').hide();
        $('#div5').hide();
    }

    function show2() {

        $('#div1').hide();
        $('#div2').show();
        $('#div3').hide();
        $('#div4').hide();
        $('#div5').hide();
    }

    function show3() {

        $('#div1').hide();
        $('#div2').hide();
        $('#div3').show();
        $('#div4').hide();
        $('#div5').hide();
    }

    function show4() {

        $('#div1').hide();
        $('#div2').hide();
        $('#div3').hide();
        $('#div4').show();
        $('#div5').hide();
    }

    function show5() {

        $('#div1').hide();
        $('#div2').hide();
        $('#div3').hide();
        $('#div4').hide();
        $('#div5').show();
    }

    function showAll() {

        $('#div1').show();
        $('#div2').show();
        $('#div3').show();
        $('#div4').show();
        $('#div5').show();
    }

    function hideAll() {

        $('#div1').hide();
        $('#div2').hide();
        $('#div3').hide();
        $('#div4').hide();
        $('#div5').hide();
    }
</script>