@{
    ViewBag.Title = "Library Programs Administrator Exam and Hiring Process";
    ViewBag.Author = "Jonathan Shaw";
    ViewBag.Description = "California State library programs administrator exam and hiring page.  Find info about becoming a library programs administrator here.";
    ViewBag.Keywords = "California State Library, Diital Image Reproduction, CA, Legislators, State Library, California, programs, administrator, work with  us, exam, hiring";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="State of California" />
    <meta name="Description" content="State of California" />
    <meta name="Keywords" content="California, government" />

</head>

<div id="main-content" class="main-content">
    <div class="container">
        <main class="main-primary">
            <ol class="breadcrumb dynamic"></ol>
            <h2 class="page-title">@ViewBag.Title</h2>
            <p>
                Thank you for your interest in the Library Programs Administrator job. You can find all the information you need to apply for the examination and to be considered for these jobs here.            </p>
            <p>
                <a href="~/Content/StateTemplate/pdf/programsAdministrator/LPA_Flyer.pdf">
                    About the Job
                </a>
                (PDF)
            </p>
            <h3>
                Application and Examination Instructions and Forms
            </h3>
            <ul>
                <li>
                    <a href="~/Content/StateTemplate/pdf/programsAdministrator/LPABulletin8-17.pdf">
                        Examination Bulletin
                    </a>
                </li>
                <li>
                    <a href="http://www.calhr.ca.gov/state-hr-professionals/pages/2958.aspx">
                        Class Specification
                    </a>
                </li>
                <li>
                    <a href="http://www.library.ca.gov/work-with-us/jobs/library-program-admin/apply/">
                        Exam Instructions and Supplemental Application
                    </a>
                </li>
            </ul>
            <h3>
                Contact Us Regarding the Application or Examination Process
            </h3>
            <p>
                <strong>
                    Angela Duprey
                </strong>
                <br />
                (916) 651-0337
                <br />
                <a href="mailto:Angela.Duprey@library.ca.gov">
                    Angela.Duprey@library.ca.gov
                </a>
            </p>
            <br />
        </main>
    </div>
</div>
