@{
    ViewBag.Title = "Application for BTBL Service";
    ViewBag.Author = "Jonathan Shaw";
    ViewBag.Description = "Apply for braile or talking book library service here.";
    ViewBag.Keywords = "California State Library, Diital Image Reproduction, CA, Legislators, Apply, BTBL, Braile, Talking Book, Service";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="State of California" />
    <meta name="Description" content="State of California" />
    <meta name="Keywords" content="California, government" />

</head>

<div id="main-content" class="main-content">
    <div class="container">
        <main class="main-primary">
            <div class="section">
                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">@ViewBag.Title</h2>
                <h3>Before Applying</h3>
                <p>
                    Please make sure you live in our Service Area and meet the Eligibility Requirements listed below. After BTBL has received your application, a staff member will call within 5 business days to introduce you to our service before it begins.
                </p>

            </div>
            <div class="section half">
                <p align="center">
                    <strong>Applications:</strong>
                </p>
                <p>
                    For Individuals (WORD), (PDF)
                </p>
                <p>
                    For Institutions (WORD), (PDF)
                </p>
                <IN
            </div>
        </main>
    </div>
</div>

