@{
    ViewBag.Title = "CSL - BTBL - About the Service";
    ViewBag.PageTitle = "";
    ViewBag.Author = "Alan Cleetus";
    ViewBag.Description = "BTBL has braille and audio book titles similar to what you would find at your public library. The library also offers magazines, movies, newspapers and more! Services are free to all eligible readers. Books (and the equipment needed to use the library's audio books) are mailed postage-free to and from library patrons. There are no fines or fees for overdue or lost materials. Eligible readers include Northern California residents who cannot read standard print material in the usual manner due to visual, physical, or organic dysfunction. You must obtain a signature from a competent authority (doctor, etc.) confirming your inability to read standard print material. BTBL is a branch of the California State Library which cooperates with the Library of Congress, National Library Service for the Blind and Physically Handicapped (NLS). The books and players are provided by the Library of Congress. Overview Eligibility Patron Handbook Reader Advisors About";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb ">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/BTBL/">Braille and Talking Books</a></li>
                    <li class="active">About the Service</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>



            </div>
        </div>
    </main>
</div>