@{
    ViewBag.Title = "CSL – Services for State Employees";
    ViewBag.Author = "Chris Pulido";
    ViewBag.Description = "California State Library materials, resources and services available to state government officials and employees.";
    ViewBag.Keywords = "Services, State, Employees";
    ViewBag.Image = "state_employees_top.jpg";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">California State Library Services</a></li>
                    <li>Library Services for California State Employees</li>
                </ol>

                <!--Fix links for:
                        State Library Card
                        Applying online
                        State Library Card
                        Online Catalogs
                        Borrowing Library Materials
                        Reference Assistance
                -->

                <img class="img img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/@(ViewBag.Image)" alt="Services for State Employees" />

                <p class="list-unstyled p-t-md">
                    California state government officials and employees may access California State Library catalogs, online resources and services through their worksite computers or by visiting the State Library.
                    To access these restricted resources from your personal computer or smartphone, as well as to request and borrow books and state workforce training videos and guides,
                    apply for a <a href="https://www.library.ca.gov/apply/">State Library Card</a>.
                </p>

                <p class="list-unstyled p-b-md">
                    Who may apply for a State Library Card? California State employees, state legislative staff, appointed state officials and board members,
                    officials and employees of the State Court, and faculty and staff of the University of California or California State University.
                    Obtain a State Library Card by <a href="https://www.library.ca.gov/apply/">applying online</a> or calling <a href="tel:+19166540261">(916) 654-0261</a>.
                </p>

                <div class="group">
                    <div class="half">
                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/card.jpg" alt="California State Library card">
                            <div class="card-block">
                                <h4 class="card-title">State Library Card</h4>
                                <p>Gives you access from your personal smartphone or computer to the State Library’s online catalogs of historical photos, documents and books as well as access to restricted online resources and databases. A State Library Card also allows you to request and borrow current books, journals and magazines from the State Library or from most California public universities and libraries through our Interlibrary Loan Service.</p>
                                <a href="https://www.library.ca.gov/apply/" class="btn btn-default">APPLY NOW</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/online_resources.jpg" alt="Online Resources">
                            <div class="card-block">
                                <h4 class="card-title">Online Resources</h4>
                                <p>Get access to <a href="/services/online-resources/" target="_blank">online resources and searchable databases</a> of full-text articles of newspapers, magazines and journals; e-books from industry-leading technical publishers; ordinances from California cities, counties and the state; U.S. and state demographic and government statistical information and data tools; and many more resources that augment the collections of the California State Library.</p>
                                <a href="/services/online-resources/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/interlibrary_borrowing.jpg" alt="Books on the shelf">
                            <div class="card-block">
                                <h4 class="card-title">Interlibrary Borrowing</h4>
                                <p>California State Library cardholders may request items not available in the California State Library's collections from other libraries through the Interlibrary Loan Service. Other libraries will generally loan materials that they circulate to their own borrowers. Often excluded are: textbooks, reference books, course reserve books, rare books, recently published books, microfilm, dissertations, technical reports, and audiovisual material. Libraries usually supply a scanned PDF copy of a journal article rather than loan a journal.</p>
                                <a href="" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/employee_training.jpg" alt="keyboard">
                            <div class="card-block">
                                <h4 class="card-title">Employee Training Collection</h4>
                                <p>The California State Library provides state trainers and other workforce leaders with access to an extensive collection of books, videos, civil service exam study guides and other training materials on interviewing skills, supervision, motivation, communication skills, management techniques, teamwork, presentations, and many other workplace topics. </p>
                                <a href="/services/to-state-employees/state-training-videos/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/research.jpg" alt="research">
                            <div class="card-block">
                                <h4 class="card-title">California Research Bureau</h4>
                                <p>Customized, nonpartisan and timely research and reference help for members and staff of the Legislature and Governor's Office. The Research Bureau also provides quality assessments of third-party data or research, 50-state reviews to compare and contrast policies, district profiles, as well as many additional services and two weekly newsletters on studies relevant to California public policy and policy discussions around the Capitol.</p>
                                <a href="/crb/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="half">
                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/online_catalogs.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Online Catalogs</h4>
                                <p>Find books, documents, legal materials, magazines, journals, photographs, manuscripts, maps, videos, audio books available to eligible users of the National Library Service for the Blind and Physically Handicapped, and more in the collections of the California State Library, including the Sutro Library in San Francisco.</p>
                                <a href="http://catalog.library.ca.gov/" class="btn btn-default">GO TO CATALOG</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/borrowing_materials.jpg" alt="BTBL">
                            <div class="card-block">
                                <h4 class="card-title">Borrowing Library Materials</h4>
                                <p>Those with a State Library Card may borrow books and other materials directly from the State Library. The loan period for most books is five weeks and for most periodicals, three weeks. Some legal materials have one-week loan periods. Special extended loans are also available for many materials.</p>
                                <a href="" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/reference_assistance.jpg" alt="reference">
                            <div class="card-block">
                                <h4 class="card-title">Reference Assistance</h4>
                                <p>Our skilled librarians can assist you in locating journal and newspaper articles, reports, government documents, and legal materials. Depending on the complexity, your request may require up to several days to answer. Submit requests online at <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref" target="_blank">Ask A Librarian</a>, by email at <a href="mailto:cslinfo@library.ca.gov">cslinfo@library.ca.gov</a>, or by phone at 916-654-0261. Members and staff of the state Legislature and Governor's Office may contact the <a href="/crb/">California Research Bureau</a> for expedited reference services: by telephone at <a href="tel:+19163192691">916-319-2691; or by email at <a href="mailto:crb@library.ca.gov">crb@library.ca.gov</a>.</p>
                                <a href="" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/state_docs.jpg" alt="research">
                            <div class="card-block">
                                <h4 class="card-title">State Documents</h4>
                                <p>Since 1850, the California State Library has collected legislative proceedings, hearings, and research reports; state agency reports; environmental impact reports; budgets and financial reports; statistical compilations; directories and organization charts; and periodicals. For more information on State Documents, please contact the Government Publications Section by telephone at <a href="tel:+19166540261">916-654-0261</a> or by e-mail at <a href="mailto:cslgps@library.ca.gov">cslgps@library.ca.gov</a>.</p>
                                <a href="/government-publications/state-document-depository-program/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="width: 623px; height: 490px;">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/toStateEmployees/art_legislators.jpg" alt="California State Fair poster, 193-?">
                            <div class="card-block">
                                <h4 class="card-title">Art For Legislators</h4>
                                <p>At the request of California legislators, the California State Library provide reproductions of images in its collections that can be used to adorn the walls of your office. View a <a href="http://www.library.ca.gov/art/">sampling of the images</a> that can be duplicated at your request and for information on requesting an image.</p>
                                <a href="/art/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

