@{
    ViewBag.Title = "CSL - Genealogy Indexes - CA History Room";
    ViewBag.PageTitle = "County Genealogy Indexes";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Trying to track down a relative but not having luck online? The California History Room's vital statistics and cemetery records may have what you’re looking for!";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/collections/">Our Collection</a></li>
                    <li><a href="/california-history/">California History</a></li>
                    <li><a href="/california-history/genealogy">Genealogy</a></li>
                    <li class="active">County Genealogy Indexes</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <div class="two-thirds">

                    <p>
                        We are proud to be the custodians of over 500 local genealogy indexes in addition to our own <a href="/california-history/unique-indexes">unique files</a>, <a href="/california-history/newspapers">newspapers</a>, and many other state-wide <a href="/california-history/genealogy">genealogy resources</a>. A portion of these indexes are listed below by county. If you would like more information about these resources, please feel free to <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref" target="_blank">ask us a question</a>.
                    </p>

                </div>

                <div class="third">
                    <div class="autoLoop carousel owl-carousel carousel-content">
                        <div class="item">
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/genealogycountyindexes/1.png" alt="county index" />
                        </div>

                        <div class="item">
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/genealogycountyindexes/2.png" alt="county index" />
                        </div>

                        <div class="item">
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/genealogycountyindexes/3.png" alt="county index" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section">
            <div class="container">

                <!--county section1-->
                <div class="half">
                    <div class="panel panel-overstated highlight">
                        <div class="panel-heading">
                            <h3><span class="ca-gov-icon-ca-state"></span> Alameda-Fresno Counties</h3>
                        </div>
                        <div class="panel-body">

                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Alameda)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Alameda</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Alpine)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Alpine</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Amador)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Amador</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Butte)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Butte</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Calaveras)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Calaveras</a></li>
                                </ul>
                            </div>
                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Colusa)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Colusa</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Contra%20Costa)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Contra Costa</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Del%20Norte)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Del Norte</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(El%20Dorado)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">El Dorado</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Fresno)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Fresno</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

                <!--county section2-->
                <div class="half">
                    <div class="panel panel-overstated highlight">
                        <div class="panel-heading">
                            <h3><span class="ca-gov-icon-ca-state"></span> Glenn-Madera Counties</h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <div class="half">
                                    <ul>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Glenn)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Glenn</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Humboldt)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Humboldt</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Imperial)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Imperial</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Inyo)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Inyo</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Kern)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Kern</a></li>
                                    </ul>
                                </div>
                                <div class="half">
                                    <ul>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Kings)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Kings</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Lake)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Lake</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Lassen)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Lassen</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Los%20Angeles)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Los Angeles</a></li>
                                        <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Madera)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Madera</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <!--county section3-->
                <div class="half">
                    <div class="panel panel-overstated highlight">
                        <div class="panel-heading">
                            <h3><span class="ca-gov-icon-ca-state"></span> Marin-Orange Counties</h3>
                        </div>
                        <div class="panel-body">

                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Marin)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Marin</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Mariposa)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Mariposa</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Mendocino)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Mendocino</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Merced)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Merced</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Modoc)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Modoc</a></li>
                                </ul>
                            </div>
                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Mono)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Mono</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Monterey)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Monterey</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Napa)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Napa</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Nevada)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Nevada</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Orange)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Orange</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!--county section4-->
                <div class="half">
                    <div class="panel panel-overstated highlight">
                        <div class="panel-heading">
                            <h3><span class="ca-gov-icon-ca-state"></span> Placer-San Luis Obispo Counties</h3>
                        </div>
                        <div class="panel-body">

                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Placer)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Placer</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Plumas)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Plumas</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Riverside)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Riverside</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Sacramento)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Sacramento</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(San%20Benito)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">San Benito</a></li>
                                </ul>
                            </div>
                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(San%20Bernardino)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">San Bernardino</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(San%20Diego)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">San Diego</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(San%20Francisco)%20And%20((WSU%20=%20(%20genealogy%20)%20or%20WSU%20=%20(%20indexes%20)%20or%20WSU%20=%20(%20births%20)%20or%20WSU%20=%20(%20registers%20))))&amp;local_base=calif" target="_blank">San Francisco</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(San%20Joaquin)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">San Joaquin</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(San%20Luis%20Obispo)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">San Luis Obispo</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <!--county section5-->
                <div class="half">
                    <div class="panel panel-overstated highlight">
                        <div class="panel-heading">
                            <h3><span class="ca-gov-icon-ca-state"></span> San Mateo-Stanislaus Counties</h3>
                        </div>
                        <div class="panel-body">

                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(San%20Mateo)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">San Mateo</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Santa%20Barbara)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Santa Barbara</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Santa%20Clara)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Santa Clara</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Santa%20Cruz)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Santa Cruz</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Shasta)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Shasta</a></li>
                                </ul>
                            </div>
                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Sierra)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Sierra</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Siskiyou)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Siskiyou</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Solano)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Solano</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Sonoma)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Sonoma</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Stanislaus)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Stanislaus</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

                <!--county section6-->
                <div class="half">
                    <div class="panel panel-overstated highlight">
                        <div class="panel-heading">
                            <h3><span class="ca-gov-icon-ca-state"></span> Sutter-Yuba Counties</h3>
                        </div>
                        <div class="panel-body">

                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Sutter)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Sutter</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Tehama)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Tehama</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Trinity)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Trinity</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Tulare)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Tulare</a></li>
                                </ul>
                            </div>
                            <div class="half">
                                <ul>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Tuolumne)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Tuolumne</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Ventura)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Ventura</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Yolo)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Yolo</a></li>
                                    <li><a href="https://catalog.library.ca.gov/F/?func=find-c&amp;ccl_term=(WSU=(Yuba)%20And%20((WSU%20=%20(%20genealogy%20county%20)%20or%20WSU%20=%20(%20county%20indexes%20)%20or%20WSU%20=%20(%20county%20births%20)%20or%20WSU%20=%20(%20county%20registers%20))))&amp;local_base=calif" target="_blank">Yuba</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


            </div>

        </div>
    </main>
</div>


