@{
    ViewBag.Title = "CSL - Events - CA History Room";
    ViewBag.PageTitle = "Genealogy";
    ViewBag.Author = "Alan Cleetus";
    ViewBag.Description = "Speeches, tours and more! Read about California History Room events and schedule your own event with us!";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <h2>Genealogy</h2>
    </main>
</div>

