@{
    ViewBag.Title = "CSL - California Genealogy - CA History Room";
    ViewBag.PageTitle = "Genealogy in the California History Section";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Doing genealogy research? Check the California History Room! We have city directories, census data, vital statistics, telephone books, newspapers, and more!";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/collections/">Our Collection</a></li>
                    <li><a href="/california-history/">California History</a></li>
                    <li class="active">Genealogy</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <div class="animated fadeInRight">
                    <div class="autoLoop carousel owl-carousel carousel-content">
                        <div class="item">
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/genealogy/bigler.jpg" alt="bigler" />
                        </div>

                        <div class="item">
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/genealogy/miner.jpg" alt="miner" />
                        </div>

                        <div class="item">
                            <img src="~/Content/StateTemplate/images/caliorniaHistory/genealogy/sutro.jpg" alt="sutro" />
                        </div>
                    </div>

                </div>

                <p>
                    The California State Library houses a treasure trove of genealogical information including biographies, census data, obituaries and even portraits! Our vast collections of rare genealogy publications, city directories and unique indexes make this library a must-stop for any genealogist.
                </p>
               
            </div>
        </div>

        <div class="section section-default">
            <div class="container">

                <div class="half">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h3>California History Section</h3>

                        </div>
                        <div class="panel-body">

                            <p>
                                The <a href="/california-history/">California History Section</a> provides specialized California genealogy resources such as:
                            </p>


                            <ul>
                                <li><a href="/california-history/research-guides">Research guides</a> and <a href="/california-history/unique-indexes">specialized indexes</a></li>
                                <li>3,000 <a href="http://dbs.library.ca.gov/dbtext_html/QueryCityDir.htm" target="_blank">City and County directories</a></li>
                                <li>13,500 <a href="http://dbs.library.ca.gov/dbtext_html/QueryPhonebk.htm" target="_blank">Telephone directories</a></li>
                                <li>
                                    2,000 California <a href="/california-history/newspapers">newspapers</a>
                                </li>
                                <li>City &amp; County Histories</li>
                                <li><a href="/california-history/genealogy/county-indexes">Genealogy, historical, and lineage society publications</a></li>
                            </ul>


                        </div>
                    </div>

                </div>
                <div class="half">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Sutro Library</h3>

                        </div>
                        <div class="panel-body">

                            <p>
                                The <a href="/sutro/">Sutro Library</a> houses the majority of our non-California genealogy resources including:
                            </p>


                            <ul>
                                <li>18,000 telephone and city directories</li>
                                <li>4,000 family histories</li>
                                <li>Tax, voting, and property records</li>
                                <li>Military and business registries</li>
                                <li>Genealogy, historical, and lineage society publications</li>
                                <li>City &amp; County Histories</li>
                            </ul>


                        </div>
                    </div>
                    </div>
                </div>
        </div>

        <div class="section">
            <div class="container">
                <p>
                    All of our branches provide in-house access to a number of <a href="/services/online-resources">databases</a> including genealogy databases.
                </p>

                <p>
                    The California State Library is happy to offer advice on researching family history but we lack the staff resources to provide private family research services. If you are working remotely, we would be delighted to help you access materials through inter-library loan or provide a list of private researchers. Please feel free to <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?" target="_blank">ask us a question</a> or <a href="/california-history/visiting">visit</a> the library.
                </p>



            </div>
        </div>

    </main>
</div>

