
@{
    ViewBag.Title = "Error";
}

<div id="main-content" class="main-content" style="background-color:red">
    <main class="main-primary" style="background-color:red">
        <h2>Error</h2>
    </main>
</div>

