<div class="site-settings section section-standout" role="alert" id="intro">
    <div class="container  p-y">
        <div class="row">
            <!--title of page-->
            <div class="section-title col-md-6 col-sm-12 col-xs-12">
                <h2 class="orange" id="title">Introduction</h2>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#intro" aria-expanded="false" aria-controls="intro" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#intro" aria-expanded="false" aria-controls="intro" aria-label="Close"><span class="ca-gov-icon-close-mark" aria-hidden="true"></span> Close</a>

            </div>
        </div>




            <div class="container">
                <div class="panel-group" id="personal-accordion" role="tablist" aria-multiselectable="true" >
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed anchor" data-toggle="collapse" data-parent="#example-accordion" style="color:black" href="#collapseIntroduction" aria-expanded="false" aria-controls="collapseIntroduction<" name="choice">Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseIntroduction" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body" style="color:black" >
                                <p>
                                    When James Wilson Marshall saw something golden shining in the tailrace at Sutter's Mill, he not only set off a worldwide rush to California
                                    but also touched off the greatest writing and artistic frenzy in our nation's history. Newspapers, guidebooks, government reports, sermons,
                                    diaries, and letters written home all spread the word about a land where golden dreams could be realized. Artists through sketches, paintings,
                                    prints, pictorial letter sheets, birds-eye views, and illustrations for books likewise gave visual meaning to this new El Dorado. Nineteen
                                    ninety-eight commemorates the discovery of a precious mineral, but as historian John Walton Caughey so eloquently noted in 1948, this anniversary
                                    also marks a momentous cultural and intellectual awakening. It is only appropriate that the California State Library should create this exhibit
                                    since the institution itself got its start during the height of the Gold Rush. Many libraries and archives across the country from Yale University
                                    to the Henry E. Huntington Library preserve formidable collections of Gold Rush material, but the State Library's direct relationship to Marshall's
                                    earthshaking discovery gives it a unique role in this sesquicentennial year. Without the mad scramble to our golden shore, California would not have
                                    been admitted into the Union so quickly and the institution of the State Library would not have come into being as it is presently constituted.
                                </p>

                                <p>
                                    The goal of the exhibit is many fold: provide an overview of the Gold Rush, emphasize the strength of the Library's collection, and incorporate
                                    items that will simultaneously delight, surprise, and inform. In creating this exhibit, the varieties and richness of the material proved to be
                                    both a joy and challenge. Literally, I scrutinized hundreds of items and explored various themes. Unavoidably, because of space limitations, many
                                    choice documents and topics were grudgingly set aside. It is no accident that so much documentation exists about the run for gold. In fact, it
                                    could be argued that the California Gold Rush stands as the best documented event in our state's history. There are many reasons for this. Most
                                    importantly, though, the Gold Rush took place when people commonly kept diaries and wrote detailed letters. Fortunately for us, many Argonauts
                                    possessed exceptional powers of description, the ability to express philosophical thoughts, and the gift to record what they saw with drama,
                                    emotion, and on occasion with humor. Because the Gold Rush represented the adventure of a lifetime, participants, through letters and diaries,
                                    eagerly shared their experiences with friends and relatives and made sure that their writings would be preserved for future generations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="container">
                <div class="panel-group" id="children-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title" >
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#example-accordion" href="#collapseGathering" aria-expanded="false" aria-controls="collapseGathering" name="Gathering" style="color:black">A Gathering of Gold Rushiana</a>
                            </h4>
                        </div>
                        <div id="collapseGathering" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body" style="color:black">
                                <p>
                                    The exhibit features many examples drawn for the California History Section's extensive manuscript collections. Scores of Gold Rush manuscript collections
                                    holding thousands of letters were examined. Included are such treasures as Marshall's own map showing where he discovered gold, pioneer preacher Joseph A.
                                    Benton's journals of his voyage to California and his first years in Sacramento looking for souls instead of gold, and letters to his mother by Sacramento's
                                    first historian, Dr. John F. Morse. Letters by those less well known, however, vividly tell us of the travel to California by land and sea and then the cold
                                    reality of the diggings and its hardships, loneliness, lawlessness, and disappointments. Printed books, pamphlets, periodicals, and newspapers, of course,
                                    form a major component of any Gold Rush exhibition. These printed sources, more than any single medium, spread the news and influenced would-be gold seekers.
                                </p>

                                <p>
                                    Bayard Taylor's El Dorado, the best seller of the Gold Rush; Dame Shirley's celebrated letters from Rich Bar which appeared in California's first periodical,
                                    The Pioneer, and the Journal of the Hartford Union Mining Company, actually printed on board a California bound ship in 1849, serve as a solid foundation of
                                    early eyewitness accounts. An array of rare guidebooks, foreign language works, and printed pamphlets issued by mining companies supplement these seminal
                                    publications. The very first issue of the Panama Star, an American newspaper printed in Panama, records the importance of that narrow isthmus as a link between
                                    the United States and its new mineral-rich territory. The gold discovery and its immediate aftermath took place when the visual means of mass communication
                                    was making great strides. Lithographs and wood engravings gave visual credence to the incredible news that poured out of California. Artists were not immune
                                    to gold fever and some real talent came to California first to hunt for gold, and then finding this to be hard and unproductive work, turned back to their
                                    god-given natural abilities. Charles Christian Nahl, Harrison Eastman, John David Borthwick, and George Holbrook Baker, to name just a few, produced memorable
                                    images that publishers even to this day reproduce over and over. The result of all of this made the Gold Rush one of the first important episodes in our history
                                    recorded visually and systematically by its participants. Consequently, pencil sketches, pictorial letter sheets, illustrations found in books and newspapers,
                                    and birds-eye views of cities and towns form an essential component of this display. One other form of visual documentation emerged, photography namely in the
                                    form of the daguerreotype. The Gold Rush represented the first important event in our nation's past to be captured by photography. Those one-of-a-kind, silvery,
                                    mirror-like images held together in beautiful, protective leather cases provide a breathtaking, crystal clear view of life during that rambunctious era. Certainly
                                    a highlight of California As We Saw It are the exquisite open air daguerreotypes of mining operations near Georgetown and Nevada City attributed to J. B. Starkweather.
                                    Daguerrian portraits of men and women put a human face on that golden era. Last, we have supplemented the above objects with what rare book and history librarians
                                    call ephemera, items that were meant to last only a moment. Judiciously placed throughout the display are wonderful examples of Gold Rush sheet music, stock
                                    certificates, broadsides, printed receipts for gold bullion, illustrated postal covers, and a rare clipper card (advertising a voyage to California). These
                                    transitory items, held and read by the gold hunters, give as much meaning to the display as rare books and manuscripts.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="container">
                <div class="panel-group" id="info-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#example-accordion" style="color:black" href="#collapseThemes" aria-expanded="false" aria-controls="collapseThemes" name="info">Some Themes Explored</a>
                            </h4>
                        </div>
                        <div id="collapseThemes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body" style="color:black">
                                <p>
                                    Several topics apart from the discovery and long journey to California and the diggings have been developed. The title
                                    of J. S. Holliday's brilliant book, The World Rushed In, provided inspiration for two exhibit cases. One case is devoted
                                    to accounts and guidebooks published in England, France, Australia, and Germany. Another features the experiences of
                                    women, African Americans, and Chinese. One remarkable manuscript consists of a bill of sale whereby a slave imported by
                                    his Southern master to hunt for gold buys his freedom for $1,000. Within a couple years after the discovery, miners
                                    extracted gold from the earth by working in teams and then by forming companies. Turning rivers with dams, delivering
                                    water by flumes to wash away the hillsides in search of gold, and setting up stamp mills to crush the ore was not a
                                    simple, individual endeavor.
                                </p>
                                <p>
                                    This mechanization of mining and the need to raise capital is documented by manuscripts and printed by-laws, articles
                                    of incorporation, mining claims, and bills of sale. A selection of beautifully engraved early stock certificates provides
                                    visual evidence of the financing needed to work the mines. The need to supply the mines gave rise to instant cities and
                                    mining camps. While San Francisco emerged as El Dorado's most important port and city, Sacramento also experienced unbelievable
                                    growth. On display are a sampling of books, letters, sketches documenting Sacramento's transformation from the citadel of
                                    Captain Sutter's New Helvetia empire to a vital entrepot to the northern mines. Highlights include the first Sacramento
                                    directory by Horace Culver, a broadside proclamation concerning the formation of city government in 1849, and one of the
                                    earliest known sketches of its famed embarcadero by George Holbrook Baker. Not all was seriousness when it came to looking
                                    for gold. The gold mania spawned a series of satirical prints and books by the likes of Alfred Crowquill, Jeremiah
                                    Saddlebags, and Old Block. A centerpiece is a beautiful hand-colored lithograph entitled the "Independent Gold Hunter
                                    on His Way to California." Crowned with a pot, the bespectacled gold hunter is loaded down with every conceivable appliance
                                    and weapon including a set of gold scales from which hangs a strong of sausage, dried fish, and a tea kettle. A rare series
                                    of hand-colored lithographs by two Cuban artists gives a light-hearted look at a group of miners who evidently had made their
                                    pile and enjoyed the fruits of their labor.
                                </p>
                                <p>
                                    California as We Saw It could not have been put together without the able and cheerful assistance of Gerrilee Hafvenstein
                                    of the Library's Preservation Office. Her skill in preserving and preparing materials for display earns my constant gratitude
                                    and admiration. To coin an appropriate phrase, she has a golden touch. The following describes the one hundred plus items that
                                    comprise the display. Since most of readers cannot visit the Library's gallery, it is hoped that this compilation will provide
                                    a sense of the display and a permanent record of a truly remarkable grouping of primary source material. As demonstrated by
                                    this exhibit, James Marshall's discovery produced not only treasure in the form of yellow metal but also the foundation for
                                    the Library's great California history collection.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />



    </div>
</div>


