@{
    ViewBag.SectionTitle = "Section VI. The Miners' Ten Commandments";
}
<div class="site-settings section collapse collapsed" role="alert" id="section6">
    <div class="container  p-y">
        <div class="row">
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section6" aria-expanded="false" aria-controls="section6" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll3').offset().top -150}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Previous Section">Previous Section<span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section6" aria-expanded="false" aria-controls="section6" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section7" aria-expanded="false" aria-controls="section7" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section6" aria-expanded="false" aria-controls="section6" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>
         
        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>The Miners' Ten Commandments</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section6/miner_pioneer.jpg" target="_blank">The Miners' Pioneer Ten Commandments of 1849</a></li>
                        <li><b>Copyrighted 1887 by W. P. Bennett, Gold Hill Nevada</b></li>
                        <li><b>Kurz & Allison's Art Studio, Chicago, U. S. A.</b></li>
                    </ul>
                    <p>
                        Inspired by James Mason Hutchings' famous letter sheet, The Miners' Ten Commandments (1853), this beautifully colored 1887 print features 14 vignettes illustrating mining scenes, mining camps, seeing the elephant, a miner's dance, gamblers in a saloon, and crossing the plains. A version of Hutchings' text is included.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section6/miner_pioneer.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>James Mason Hutchings</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section6/hutchings.jpg" target="_blank">The Miners' Ten Commandments</a></li>
                        <li><b>Placerville, 1853</b></li>
                    </ul>
                    <p>
                        Hutchings' letter sheet became a veritable best seller yielding sales of close to 100,000 copies. The Library also has variant copies and the companion letter sheet, Commandments to California Wives. The letter sheet included such pearls of wisdom as: "Thou shalt have no other claim than one"; "Thou shalt not remember what thy friends do at home on the Sabbath Day"; "Thou shalt not grow discouraged, nor think of going home before thou hast made thy 'pile'"; "Thou shalt not steal a pick, or a shovel, or a pan from thy fellow miner"; and "Thou shalt not tell any false tales about 'good diggings in the mountains.'" Vignettes surrounding the text illustrate each commandment. The center illustration is an elephant with its trunk pointing at the commandments.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section6/hutchings.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Cadez Orion</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section6/orion.jpg" target="_blank">Miners' Ten Commandments. A New Verse-Ion, Including a Preamble</a></li>
                        <li><b>San Francisco: Lithograph by Britton & Rey</b></li>
                    </ul>
                    <p>
                        Cadez Orion rewrote Hutchings' commandments with an expanded text and by-laws. Its central illustation consists of a Moses-like figure standing on top of an elephant holding the tablets. The other two illustrations depict a miner cooking and another washing in a stream with a shirt hanging from a tree.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section6/orion.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


