@{
    ViewBag.SectionTitle = "Section II. By Sea to the Golden Land";
}
<div class="site-settings section  collapse collapsed" role="alert" id="section2">
    <div class="container  p-y">
        <div class="row"> 
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll3').offset().top + 600}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>
            </div>
        </div>


        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Hutchings' Panoramic Scenes</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/hutchings.jpg" target="_blank">Hutchings' Panoramic Scenes. - Crossing the Plains</a></li>
                        <li><b>Views Drawn from Nature in 1853 by George Holbrook Baker</b></li>
                        <li><b>Placerville: J. M. Hutchings, c. 1854</b></li>
                    </ul>
                    <p>
                        George Holbrook Baker, one of the most important Gold Rush artists, created this famous pictorial letter sheet. Baker delineated 13 scenes associated with the overland trek including encampments, buffalo hunts, pioneers' encounters with the Indians, driving stock, and leading landmarks such as Scott's Bluff and Chimney Rock.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/hutchings.jpg');">

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

