@{ 
    ViewBag.SectionTitle = "Section I. The Great Discovery";
}

<div class="site-settings section section-standout collapse collapsed" role="alert" id="section1">
    <di class="container  p-y">
        
        <div class="row"> 

            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#intro" aria-expanded="false" aria-controls="intro" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>
        
        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>
        <div style="height:200px;">
            <div class="container">
                 <div class="panel panel-default photo-left">
                    <div class="panel-heading" style="color:orange">
                        <h4>James Wilson Marshall</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="~/Content/StateTemplate/images/CAGoldRush/section1/mashall_1.jpg" target="_blank">Untitled manuscript map of the gold discovery site, a portion of the Coloma Valley, and location of Sutter's Mill.</a></li>
                            <li><b>No date. 14 x 25 in.</b></li>
                        </ul>
                        <p>
                            Drawn by James Wilson Marshall, the gold discoverer himself, the map depicts the Coloma Valley with the south fork of the American River and shows mountains, gulches, trees, and brush. Despite its crude appearance, the map, according to Marshall's biographer Theressa Gay, was fairly accurate. Marshall apparently made the map sometime after the discovery but an exact date cannot be determined.
                        </p>
                        <p>
                            The map was found in a desk at his cabin in Kelsey (near Placerville) after his death. John Sipp, who purchased the cabin at an administrator's sale, gave the map to the State Library in 1910 along with a double-sided drawing of the mill by Marshall. According to cartobibliographer Carl I. Wheat, Marshall's map ranks as one of the most important documents in the State Library's collections.
                        </p>

                        <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section1/mashall_1.jpg');">

                        </div>
                    </div>
                 </div>
            </div>
      </div>
</div>


