@{
    ViewBag.SectionTitle = "Section VIII. An Instant City: Sacramento";
}
<div class="site-settings section section-standout collapse collapsed" role="alert" id="section9">
    <div class="container  p-y">
        <div class="row">
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section9" aria-expanded="false" aria-controls="section9" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll6').offset().top -150}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section8" aria-expanded="false" aria-controls="section8" aria-label="Previous Section">Previous Section<span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section9" aria-expanded="false" aria-controls="section9" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section10" aria-expanded="false" aria-controls="section10" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section9" aria-expanded="false" aria-controls="section9" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>

        <div class="row" role="group">
            <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>
            <p>Here is some contnent9</p>
            <div style="height:200px; background-color:red">

            </div>
        </div>

    </div>
</div>


