@{
    ViewBag.SectionTitle = "Section IX. The Northern Mines";
}
<div class="site-settings section collapse collapsed" role="alert" id="section10">
    <div class="container  p-y">
        <div class="row">
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section10" aria-expanded="false" aria-controls="section10" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section9" aria-expanded="false" aria-controls="section9" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section10" aria-expanded="false" aria-controls="section10" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section10" aria-expanded="false" aria-controls="section10" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>



        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Feather & Yuba Rivers</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section10/feather_yuba_river.jpg" target="_blank">A Complete Map of the Feather & Yuba Rivers with Towns, Ranches, Diggings, Roads, Distances</a></li>
                        <li><b>Compiled from the Recent Surveys of M. Milleson & R. Adams C. Engineers</b></li>
                        <li><b>Marysville: R. A. Eddy Book & Stationer, 1851</b></li>
                        <li><b>Lithograph. 16 x 21 in.</b></li>
                    </ul>
                    <p>
                        Carl Wheat, in his monumental Maps of the California Gold Region wrote the following concerning this rare map: "For the first time the rapidly expanding 'northern diggins' were accorded adequate cartographical expression, and numerous place names made their first appearance upon Eddy's well constructed map." Note the vignette of Eddy's Marysville book store.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section10/feather_yuba_river.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>The Steamboat Linda</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section10/capt_tate.jpg" target="_blank">Linda, [with] Capt. William Tate, Will Leave for Marysville, Yuba City, Eliza and Intermediate Points . . . . Sacramento City, January 11, 1850</a></li>
                    </ul>
                    <p>
                        Transportation of passengers and supplies to the mines by river developed rapidly as demonstrated by this rare broadside. The steamer Linda included the town of Eliza on her route. Named for Captain Sutter's daughter, Anna Eliza, the town was founded on the Feather River near Sutter's Hock Farm. Its developers hoped to displace Marysville and Yuba City as the head of navigation for the northern mines. Eliza, however, quickly failed.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section10/capt_tate.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>THE FOUNDING OF MARYSVILLE</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section10/marysville.jpg" target="_blank">Numbers of the Lots which the Undersigned Have Unanimously Agreed to Take for Themselves in the New City of Jubaville</a></li>
                        <li><b>c. October 1849. 1 p.</b></li>
                    </ul>
                    <p>
                        The sale of lots as recorded in this manuscript, documents the beginnings of the most prominent town north of Sacramento. Charles Covillaud, a Frenchman, with Jose M. Ramirez, John Sampson, and Theodore Sicard formed a partnership known as Covillaud & Co. to purchase the original land grant of Theodore Cordua. Located at the head of steamboat navigation at the confluence of the Feather and Yuba rivers, the town rivaled its neighbor, Yuba City. Its founders originally called the town Jubaville and then Yubaville but in January 1850, changed its name to the less confusing Marysville, named in honor of Covillaud's wife, Mary Murphy Covillaud. She was also a survivor of the Donner Party.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section10/marysville.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


