@{
    ViewBag.SectionTitle = "Section V. Gold Mania Satirized";
}
<div class="site-settings section collapse collapsed" role="alert" id="section5">
    <div class="container  p-y">

        <div class="row">
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section4" aria-expanded="false" aria-controls="section4" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll6').offset().top - 150}, 0);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section6" aria-expanded="false" aria-controls="section6" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>

        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Gold Mania</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/gold_hunter.jpg" target="_blank">Independent Gold Hunter on His Way to California</a></li>
                        <li><b>New York: Kelloggs and Comstock; Buffalo: Ensign & Thayer,c. 1850</b></li>
                        <li><b>Hand-tinted lithograph. 12 x 8 in.</b></li>
                    </ul>
                    <p>
                        The gold mania of 1848 and 1849 inspired a number of satirical cartoons such as this comical print. The gold hunter is loaded down with every conceivable appliance much of which would be useless in California. The prospector wryly states: "I am sorry I did not follow the advice of Granny and go around the Horn, through the Straights, or by Chagres [Panama]." The Library possesses another version in black and white.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/gold_hunter.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Nathan Currier</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/nathan_currier.jpg" target="_blank">California Gold</a></li>
                        <li><b>New York, c. 1849.</b></li>
                    </ul>
                    <p>
                        The caption for this humorous drawing reads: "An accurate drawing of the famous hill of gold, which has been put into a scow by the owner, and attached to a Sperm Whale who is now engaged in towing it around the Horn for New York." Nathan Currier, the famed American print maker, published this or a similar illustration as a lithograph in 1849.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/nathan_currier.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Francis Elton</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/francis_elton.jpg" target="_blank">Elton's Californian Comic All-My-Nack</a></li>
                        <li><b>New York: Elton, 1850</b></li>
                        <li><b>Wrappers. 36 p.</b></li>
                    </ul>
                    <p>
                        The subtitle of this humorous work reads: "Fun from the Hatlantic to the Specific Oceans." Elton's "All-My-Nack" is filled with words and scenes satirizing the gold mania in "Kaliforny."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/francis_elton.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Alfred Henry Forrester</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/forrester.jpg" target="_blank">A Good Natured Hint about California. By Alfred Crowquill</a></li>
                        <li><b>London: D. Bogue, 1849</b></li>
                        <li><b>Wrappers. 8 p.</b></li>
                    </ul>
                    <p>
                        This satirical English publication, through a series of cartoon-like scenes, chronicles the trip by "Mivins" to the gold fields, his inevitable trials and tribulations, and his joyous return home.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/forrester.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>James A. and Donald F. Read</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/read.jpg" target="_blank">Journey to the Gold Diggings. By Jeremiah Saddlebags</a></li>
                        <li><b>Cincinnati: Stringer & Townsend, 1849. 64 p.</b></li>
                    </ul>
                    <p>
                        Noted Californiana collector, Thomas W. Norris wrote that the volume constitutes "the first record of, in typical American caricature, of the immense national effect produced by the great discovery of 1849." Saddlebags, in this amusing series of cartoons, came to California via the Isthmus of Panama and returned home overland, the opposite of most. Of course, he experiences wild adventures and barely escapes a variety of calamities.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/read.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Alonzo Delano</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/delano_1.jpg" target="_blank">Pen-Knife Sketches. Or Chips of the Old Block</a></li>
                        <li><b>A Series of Original Letters, Written by One of California's Pioneer Miners, and Dedicated to That Class of Her Citizens by the Author</b></li>
                        <li><b>Sacramento: Published at the Union Office, 1854. Second edition Wrappers. 112 p.</b></li>
                    </ul>
                    <p>
                        According to historian Ezra Dane, Delano "was the first truly Californian man of letters, and no one has described or interpreted the human elements of the Gold Rush so sympathetically as he." The Union published 16,000 copies of the first edition of Delano's (Old Block) letters in 1853. Its success merited a second edition the following year. As with other Delano publications, the Union employed Thomas Armstrong to produce full-page wood engravings from drawings created by the great artist of the Gold Rush, Charles Nahl.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/delano_1.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Alonzo Delano</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/delano_2.jpg" target="_blank">A Live Woman in the Mines; Or, Pike County Ahead! A Local Play in Two Acts.</a></li>
                        <li><b>By "Old Block." To Which Are Added a Description of the Costume - Cast of Characters - Entrances and Exits - Relative Positions of the Performers on the Stage, and the Whole of the Stage Business.</b></li>
                        <li><b>New York: Samuel French, 1857 Wrappers. 36 p.</b></li>
                    </ul>
                    <p>
                        "Old Block," served as the nom-de-plume of Alonzo Delano. He based all the characters on people he had met in the mining country.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/delano_2.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Le Charivari</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/charivari_1.jpg" target="_blank">"Croquis Californiens, par Cham."</a></li>
                        <li><b>Le Charivari</b></li>
                        <li><b>c. 1850.</b></li>
                    </ul>
                    <p>
                        The French as much as the English and Americans poked fun at the gold mania. This page of two cartoons from the Parisian periodical Le Charivari depicts six miners and a giant crocodile hauling ingots of gold; the other scene shows a man preparing a box of women for export to California calling them an article in excessive demand.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/charivari_1.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>The London Charivari</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/charivari_2.jpg" target="_blank">Punch, or, The London Charivari</a></li>
                        <li><b>"'A Few Days in the Diggins.' By a 'Free and Independent.'"</b></li>
                        <li><b>Vol. XVI., 1849.</b></li>
                    </ul>
                    <p>
                        The English satirical periodical, Punch, published many wonderful cartoons and articles lampooning the gold fever. The main character "swopped my traps and blankets, a quarter cask of pickled port, and a demi-john of peach brandy for six pounds ginooine gold." A little later, and after much hard work, the trades his gold for a blanket, pickled pork, and brandy. Above this article is a cartoon depicting a large group of people hunting for gold in a variety of ridiculous positions. Also included is a full-page Punch cartoon entitled "A Regular Gold Dustman" that depicts an impoverished man with his children headed for "Kallifornier" where he plans to use a broom to sweep up the gold dust.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/charivari_2.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>[Augusto] Ferran y [Jose] Baturone</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section5/californiano.jpg" target="_blank">Album Californiano. Coleccion de Tipos Observados y Dibujudos por los Sres</a></li>
                        <li><b>Habana, Cuba, c. 1849-1850</b></li>
                        <li><b>[hand-colored lithographs]</b></li>
                    </ul>
                    <p>
                        Ferran and Baturone produced what bibliographer R. W. G. Vail calls "the best representation of what the individual miners really looked like." The six illustrations on display form part of a series of twelve views originally issued in three parts. The prints more than likely depict Californians who had made their "pile" in the Gold Rush and stopped in Havana on their way home as the scenery is unlike anything found in California. Possibly, too, the artists imposed a stereotypical Hispanic setting on the miners. These "California types" drank, brawled, bought fine Havana cigars, road around in an elegant carriage, took their gold dust to an assay office, saw the sights, and had an all around good time.
                    </p>

                    <p>
                        Artist Augusto Ferran visited California from 1849-50, produced noteworthy paintings of California scenes, and then taught art in Havana. Baturone, unfortunately, remains an elusive figure.
                    </p>
                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section5/californiano.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


