@{
    ViewBag.SectionTitle = "Section X. Scenes in the Life of the California Miner";
}
<div class="site-settings section  collapse collapsed" role="alert" id="section11">
    <div class="container  p-y">
        <div class="row">

            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section10" aria-expanded="false" aria-controls="section10" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll12').offset().top -150}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section12" aria-expanded="false" aria-controls="section12" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>



        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>The Miner's Progress</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section11/miners_progress.jpg" target="_blank">The Miner's Progress; or, Scenes in the Life of a California Miner. Being a Series of Humorous Illustrations of the "Ups and Downs" of a Gold Digger in Pursuit of His "Pile." Pictorial Union</a></li>
                        <li><b>Sacramento. July 4, 1853</b></li>
                    </ul>
                    <p>
                        The Sacramento Union published this same series of eleven wood engravings in 1853 as a pamphlet. Alonzo Delano, California's pioneer humorist, produced the satirical verse and noted artist Charles Nahl supplied the illustrations.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section11/miners_progress.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-standout highlight">
                <div class="panel-heading">
                    <h2><span class="ca-gov-icon-info"></span>LETTERS OF GOLD</h2>
                    <h3>--THE PICTORIAL LETTER SHEET--</h3>
                </div>
                <div class="panel-body">
                    A phenomenon that grew out of the run for gold was the creation of a unique California stationery. The letter sheet consisted of a light-weight blue, gray, or white writing paper embellished with a woodcut or lithograph. Produced primarily in the 1850s, California artists and publishers produced nearly 350 examples. Because of this union of pictures with stationery, historians call the letter sheet the forerunner of the postcard. Common subjects included mining scenes, mining camps and towns, cities, natural wonders, and events such as fires, and the workings of the vigilance committees. Ironically, few letter sheets were used for their intended purpose: letter writing, as most were saved as mementoes.
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4></h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section11/sundry_amusements.jpg" target="_blank">Sundry Amusements in the Mines</a></li>
                        <li><b>Lithographed & Published by Quirot & Co., San Francisco</b></li>
                    </ul>
                    <p>
                        Four scenes are depicted on this letter sheet: "A Sundays Amusement" (two miners washing and another soaking his feet), "A Daily Pleasure" (miners cooking in their cabin), "Occupation for Rainy Days" (miners in a tent repairing boots and sewing clothes), and "A Pleasant Surprise" (two men discover a bear warming himself in their tent).
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section11/sundry_amusements.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Britton & Rey</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section11/log_cabin.jpg" target="_blank">Sunday Morning [top]; Log Cabin [Bottom]</a></li>
                        <li><b>Lithographed and Published by Britton & Rey, San Francisco</b></li>
                    </ul>
                    <p>
                        The upper view shows one miner in a tent and another lying on the grass reading a book or letter. The lower view depicts two miners standing in front of a cabin with enormous logs.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section11/log_cabin.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>A Miner's Life</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section11/miners_life.jpg" target="_blank">Scenes in a Miner's Life</a></li>
                        <li><b>Lithographed & Published by Britton & Rey, San Francisco</b></li>
                    </ul>
                    <p>
                        Six semi-humorous scenes are delineated: "Night in the log Cabin," "Camping out," "Going to Work," "Hole gives out," "New diggings Struck," and "Next day." The last two scenes show a beehive of activity and then a miner surveying an empty scene.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section11/miners_life.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


