<div class="site-settings section section-standout collapse collapsed" role="alert" id="section1">
    <div class="container  p-y">
        <div>
            <div class="col-md-4 pull-right">
                <div class="col-md-9" data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Close">
                    <button type="button" class="close" style="float:none;" data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Next Section"><span aria-hidden="true">Next Section</span></button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="close" style="float:none;" data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Close"><span aria-hidden="true">Close</span></button>
                </div>
            </div>
        </div>
        
        <div class="row" role="group">
                    <p>Here is some contnent</p>
                    <div style="height:200px; background-color:red">

                    </div>
            </div>

    </div>
</div>


