@{
    ViewBag.SectionTitle = "Section XII. Mining Companies";
}
<div class="site-settings section collapse collapsed" role="alert" id="section13">
    <div class="container  p-y">
        <div class="row">
            <!--button for previous section-->
            <div class="section-previous  col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section13" aria-expanded="false" aria-controls="section13" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section12" aria-expanded="false" aria-controls="section12" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section13" aria-expanded="false" aria-controls="section13" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section14" aria-expanded="false" aria-controls="section14" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section13" aria-expanded="false" aria-controls="section13" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>

        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Mining Claim</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/mining_claim.jpg" target="_blank">Mining Claim, Snow Point, Nevada County</a></li>
                        <li><b>October 15, 1853</b></li>
                        <li><b>[autographed bill of sales] 4 p.</b></li>
                    </ul>
                    <p>
                        For the sum of $1,000 John Mulcahy obtained partial interest in a mining claim owned by J. E. Lorrer & Company. The purchase also included the right to one sixth of all the water owned by Lorrer's company. This legal document further recorded conditions of payment. In April 1854, Mulcahy sold his claim to two others for $1,500, and they in turn, sold their interest in the claim to three other partners the following month for $2,000! These other two transactions are recorded on this same document.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/mining_claim.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Articles of Incorporation</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/yreka_water.jpg" target="_blank">Articles of Incorporation: Yreka Water Company, Siskiyou County</a></li>
                        <li><b>October 28, 1853. 4 p.</b></li>
                    </ul>
                    <p>
                        A gold strike at Yreka Flats in 1851 brought miners by the thousands to the area. It became one of the leading hydraulic mining centers, and supplying water to the miners was a vital business. According to this manuscript the object of the company "shall be to construct a race, or flume, or both, for the purpose of conducting water from the Shasta River, or from any of its branches, through Shasta Valley, in Siskiyou County, by the most elligible [sic] route, to the mines along said route, and to those above and below Yreka City."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/yreka_water.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Laws of Chinese Camp</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/laws_chinese_camp.jpg" target="_blank">The Laws of Chinese Camp Relating to the Mines and Mining Claims</a></li>
                        <li><b>1854. 23 p.</b></li>
                    </ul>
                    <p>
                        This volume documents the beginnings of legal authority in Chinese Camp in Tuolumne County. At the first meeting held on September 17, 1850, the miners elected Isaac Caps as alcalde and Samuel G. Chamberlain as sheriff and adopted seven rules and regulations governing mining claims.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/laws_chinese_camp.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Sonora Gold Mining Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/prospectus_sonora.jpg" target="_blank">Prospectus for the Sonora Gold Mining Company</a></li>
                        <li><b>New York</b></li>
                        <li><b>April 28, 1852. 4 p.</b></li>
                    </ul>
                    <p>
                        This printed circular serves as an excellent example of the heavy Wall Street capitalization needed to support the mines as they became highly mechanized. The principal operations of the mines centered on the celebrated Cliff Vein, situated in the city of Sonora. The company stated: "The real treasures of Gold Deposits are yet to be found in the Quartz formations." The prospectus states that fifty horse-power steam engines had already been installed and that an ore stamper of the "most improved and durable construction" was being shipped.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/prospectus_sonora.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>American Quicksilver Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/quicksilver.jpg" target="_blank">American Quicksilver Company of California</a></li>
                        <li><b>New-York: Pudney & Russell, Printers, 1849</b></li>
                        <li><b>Wrappers. 28 p.</b></li>
                    </ul>
                    <p>
                        This document is regarded as the first promotional publication of a California mining company. The company's prospectus begins by extolling the richness of the California mines and the importance of quicksilver to the Gold Rush. The company was located near the New Almaden Mine in Santa Clara County.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/quicksilver.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Anglo-American Gold Mining Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/anglo_gold_mining.jpg" target="_blank">Anglo-American Gold Mining Company. Report of Capt. Sir Henry Vere Huntley, R.N. Chief Superintendent</a></li>
                        <li><b>London, [1850]</b></li>
                        <li><b>Wrappers. 8 p.</b></li>
                    </ul>
                    <p>
                        Sir Henry Vere Huntley, an Englishman and chief superintendent of the mining company, wrote this report which focused on the stamp mills of the Mariposa and Agua Fria mines and the quartz veins claimed by John C. Fremont.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/anglo_gold_mining.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Young America Mining Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/constitution_mining_company.jpg" target="_blank">Constitution of the Young America Mining Company. Town of White Rock, Butte County</a></li>
                        <li><b>New York, 1854</b></li>
                        <li><b>Plain wrappers. 8 p.</b></li>
                    </ul>
                    <p>
                        The shareholders formed the company for the purposes of mining by means of flumes on the Feather River and raised capital stock in the amount of $40,000. Typical of many mining company constitutions, this publication consisted of 15 sections and was incorporated on October 24, 1854. The Library's copy is signed "French Paige Esq. Bidwell, Nov 1, 1854."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/constitution_mining_company.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Grass Valley Gold Mining Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section13/charter_grass_valley.jpg" target="_blank">Charter of the Grass Valley Gold Mining Company, Organized July 25, 1851, under the General Incorporation Act of California. Together with Extracts from the Law, and Various Documents Illustrating the Business of Quartz Mining</a></li>
                        <li><b>New York, 1852</b></li>
                        <li><b>Wrappers. 50 p.</b></li>
                    </ul>
                    <p>
                        Formed for the business of quartz mining, this charter well illustrates the transition from solitary gold seeking to the need for capitalization in order to purchase the equipment and labor needed to extract gold. A notice of the press from the New York Herald brought up another important advantage of these companies: "Many of those who contemplate going to California would, probably, realize more gold, and immensely less suffering and mortification, by investing the money it will cost them to go and return, in some well managed company." The first quartz mine in California went into operation in Grass Valley in 1851.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section13/charter_grass_valley.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


