@{
    ViewBag.SectionTitle = "Section X. Scenes in the Life of the California Miner";
}
<div class="site-settings section  collapse collapsed" role="alert" id="section11">
    <div class="container  p-y">
        <div class="row">

            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section10" aria-expanded="false" aria-controls="section10" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll12').offset().top -150}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section12" aria-expanded="false" aria-controls="section12" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>



        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>The Miner's Progress</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section11/miners_progress.jpg" target="_blank">The Miner's Progress; or, Scenes in the Life of a California Miner. Being a Series of Humorous Illustrations of the "Ups and Downs" of a Gold Digger in Pursuit of His "Pile." Pictorial Union</a></li>
                        <li><b>Sacramento. July 4, 1853</b></li>
                    </ul>
                    <p>
                        The Sacramento Union published this same series of eleven wood engravings in 1853 as a pamphlet. Alonzo Delano, California's pioneer humorist, produced the satirical verse and noted artist Charles Nahl supplied the illustrations.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section11/miners_progress.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-standout highlight">
                <div class="panel-heading">
                    <h2><span class="ca-gov-icon-info"></span>LETTERS OF GOLD</h2>
                    <h3>--THE PICTORIAL LETTER SHEET--</h3>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
    </div>
</div>


