@{
    ViewBag.SectionTitle = "Section III. Ho for California! The Overland Trek";
}
<div class="site-settings section  collapse collapsed" role="alert" id="section3">
    <div class="container  p-y">

        <div class="row">
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scrollIntro').offset().top -150}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Previous Section"><span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span> Previous Section</a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section4" aria-expanded="false" aria-controls="section4" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Close"><span class="ca-gov-icon-close-mark" aria-hidden="true"></span> Close</a>

            </div>

        </div>

        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Hutchings' Panoramic Scenes</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/hutchings.jpg" target="_blank">Hutchings' Panoramic Scenes. - Crossing the Plains</a></li>
                        <li><b>Views Drawn from Nature in 1853 by George Holbrook Baker</b></li>
                        <li><b>Placerville: J. M. Hutchings, c. 1854</b></li>
                    </ul>
                    <p>
                        George Holbrook Baker, one of the most important Gold Rush artists, created this famous pictorial letter sheet. Baker delineated 13 scenes associated with the overland trek including encampments, buffalo hunts, pioneers' encounters with the Indians, driving stock, and leading landmarks such as Scott's Bluff and Chimney Rock.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/hutchings.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Hosea Horn</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/hosea_horn.jpg" target="_blank">Horn's Overland Guide, from the U.S. Indian Sub-agency, Council Bluffs on the Missouri River to the City of Sacramento, in California</a></li>
                        <li><b>New York: J. H. Colton, 1852. 78 p. + 18 p. of publisher's advertisements</b></li>
                    </ul>
                    <p>
                        Horn actually went to California in 1850, and consequently, produced one of the most accurate and detailed of the overland guidebooks. The New York Observer, March 11, 1852, praised the book by writing: "No one should venture across the desert without it." He included a table of distances and descriptions of the camping places, creeks, rivers, lakes, and other prominent landmarks along the way. He also noted the quality of the grasses, timber, and roads. Equally as interesting from today's perspective are the advertisements of various Iowa businesses that appealed to the gold seeker.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/hosea_horn.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Henry I. Simpson</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/simpson.jpg" target="_blank">The Emigrant's Guide to the Gold Mines</a></li>
                        <li><b>New York: Joyce and Co., 1848. 32 p.</b></li>
                        <li><b>Three Weeks in the Gold Mines, or Adventures with the Gold Diggers of California in August, 1848. Together with Advice to the Emigrants, with Full Instructions Upon the Best Methods of Getting There, Living Expenses, etc. etc., and a Complete Description of the Country. With a Map and Illustrations.</b></li>
                    </ul>
                    <p>
                        Noted historian Dale Morgan called Simpson's guide "an outright fraud." It is one of the earliest dated guides and it was designed to take advantage of the gold fever sweeping the continent. Simpson, despite the claims in the text, never made a trip to California or stayed in the mines. Further, Simpson was never a member of the New York Volunteers as stated on the title page's author statement. Like many publications of the day, it pulled together information from various sources including Colonel R. B. Mason's reliable report on the gold diggings and an article from the New York Herald of December 13, 1848.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/simpson.jpg');">

                    </div>
                </div>
            </div>
            
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>J. Ely Sherwood</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/sherwood_1.jpg" target="_blank">The Pocket Guide to California;</a></li>
                        <li><b>New York: J. Ely Sherwood, 1849. 80 p.</b></li>
                    </ul>
                    <p>
                        A Sea and Land Route Book, Containing a Description of the El Dorado . . . To Which Is Added the Gold-Hunter's Memorandum and Pocket Directory
                    </p>
                    <p>
                        An experienced traveler, Sherwood assembled a useful description of land and sea routes, an overview of California's geography, and a discussion of its "people, climate, soil, productions, agricultural resources, commercial advantages, and mineral wealth." The writer also called attention to Rufus Porter's aerial locomotive which promised transportation from New York to California in three days. Sherwood wrote: "We advise our readers to look-out for the fast line." The advertisements that embellish this guide form a fascinating picture of the bewildering merchandise choices that bombarded gold seekers. Sherwood published an even earlier guide called California: Her Wealth and Resources (New York, 1848).
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/sherwood_1.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>J. Ely Sherwood</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/sherwood_2.jpg" target="_blank">California and Its Gold Regions with a Geographical and Topographical View of the Country, its Mineral and Agricultural Resources.</a></li>
                        <li><b>New York: Stringer & Townsend, 1849. 144 p.</b></li>
                    </ul>
                    <p>
                        Prepared from Official and Other Authentic Documents; with A Map of the U. States and California, Showing the Routes of the U.S. Mail Steam Packets to California, also the Various Overland Routes
                    </p>
                    <p>
                        Robinson, like so many others who wrote guidebooks in response to the gold fever, rushed this book into print. He included, however, a fine grouping of reliable sources such as government reports and eyewitness accounts from newspapers. He enthusiastically wrote: "California is really a land of gold and pearls." The guide is particularly valuable for its large folding map published by J. H. Colton.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/sherwood_2.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>J. H. Colton</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/colton.jpg" target="_blank">Map of the United States, the British Provinces, Mexico &c.</a></li>
                        <li><b>Drawn and engraved by J. M. Atwood</b></li>
                        <li><b>New York: J. H. Colton, 1849</b></li>
                        <li><b>Lithograph. 15 x 21 in.</b></li>
                    </ul>
                    <p>
                        Colton's map accompanied Fayette Robinson's guidebook, California and its Gold Regions. In this map, the gold region is hand-colored in yellow. The overland routes to California and Oregon are marked by hand. Colton included inset maps entitled "Map of the Gold Region, California" and route around Cape Horn, and an illustration of Pyramid Lake. The publisher also sold this map separately.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/colton.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Signed letter</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/letter_kerr_ellis.jpg" target="_blank">Signed letter of John M. Kerr to Dick [Ellis]. </a></li>
                        <li><b>[c. April 1849]. 2 p.</b></li>
                    </ul>
                    <p>
                        Camp Montgomery on the Bluffs. "The Starting Place for California." [near St. Joseph],
                    </p>
                    <p>
                        Kerr, in this letter, describes the personality difficulties that beset some California overland companies. He wrote: "The company I started with flared up and we sold everything out at auction and each of us joined other companies." Kerr noted that two of the company "were perfect scrubs" and caused the dissolution of the group. In a postscript he provides a warning about another hazard of the trail: "Coming in town from camp I passed the resting place of several poor fellows by the way side, who were cut off by the Cholera, there is considerable on the plains. The Dayton Ohio Company have lost twelve."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/letter_kerr_ellis.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Signed letter</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/letter_kerr.jpg" target="_blank">Signed letter of John M. Kerr to Mary Ellis Kerr.</a></li>
                        <li><b>St. Louis, April 8, 1849. 4 p.</b></li>
                    </ul>
                    <p>
                        California bound John Kerr, enthusiastically communicated to his mother the following: "I write to inform you of our arrival in this city [St. Louis] and to give you some account of the excitement that exists in this quarter. I thought it was great in Cincinnati but it is nothing in comparison to this place, every boat that comes up is completely loaded down with freight & passengers en route for the Gold diggings. It is really amusing to see what a variety of out fits etc. are strewed about upon the landing."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/letter_kerr.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Overland Diary of John C. Thorniley</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section3/diary_thorniley.jpg" target="_blank">Overland Diary of John C. Thorniley</a></li>
                        <li><b>April 4, 1852 to August 24, 1852.</b></li>
                    </ul>
                    <p>
                        Thorniley left Marietta, Ohio, followed the California Trail, and via the Humboldt-Truckee route, entered California, and arrived in Downieville. The Argonaut concluded his detailed diary with the following: "We view it as a journey far better imagined than described. We are now fairly in the Gold Mines of California. So here our journey and little narrative of crossing the plains closes and will say such was the way we saw it crossing the plains. The year-of-Grace 1852." Like many others, Thorniley regrettably did not maintain his diary while in the diggings.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section3/diary_thorniley.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


