@{
    ViewBag.SectionTitle = "Section XII. Mining Companies";
}
<div class="site-settings section section-standout collapse collapsed" role="alert" id="section13">
    <div class="container  p-y">
        <div class="row">
            <!--title of page-->
            <div class="section-title col-md-6 col-sm-12 col-xs-12">
                <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>
            </div>
            <!--button for previous section-->
            <div class="section-previous col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section13" aria-expanded="false" aria-controls="section13" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section12" aria-expanded="false" aria-controls="section12" aria-label="Previous Section"><span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span> Previous Section</a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section13" aria-expanded="false" aria-controls="section13" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section14" aria-expanded="false" aria-controls="section14" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section13" aria-expanded="false" aria-controls="section13" aria-label="Close"><span class="ca-gov-icon-close-mark" aria-hidden="true"></span> Close</a>

            </div>

        </div>
        


                    <p>Here is some contnent13</p>
                    <div style="height:200px; background-color:red">

                    </div>
            </div>

    </div>
</div>


