<div class="site-settings section section-standout collapse collapsed" role="alert" id="section2">
    <div class="container  p-y">
        <div class="row">
            <button type="button" class="close col-md-2" data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close" style="z-index:1"><span aria-hidden="true">Close</span></button>
            <button type="button" class="close col-md-2" data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Close" style="z-index:1"><span aria-hidden="true">Next Section</span></button>
        </div>
        


        <div class="row" role="group">
                    <p>Here is some contnent2</p>
                    <div style="height:200px; background-color:cyan">

                    </div>
            </div>

    </div>
</div>


