@{
    ViewBag.SectionTitle = "Section IV. Via the Isthmus";
}
<div class="site-settings section   collapse collapsed" role="alert" id="section4">
    <div class="container  p-y">

        <div class="row">
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section4" aria-expanded="false" aria-controls="section4" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section4" aria-expanded="false" aria-controls="section4" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section4" aria-expanded="false" aria-controls="section4" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>

        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Joseph Crackbon</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section4/crackbon.jpg" target="_blank">Narrative of a Voyage from New York to California via Chagres, Gorgon, & Panama.</a></li>
                        <li><b>Journey across the Isthmus, etc. Residence in Panama by Craighead [pseud]. 1849. 95 p.</b></li>
                    </ul>
                    <p>
                        Crackbon arrived at Chagres on April 11, 1849, and paid $22.50 for passage across the Isthmus. His "narrative" is particularly valuable for describing the activities of Americans on the Isthmus, accounts from travels coming back from the California gold fields, and the arrival of ships and passengers. On May 27, he left for California, and by September 11, he was digging for gold at Mormon Island. The volume is open to a page with his drawings of Panama.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section4/crackbon.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>John M. Smith</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section4/letter_scott.jpg" target="_blank">Signed letter of Matthew Scott to John M. Smith</a></li>
                        <li><b>Chagres, February 15, 1849. 4 p.</b></li>
                    </ul>
                    <p>
                        This wonderfully detailed letter, written during the first season of the eastern U.S. migration to California, tells of the challenges facing the gold seekers upon their arrival at Panama and the difficulty of crossing the Isthmus. Scott, who was on board the steamship Crescent, wrote, "We found that but few boats were unengaged & they could not be had but paying the most exorbitant prices say from $15. to 20. per passenger." He closed by saying: "not to advise any one to undertake to come to California this rout[e] with less than $500. & then with as little baggage as possible."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section4/letter_scott.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>"The Derienni"</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section4/land_pirates.jpg" target="_blank">"The Derienni"; Or, Land Pirates of the Isthmus.</a></li>
                        <li><b>New Orleans, Charleston, Baltimore, and Philadelphia: A. R. Orton, 1853 Wrappers. 44 p.</b></li>
                    </ul>
                    <p>
                        Being a True and Graphic History of Robberies, Assassinations, and Horrid Deeds Perpetrated by Those Cool Blooded Miscreants Who Have Infested for Years the Great Highway to California, the El Dorado of the Pacific
                    </p>
                    <p>
                        This is a fictionalized work based on fact and probably written by the publisher, A. R. Orton. The Derienni recounts how American "land pirates" preyed on travelers on the "great highway to California" robbing them of their gold dust and belongings. Five Derienni were shot at Panama [City] by the committee of public safety.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section4/land_pirates.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Panama Star</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section4/panama_star.jpg" target="_blank">Panama Star</a></li>
                        <li><b>Vol. 1, No. 1,   February 24, 1849</b></li>
                    </ul>
                    <p>
                        In his salutatory issue, publisher J. B. Biddleman wrote: "In order to relieve the tedium of our, perhaps protracted stay in this, to us strange land, surrounded by the people, institutions and language so dissimilar to our own - a few Americans have undertaken this publication." The paper included news on passenger and ship arrivals, an account of crossing the Isthmus, and a letter from Major General Persifor F. Smith concerning non U.S. citizens digging for gold in California and lands owned by the American government. General Smith was instrumental in instituting the Foreign Miners' Tax.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section4/panama_star.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>View of Culebra</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section4/culebra.jpg" target="_blank">View of Culebra or the Summit, the Terminus of the Panama Railroad in Dec. 1854</a></li>
                        <li><b>Sketched from Nature by F[essendon] N[ott] Otis</b></li>
                        <li><b>Colored lithograph by Charles Parsons; Printed by Endicott & Co., N.Y., 1854</b></li>
                        <li><b>10 x 14 in.</b></li>
                    </ul>
                    <p>
                        The Panama Railroad ran from Aspinwall on the Gulf of Mexico to Panama City on the Pacific side, a distance of 49 miles. Despite the short distance, it took five years to build. Construction started in December 1850 and the terminus on the gulf side was changed from Chagres to Aspinwall. Once completed in January 1855, the railroad made crossing the Isthmus an effortless affair and significantly improved the journey to and from California. The artist, F. N. Otis, also wrote Isthmus of Panama: History of the Panama Railroad; and of the Pacific Mail Steamship Company (New York, 1867).
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section4/culebra.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Robert Tomes</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section4/tomes.jpg" target="_blank">Panama in 1855. An Account of the Panama Railroad, of the Cities of Panama and Aspinwall, with Sketches of Life and Character on the Isthmus</a></li>
                        <li><b>New York: Harper & Brothers, 1855. 246 p.</b></li>
                    </ul>
                    <p>
                        Tomes, in this travel narrative describes the railroad, the Isthmus, and the goings and comings of Californians. Demonstrating how much the situation had changed from the frenetic days of 1849, he noted, "There were but few who were going now for the first time to California, although there were still some untried diggers, showing that the first passion for gold was yet burning in the heart of the people."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section4/tomes.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


