@{
    ViewBag.SectionTitle = "Section II. By Sea to the Golden Land";
}
<div class="site-settings section  collapse collapsed" role="alert" id="section2">
    <div class="container  p-y">
        <div class="row"> 
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll3').offset().top + 600}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>
            </div>
        </div>


        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Map of the Gold Regions of California</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/map_california.jpg" target="_blank">Map of the Gold Regions of California. Showing the Routes via Chagres and Panama, Cape Horn, &c.</a></li>
                        <li><b>New-York: Ensign and Thayer, 1849</b></li>
                        <li><b>Lithograph, hand-colored, 16 x 14 in.</b></li>
                    </ul>
                    <p>
                        The gold region is tinted in yellow. In addition to showing the principal routes to California, the publishers included two text blocks: "Important Directions to Persons Emigrating to California" and "Description of California, or the new Gold Region." The text concludes with the following glowing statement: "Such is California – the richest, most picturesque and beautiful region, for its extent, upon the face of the earth. Such is the El Dorado of the Gold mines; and such is the great acquisition of the late war with Mexico."
                    </p>

                    <p>
                        The Library's copy was originally inserted in the 1849 issue of T. J. Farnham's Life, Adventures, and Travels in California. The map may have been printed later and given with the book to help sales.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/map_california.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>California, San Francisco, and the Gold Mines</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/gold_mines.jpg" target="_blank">For California, San Francisco, and the Gold Mines.</a></li>
                        <li><b>Ship Balance. New York: Brooks & Frye, Dec. 26th, 1848.</b></li>
                    </ul>
                    <p>
                        Gold fever reached the eastern United States in the fall of 1848. The winter of 1848-1849 marked the first season of the dash to California by sea. Typical of the many broadsides designed to lure desperate gold seekers, this advertisement touted the amenities of the ship Balance. Its owners, B. S. Brooks and Frederick Frye, employed E. Washburn Ruggles as the ship's captain and announced a sailing date of January 18, 1849. The ship was made of oak and teak "and in all respects perfectly fitted for a safe, expeditious, and comfortable voyage around Cape Horn." For a cost of $150, passengers received a stateroom, 5 cubic feet of space for freight or baggage, and meals.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/gold_mines.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>E. L. Cleaveland.</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/cleaveland.jpg" target="_blank">Hasting to Be Rich. A Sermon, Occasioned by the Present Excitement Respecting the Gold of California, Preached in the Cities of New Haven and Bridgeport, Jan. and Feb. 1849</a></li>
                        <li><b>New Haven, 1849</b></li>
                    </ul>
                    <p>
                        E. L. Cleaveland, in this fire and brimstone sermon, warned gold seekers to worry about those left behind and the danger to their own health, life, and character. He warned: "The filth and scum of society, [have] gathered and poured in there to seethe and ferment into one putrid mass of unmitigated depravity." Many preachers exhorted the Argonauts to take their Bibles in one hand and plant their New England virtue on the golden soil.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/cleaveland.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Jethro C. Brock.</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/brock.jpg" target="_blank">A List of Persons from Nantucket now in California, or on Their Way Thither.</a></li>
                        <li><b>Nantucket: Jethro C. Brock, 1850. 24 p.</b></li>
                    </ul>
                    <p>
                        This tiny and rare publication includes the names of vessels, and their departure and arrival times. Demonstrating the impact of gold fever on the New England whaling island, Brock provides information on 650 individuals. The last page lists persons who returned from California and the names of eight who died in California or on their passage to the golden land.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/brock.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Rev. Joseph A. Benton</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/benton_1.jpg" target="_blank">Voyage from Boston to San Francisco, Alta Califor., in the Ship Edward Everett.</a></li>
                        <li><b>Left the Wharf in Boston – Thursday – January Eleventh _ A.D. 1849. Reached the Anchorage Ground at San Francisco; July 6th 1849. Two volumes.</b></li>
                    </ul>
                    <p>
                        Rev. Benton, going to California to seek souls and not gold, provided a detailed eyewitness account of the voyage of the Edward Everett. Named for the president of Harvard, the vessel was the first to sail from Boston to the gold fields with an organized mining company, the Boston and California Joint Stock Mining and Trading Company. Benton preached sermons and gave talks on religious subjects during the voyage. After arriving in San Francisco, he immediately went to Sacramento and established the First Church of Christ (Pioneer Congregational Church) and became one of the most influential Protestant clergymen in California. His diary describes in detail the voyage and his life ministering to the gold seekers.
                    </p>

                    <p>
                        The second volume of Benton's diary is open to the entry for July 14, 1849, marking his arrival in Sacramento. Seeking shelter from the angry Sacramento sun, he pitched his tent in a grove of oak trees. The following day, Sunday, he planned to preach his first sermon, but an attack of dysentery kept him down.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/benton_1.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Reverend Joseph A. Benton</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/benton_2.jpg" target="_blank">Sixth plate daguerreotype, maker unknown.</a></li>
                        <li><b>Nantucket: Jethro C. Brock, 1850. 24 p.</b></li>
                    </ul>
                    <p>
                        The Yale educated Reverend Benton preached his first sermon in Sacramento, "the city of tents and trees" on July 22, 1849, after recovering from a siege of dysentery. A congregation of about 100 men and three women met in an oak grove to hear him. A wagon served as Benton's pulpit.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/benton_2.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Rev. Joseph A. Benton</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/benton_3.jpg" target="_blank">Outlines &c. of Sermons &c. Preached on Board the Edward Everett. </a></li>
                        <li><b>Also in California at Various Times and Places.</b></li>
                        <li><b>January 28, 1849 – January 16, 1859.</b></li>
                    </ul>
                    <p>
                        The Reverend Benton dutifully preached to the passengers on the famous California bound Edward Everett, and when he established his church in Sacramento, his sermons brought the message of the Almighty to the rambunctious Argonauts. Benton wrote: "The world's centre will have changed and no man will be thought to have seen the world till he has visited California."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/benton_3.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>The Barometer</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/barometer.jpg" target="_blank">The Barometer</a></li>
                        <li><b>February 21, 1850 (Vol. 1, No. 1) – April 14, 1850 (Vol. 1. No. 8)</b></li>
                    </ul>
                    <p>
                        One of the ways passengers relieved the tedium of the long ocean voyage around Cape Horn was to produce a newspaper. Sailing on the barque Mary Waterman, a group of editors formed aboard ship to issue this folio size paper weekly "for the amusement of the passengers."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/barometer.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Letter of Gooding, Lucas & Co</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/letter_gooding.jpg" target="_blank">Letter of Gooding, Lucas & Co. To Mr. [Charles] Brown</a></li>
                        <li><b>New York. May 20, 1849. 1 p.</b></li>
                    </ul>
                    <p>
                        A representative of Gooding, Lucas & Company wrote the father of Jared Brown to inform him that his son was off to California on the steamer Antelope and that he did not have time to write. Further, Jared did not have sufficient funds to pay his way, and therefore, worked his passage as a coal heaver. Letters in the Library's collection document that Jared crossed the Isthmus of Panama and made it to California where he enjoyed a lucrative business as a blacksmith in Coloma.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/letter_gooding.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>View of San Francisco</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/san_francisco.jpg" target="_blank">View of San Francisco Taken from Telegraph Hill, April 1850</a></li>
                        <li><b>Published by Nathan Currier, New York; William B. McMurtrie, San Francisco, 1851.</b></li>
                        <li><b>Hand-colored lithograph. 17 x 29 in.</b></li>
                    </ul>
                    <p>
                        The instant city of San Francisco, the destination point of the world, is magnificently portrayed in this spectacular view. Ships in Yerba Buena Cove abandoned by gold hunters dominate the scene. McMurtrie captured such prominent Gold Rush landmarks as the Long Wharf, Pacific Street Wharf, and the converted warehouse ships Apollo and Niantic. Showing the rawness of the city, hastily thrown up wooden buildings and canvas tents predominate. Fire consumed many of the structures represented in this print.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/san_francisco.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Joseph L. Lyon</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/letter_lyon.jpg" target="_blank">Signed letter of Joseph L. Lyon to His Parents</a></li>
                        <li><b>San Francisco, October 7, 1849. 4 p.</b></li>
                        <li><b>With pencil sketch</b></li>
                    </ul>
                    <p>
                        Lyon, after 222 days at sea, described in this letter the voyage, conditions in San Francisco, prospects for the mines, and news of his health and that of his companions. He hoped to return in a year or two and was unsure if he would go to the mines. The last page of his letter features a beautiful pencil drawing with the following caption: "The above represents the situation of our barque as she appeared on the morning of the 25 of Sept. last having been struck by a small squall. I sprang to the deck thinking she had struck a rock."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/letter_lyon.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>George G. Foster</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/foster.jpg" target="_blank">The Gold Regions of California: Being a Succinct Description of the Geography, History, Topography, and General Features of California; Including a Carefully Prepared Account of the Gold Regions of That Fortunate Country.</a></li>
                        <li><b>New York: Dewitt & Davenport, 1848. 80 p.</b></li>
                    </ul>
                    <p>
                        Foster produced what antiquarian bookseller and historian Edward Eberstadt calls "the first considerable pamphlet on California." He was one of the first to advocate going to California in companies or associations and predicted that those who possessed a skill or practiced a trade would do well in California. The frontispiece consists of an untitled map of California with the gold region encircled.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/foster.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Daniel Walton</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/walton.jpg" target="_blank">Wonderful Facts from the Gold Regions; Also Valuable Information Desirable to Those Who Intend Going to California.</a></li>
                        <li><b>Boston: Stacy, Richardson & Co., 1849.</b></li>
                        <li><b>Wrappers. 32 p.</b></li>
                    </ul>
                    <p>
                        The title page reads: "The Book Needed for the Times, Containing the Latest Well-authenticated Facts from the Gold Regions." Walton went on to caution his readers about the lure of California writing: "Our opinion is, that there is a great deal of knavery in getting up this gold fever." While many accounts proclaimed that gold could literally be picked up from the ground with little effort, a number of more balanced views like that of Walton soon appeared.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/walton.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Carrier's Address</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/carrier_address.jpg" target="_blank">The Eastern Argus</a></li>
                        <li><b>January 1, 1849</b></li>
                    </ul>
                    <p>
                        Reflecting the gold mania that swept the eastern United States, the newspaper published this long satirical poem that begins: "Come on good friends – all other things give o'er, / We'll talk of Gold, on California's shore, / Gold! The great end and aim of human strife; / The all-exciting stimulus of life." It continued; "Go then, ye slaves, to California's shore / Go delve and dig, and grasp the precious ore."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/carrier_address.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>A. Henry Stevens</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/stevens.jpg" target="_blank">ournal of the Passage of the Mutual Protection Trading and Mining Company in the Barque Emma Isadora.</a></li>
                        <li><b>Sanford Henry Master. From Boston towards California.</b></li>
                        <li><b>March 31 – September 12, 1849. 95 p.</b></li>
                    </ul>
                    <p>
                        Stevens' journal records the voyage of a Massachusetts joint stock company. By combining resources into companies or associations, Argonauts hoped to increase their chances once they got to the golden land. This company consisted of 60 members with each paying $300. In return, each member was entitled to an equal proportion of all profits. Before departing, the company purchased and outfitted a ship, the Emma Isadora, which they advertised as "coppered [bottom sheathed in copper] and very fast sailing."An experienced physician also accompanied the expedition. Captain Sanford Henry of Chelsea served not only as master but also as president. The Emma Isadora arrived in San Francisco on September 13, 1849 after a passage of 165 days. The volume is open to the entry for April 24. Stevens attached to the page two specimens of "wings" from flying fish that they caught.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/stevens.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Mutual Protection Trading and Mining Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/trading_mining.jpg" target="_blank">Rules and Regulations of the Mutual Protection Trading and Mining Company</a></li>
                        <li><b>Boston, 1849</b></li>
                    </ul>
                    <p>
                        Attached to Stevens' journal was this broadside issued by his trading and mining company. Before embarking for California, stockholders frequently drew up rules and regulations similar to those on this broadside. It outlined 21 articles or rules for its members to follow over a two year period. In addition to specifying typical duties of its officers and responsibilities of each member, the broadside included rules of conduct. Article XI, for example, forbade games of chance and use of intoxicating liquors.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/trading_mining.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Hartford Union Mining & Trading Co</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/articles_association.jpg" target="_blank">Articles of Association and By-Laws of the Hartford Union Mining & Trading Co. Adopted, January 19th, 1849</a></li>
                        <li><b>Hartford, 1849</b></li>
                        <li><b>Wrappers. 8 p.</b></li>
                    </ul>
                    <p>
                        The Connecticut company was formed for the purpose of "Mining, Trading, Purchase and Sale of Real Estate, Navigation, Commerce, Building and Manufacturing in California." Twenty-two articles in the bylaws governed the company and detailed rules of conduct, responsibilities, provisions for a member's death, accounting procedures, and duration of stay in California. The company left New York on February 17, 1849 and arrived in San Francisco on September 13, 1849.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/articles_association.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>J. Linville Hall</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/hall.jpg" target="_blank">Journal of the Hartford Union Mining and Trading Company. Containing the Names, Residence, and Occupation of Each Member, with Incidents of the Voyage. Printed by J. Linville Hall, on Board the Henry Lee</a></li>
                        <li><b>1849. 88 p.</b></li>
                    </ul>
                    <p>
                        Hall's journal ranks as one of the rarest and most interesting of all Gold Rush journals. It is regarded as the first printed journal of a California gold seeker. Hall actually printed the little book en route to California as the Henry Lee sailed around Cape Horn. More than likely, he printed the title page and preface in San Francisco. The Hartford Company numbered 122 members and included three printers and four paper makers. Like so many other companies, this group disbanded shortly after its arrival in San Francisco. Hall and a few companions then headed to the mines.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/hall.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Palmetto Mining Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/palmetto_mining.jpg" target="_blank">Palmetto Mining Company. Journal of a Passenger on Company Voyage from Charleston, South Carolina to Coloma, California via Isthmus and San Francisco</a></li>
                        <li><b>March 3, 1849 – October 12, 1849.</b></li>
                    </ul>
                    <p>
                        This pocket-size journal is a fine example of a record kept by a member of one of the many mining companies that set out for California in the spring of 1849. The company shipped on the brig Henrico. This volume belonged to an Edward Keegan of South Carolina, but according to his daughter, he did not write the journal. Despite this, it is loaded with information, and the writer continued chronicling the activities of the company as they hunted for gold near Coloma. One of their members became sick in Panama and died in Coloma. The volume ends with a discussion of the high prices.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/palmetto_mining.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Miss Julia W. Pomeroy</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/pomeroy.jpg" target="_blank">California Polka. Composed for and Dedicated to the New York Mining Company</a></li>
                        <li><b>New York: Wm Hall & Son, 1849</b></li>
                    </ul>
                    <p>
                        The New York Mining Company was one of many mutual protection companies formed in the Empire State as a result of gold fever. Perhaps Miss Pomeroy anticipated the departure of a sweetheart or a father or brother.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/pomeroy.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>New-York Mining Company</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/new_york_mining.jpg" target="_blank">New-York Mining Company</a></li>
                        <li><b>January 22, 1849</b></li>
                    </ul>
                    <p>
                        By putting up a sum of $300, a shareholder received all rights and privileges of the company. Many shareholders actually made the trip to California rather than stay at home only as an investor. Gold seekers pooled their resources by joining similar companies. With the money raised, they often purchased a ship, necessary supplies, prefabricated houses, gold-washing machines, and hired the services of a physician. Most companies, however, disbanded soon after their arrival in the diggings.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/new_york_mining.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Salem & California Trading & Mining Expedition</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section2/salem_california.jpg" target="_blank">Salem & California Trading & Mining Expedition</a></li>
                        <li><b>February 15, 1849</b></li>
                    </ul>
                    <p>
                        The company, composed of 63 men, sailed out of Salem, Massachusetts on March 19, 1849, on the barque La Grange. The ship was later hauled up to Sacramento and converted into a prison. In 1849, 124 mining companies set out from Massachusetts.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section2/salem_california.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

