@{
    ViewBag.SectionTitle = "Section II. By Sea to the Golden Land";
}
<div class="site-settings section  collapse collapsed" role="alert" id="section2">
    <div class="container  p-y">
        <div class="row"> 
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section1" aria-expanded="false" aria-controls="section1" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll3').offset().top + 600}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section3" aria-expanded="false" aria-controls="section3" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section2" aria-expanded="false" aria-controls="section2" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>


        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">

        </div>
    </div>
</div>

