<div class="site-settings section section-standout collapse collapsed" role="alert" id="section5">
    <div class="container  p-y">
        <div>
            <div class="pull-left">
                <div data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Close">
                    <button type="button" class="close" style="float:none;" data-toggle="collapse" data-target="#section4" aria-expanded="false" aria-controls="section4" aria-label="Previous Section"><span aria-hidden="true">Previous Section</span></button>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <div class="col-md-9" data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Close">
                    <button type="button" class="close" style="float:none;" data-toggle="collapse" data-target="#section6" aria-expanded="false" aria-controls="section6" aria-label="Next Section"><span aria-hidden="true">Next Section</span></button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="close" style="float:none;" data-toggle="collapse" data-target="#section5" aria-expanded="false" aria-controls="section5" aria-label="Close"><span aria-hidden="true">Close</span></button>
                </div>
            </div>
        </div>
        


        <div class="row" role="group">
                    <p>Here is some contnent5</p>
                    <div style="height:200px; background-color:brown">

                    </div>
            </div>

    </div>
</div>


