@{
    ViewBag.SectionTitle = "Section VIII. An Instant City: Sacramento";
}
<div class="site-settings section collapse collapsed" role="alert" id="section9">
    <div class="container  p-y">
        <div class="row">
            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section9" aria-expanded="false" aria-controls="section9" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll6').offset().top -150}, 0);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section8" aria-expanded="false" aria-controls="section8" aria-label="Previous Section">Previous Section<span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section9" aria-expanded="false" aria-controls="section9" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section10" aria-expanded="false" aria-controls="section10" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section9" aria-expanded="false" aria-controls="section9" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>

        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Ville de Sacramento</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/ville_sacramento.jpg" target="_blank">Ville de Sacramento, California</a></li>
                        <li><b>December, 1849</b></li>
                        <li><b>Paris, Auguste Bry</b></li>
                        <li><b>12 x 19 in.</b></li>
                    </ul>
                    <p>
                        A French publisher put out his own version of George V. Cooper's birds-eye view of Sacramento. Represented in this exquisite print is the embarcadero of Sacramento just one year after the founding of the city. Four sailing vessels, the steamship Senator, row boats, and scows dramatically portray the hustle and bustle of the Gold Rush port. On shore, the view depicts wagons, people, and animals hauling goods. The streets are lined with many new buildings including saloons, gambling houses, stores, hotels, and a theater. Over 50 versions of Cooper's view exist.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/ville_sacramento.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Sacramento Newsletter</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/sacramento_newsletter.jpg" target="_blank">Sacramento News-Letter</a></li>
                        <li><b>Vol. I, No. 4</b></li>
                        <li><b>For the fortnight ending August 30, 1851</b></li>
                    </ul>
                    <p>
                        "Sacramento has been the theatre of scenes which we hope will never again be repeated," wrote William Godwin, editor of the Sacramento News-Letter. Godwin devoted this issue to the hanging of three criminals, Robinson, Thompson, and Gibson vigilante style by the local citizenry. The paper also included the confessions of the doomed men. Robinson, a notorious scamp and self-confessed murderer and robber, expressed regret that he would be executed for a small infraction and not one of his big crimes.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/sacramento_newsletter.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Proclamation of Sacramento</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/proclamation_sacramento.jpg" target="_blank">Proclamation to the People of Sacramento City by Order of President and City Council</a></li>
                        <li><b>Sacramento City, October 1, 1849.</b></li>
                    </ul>
                    <p>
                        Sacramento City experienced some difficulties in establishing its municipal government. The gambling houses, preferring a government-less town, banded together and defeated the first proposed charter on September 13, 1849. The next month, the city council issued this broadside asking the people for a charter and direction. Otherwise, the council would continue to enforce Mexican law. Finally, the people of Sacramento voted for a charter and city government became established. The State Legislature officially granted Sacramento its charter on February 27, 1850.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/proclamation_sacramento.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Laying of Cornerstone</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/cornerstone.jpg" target="_blank">Laying of Cornerstone, [First Church of Christ]. Hymn of Rev. Benton</a></li>
                        <li><b>September 4, 1850. 2 p.</b></li>
                    </ul>
                    <p>
                        The First Church of Christ, owing to Rev. Joseph A. Benton's powerful leadership and the lack of denominationalism on the part of his faith, emerged as the city's leading Protestant church. The introduction of such solid symbols of stability as a church brought a civilizing influence to a community known for its devotion to gambling and consumption of spirits. On the verso of this document are notes for a sermon he preached at the laying of the cornerstone. In a different building, his church continues today as Pioneer Congregational Church, standing across from the gates of Sutter's Fort.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/cornerstone.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>J. Horace Culver</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/culver.jpg" target="_blank">The Sacramento City Directory</a></li>
                        <li><b>Sacramento City: Transcript Press, 1851</b></li>
                        <li><b>Printed wrappers. 96 p.</b></li>
                    </ul>
                    <p>
                        Horace Culver published Sacramento's first general directory, and it came into print just two years after the city's founding and lists such key names as Huntington and Hopkins. Sacramento, at the time, boasted a population of about 7,000 with 3,000 transients. Culver wrote: "In a City like Sacramento, where whole blocks of buildings are erected in the course of a single week, and where Merchants change their location monthly, it cannot be expected that the same degree of accuracy will prevail as marks works of a like character in old and established cities."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/culver.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Constructing the Levee</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/constructing_levee.jpg" target="_blank">Specification of the Manner of Constructing the Levee around Sacramento City</a></li>
                        <li><b>Autographed and filled in by hand</b></li>
                        <li><b>August 26, 1851. 4 p.</b></li>
                    </ul>
                    <p>
                        Situated on low land and surrounded by rivers, flooding ravaged Sacramento on a frequent basis and "The Great Inundation" of January 1850 destroyed much of the city. In order to hold back the rivers, city voters approved a general assessment to construct a levee. The document on display records the bid of a group of individuals to satisfy this crying need. Floods in 1852 and 1853, however, proved that early efforts failed miserably turning the city into "an aquatic carnival."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/constructing_levee.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>J Street, Sacramento</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/j_street.jpg" target="_blank">J Street, Sacramento, on New Year's Day, 1853</a></li>
                        <li><b>Autographed letter of Dr. John F. Morse to His Mother</b></li>
                        <li><b>Sacramento, January 28, 1853. 4 p.</b></li>
                    </ul>
                    <p>
                        Dr. Morse, Sacramento's first historian, used this letter sheet to show the flooding that besieged his city that year. He wrote: "You will perceive that on the first page of this sheet is a view of our city just after the fire and at the time that our streets were submerged. We have been dreadfully afflicted both by fire and water and yet our citizens seem as gay, as elastic and bold in enterprise as ever." The letter sheet is based on a daguerreotype by R. H. Vance.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/j_street.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Dr. John F. Morse</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/sacramento_historian.jpg" target="_blank">Sacramento's First Historian: Dr. John F. Morse</a></li>
                        <li><b>Sixth plate daguerreotype by George H. Johnson</b></li>
                        <li><b>c. 1852</b></li>
                    </ul>
                    <p>
                        Dr. Morse produced the first narrative history of the Gold Rush city for publication in Samuel Colville's The Sacramento Directory for the Year 1853-54. The physician observed: "Miners came to town freighted with bags of gold, which they stored away as indifferently as they did their hats and boots." Johnson was a pioneer Sacramento photographer.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/sacramento_historian.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Edmund L. Barber & George H. Baker</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/barber_baker.jpg" target="_blank">Sacramento Illustrated</a></li>
                        <li><b>Sacramento: Barber & Baker, 1855</b></li>
                        <li><b>Wrappers. 36 p.</b></li>
                    </ul>
                    <p>
                        Thirty-three wood engravings of Sacramento and its environs embellish this work. It ranks as one of the earliest pictorial histories of any Western American city and represents the only systematic view of the river city during the golden 1850s. All the major buildings and streets are featured as well as panoramic views of the embarcadero area. The publishers used several of the same illustrations for letter sheets. Barber and Baker originally sold their book for one dollar per copy.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/barber_baker.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>George Holbrook Baker</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/baker.jpg" target="_blank">George Holbrook Baker</a></li>
                        <li><b>Sacramento City, July 1849</b></li>
                    </ul>
                    <p>
                        Baker, with this sketch, produced one of the earliest known views of the new city and its embarcadero. Benjamin T. Martin, one of Sacramento City's first residents and owner of two stores, commissioned the work. He instructed the artist: "Come Baker, row off into the stream [the Sacramento River] and make a sketch of the city." Baker reproduced this sketch for a letter sheet and his great book, Sacramento Illustrated (1855). Years later, New England artist George Frost transformed his sketch into an oil on canvas painting which now hangs in the California State Librarian's office.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/baker.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Captain John A. Sutter</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section9/receipt_bidwell.jpg" target="_blank">Receipt for sale of lots to John Bidwell from Captain John A. Sutter</a></li>
                        <li><b>Suttersville. July 7, 1848. 1 p.</b></li>
                    </ul>
                    <p>
                        The beginnings of Sutter's plan to found a new town southwest of his fort and south of his embarcadero is recorded with this sales receipt of lots sold to Bidwell for one dollar. However, with the influx of gold seekers and the cunning of Sam Brannan, the founding of nearby Sacramento City doomed Sutter's dream. This remarkable documents includes the signatures of Sutter, pioneer George McKinstry, guidebook writer Lansford Hastings, and pioneer newspaperman, Edward C. Kemble.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section9/receipt_bidwell.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


