@{
    ViewBag.SectionTitle = "Section XI. Making a Pile";
}

<div class="site-settings section   collapse collapsed" role="alert" id="section12">
    <div class="container  p-y">
        <div class="row">

            <!--button for previous section-->
            <div class="section-previous col-md-offset-6 col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section12" aria-expanded="false" aria-controls="section12" aria-label="Close" onclick="$('html, body').animate({scrollTop: $('#scroll9').offset().top -150}, 600);">
                    <a id="section-controls" data-toggle="collapse" data-target="#section11" aria-expanded="false" aria-controls="section11" aria-label="Previous Section">Previous Section <span class="ca-gov-icon-caret-two-left" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--button for next section-->
            <div class="section-next col-md-2 col-sm-4 col-xs-12">
                <div data-toggle="collapse" data-target="#section12" aria-expanded="false" aria-controls="section12" aria-label="Close">
                    <a id="section-controls" data-toggle="collapse" data-target="#section13" aria-expanded="false" aria-controls="section13" aria-label="Next Section">Next Section <span class="ca-gov-icon-caret-two-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <!--close botton-->
            <div class="section-close col-md-2 col-sm-4 col-xs-12">
                <a id="section-controls" data-toggle="collapse" data-target="#section12" aria-expanded="false" aria-controls="section12" aria-label="Close">Close <span class="ca-gov-icon-close-mark" aria-hidden="true"></span></a>

            </div>

        </div>



        <h1 class="orange" id="title">@ViewBag.SectionTitle</h1>

        <div class="container">
            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>William A. Jackson</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/mining_district.jpg" target="_blank">Map of the Mining District</a></li>
                        <li><b>New York: Lambert & Lane, 1851</b></li>
                        <li><b>Hand colored lithograph. 16 x 20 in.</b></li>
                    </ul>
                    <p>
                        Cartographic historians regard this as one of the most important maps of the mining districts. This hand-tinted map updates Jackson's 1850 publication and not only includes ornate borders but also much more detail especially for the Southern Mines. Interestingly, Jackson extends the Sierra as far west as Marysville. Jackson supplemented his map with an appendix describing new towns, delineations of county boundaries, and descriptions of placer and "vein mines."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/mining_district.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Letter of George McKinstry</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/letter_kckinstry.jpg" target="_blank">Letter of George McKinstry to C. L. Ross</a></li>
                        <li><b>New Helvetia, July 1, [18]48.</b></li>
                    </ul>
                    <p>
                        McKinstry, an employee of John Sutter and associate of John Bidwell, returning from the mountains after an eight day expedition, describes in this early letter his unsuccessful efforts to find gold on the Yuba River and the South Fork of the Feather River in sufficient quantity for "working machines" and Indian laborers. He went on to say "if a suitable place could be found, Mr. Bidwell and myself could probably bring two hundred Indians in the field." McKinstry concluded that "mining is too severe for my constitution" and that "it requires the strength of an Irish canal digger." He thought he could make much more money selling goods to the miners. Bidwell himself found gold on the Middle Fork of the Feather River that same month.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/letter_kckinstry.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Gold District of California</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/gold_district.jpg" target="_blank">The Gold District [of] California. Mining Operations on the Western Shore of the Sacramento River</a></li>
                        <li><b>New York: Kelloggs & Comstock, c. 1850</b></li>
                        <li><b>12 x 17 in.</b></li>
                    </ul>
                    <p>
                        This cartoon-like print illustrates early mining techniques when gold hunters used such simple devices as picks, shovels, pans, and baskets to find placer (surface) gold. During the first year of the Gold Rush, many pioneers including James Marshall, John Sutter, and P. B. Reading employed California Indians in the mines as a cheap labor force. Several Indian miners are shown in this print. In 1849 and 1850, thousands of gold seekers poured in from the eastern United States and these more numerous newcomers objected to the practice of using Indian labor as unfair and as a threat to their safety. Consequently, they forced the Indians out of the mines.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/gold_district.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Charles Nahl and A. Wenderoth</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/miner_prospecting.jpg" target="_blank">Miner Prospecting</a></li>
                        <li><b>Painted and Drawn on Stone by Charles Nahl and A. Wenderoth</b></li>
                        <li><b>Lithograph of B. F. Butler, San Francisco</b></li>
                        <li><b>Copyrighted by C. A. Shelton, 1852.</b></li>
                    </ul>
                    <p>
                        Riding horseback with a wash pan hanging from the saddle, wearing a pistol and knife, carrying a rifle, and pulling a provision-laden mule, this well-equipped miner appears to be on his way to the diggings. The print is based on a drawing by Nahl and Wenderoth and must be regarded as one of the finest depictions of a California gold seeker.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/miner_prospecting.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Miners Coat of Arms</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/coat_of_arms.jpg" target="_blank">Miners [sic] Coat of Arms</a></li>
                        <li><b>Lithographed & Published by Britton & Rey, San Francisco</b></li>
                    </ul>
                    <p>
                        Shown on this thin writing paper are an assortment of implements and objects common to a miner's life: wash pan, pick, shovel, rocker, axe, rifle, pistol, scales, cooking utensils, playing cards, cigar, worn boots, and hats. In the middle, however, is that ubiquitous companion, the flea. The lower portion of this letter sheet depicts four miners in a cabin playing cards.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/coat_of_arms.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>The Miners</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/miners.jpg" target="_blank">The Miners</a></li>
                        <li><b>Lithographed & Published by Quirot & Co., San Francisco</b></li>
                    </ul>
                    <p>
                        This spectacular letter sheet depicts a group of miners working a windlass with buckets into an opening in the ground probably for a coyoting operation. In the background of this rocky terrain are more miners engaged in a similar operation with one carrying a bucket of water.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/miners.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Miners</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/miners_long_toms.jpg" target="_blank">Miners at Work with Long Toms</a></li>
                        <li><b>San Francisco: Justh & Quirot, c. 1851</b></li>
                    </ul>
                    <p>
                        The top image of this pictorial letter sheet depicts miners shoveling earth and gravel into long toms with their cabins in the background. The middle image is a classic of the miner with his tools. The bottom image, however, shows a stereotypical Indian chief from the Great Plains rather than California.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/miners_long_toms.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Edward Kent</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/kent.jpg" target="_blank">Instructions for Collecting, Testing, Melting and Assaying Gold</a></li>
                        <li><b>New-York: Edward N. Kent, 1848</b></li>
                        <li><b>Wrappers. 40 p.</b></li>
                    </ul>
                    <p>
                        Kent produced one of the earliest how-to books "for the use of persons who are about to visit the gold region of California." In the preface, he wrote: "During the present intense excitement relative to the immense amount of gold found in California, I have had frequent and anxious inquiries for the necessary apparatus and instructions desirable, to ensure success in searching for gold, platina and mercury." The title page carries the date of 1848 and the wrapper title the date of 1849.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/kent.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Joseph Pike</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/pike.jpg" target="_blank">Journal of Joseph Pike</a></li>
                        <li><b>April 1, 1850 to December 29, 1851. 130 p.</b></li>
                    </ul>
                    <p>
                        Joseph Pike of Lake County, Illinois left for the diggings on April 15, 1850, and arrived in Georgetown, California on August 19, 1850. His journal details an arduous life in the mines. Frequently, he mentioned how many buckets of dirt he washed per day. A religious man, Pike decried the lack of morals in the land of gold. In the following entry for September 19, 1851, Pike reflects on one year in the diggings:
                    </p>

                    <p>
                        Today worked back near the race got $22.50. Today I have been here one year in the mines[.] have enjoyed life in various forms been a great deal of hard times as well as considerable prosperity and good times if a life in this dreary region can be called good.
                    </p>

                    <p>
                        On the Sabbath (the 21st), he noted:
                        A windy day otherwise pleasant[.] Spent it alone and as usual in reading and thinking when will I enjoy the privileges of my family and society in a Christian land.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/pike.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Silas Weston</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/weston.jpg" target="_blank">Life in the Mountains: Or Four Months in the Mines of California</a></li>
                        <li><b>Providence: E. P. Weston, 1854</b></li>
                        <li><b>Wrappers. 36 p.</b></li>
                    </ul>
                    <p>
                        Weston produced one of the better accounts of a gold hunter. He began his narrative on April 10, 1853 in Sacramento. He then proceeded to Kelly's Bar, where he described a dreadful, one-sided battle against the local Indians. He later joined a mining company on the South Fork of the Feather River for the purpose of turning the river but met with little success.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/weston.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Bayard Taylor</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/taylor.jpg" target="_blank">El Dorado or Adventures in the Path of Empire</a></li>
                        <li><b>New York: George P. Putnam;</b></li>
                        <li><b>London: Richard Bentley, 1850</b></li>
                        <li><b>2 vols. xii, 251; 248 p.</b></li>
                    </ul>
                    <p>
                        Both volumes are open to the title pages and frontispiece illustrations to demonstrate the remarkable growth of San Francisco in just one year. The color plate for volume one is entitled: "San Francisco in November, 1848"; the second volume is entitled "San Francisco in November, 1849." Taylor's work, arguably the most important Gold Rush book, sold thousands of copies and went through many reprintings including several foreign language and pirated (stolen) editions.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/taylor.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>California Gold Camps</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/bogus_creek.jpg" target="_blank">[top] Mine on Bogus Creek, Siskiyou County. [bottom] Bogus Creek and Bogus Mountain.</a></li>
                        <li><b>Maker unknown.</b></li>
                    </ul>
                    <p>
                        According to Erwin G. Gudde, California Gold Camps, "The place is so named because counterfeiters operated here." No gold was found. These "daguerreotypes on glass" illustrate the gullibility of the miners as they rushed off to new claims in response to rumors of rich strikes.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/bogus_creek.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>View of Coloma</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/coloma.jpg" target="_blank">View of Coloma, The Place Where the First Gold Was Discovered</a></li>
                        <li><b>Published by Forrest & Borden</b></li>
                        <li><b>Letter of Jared Comstock Brown to his father, Charles Brown</b></li>
                        <li><b>Coloma, August 11, 1851. 4 p.</b></li>
                    </ul>
                    <p>
                        Many new arrivals to California made money by providing services to the miners. Jared Brown, for example, never found time to look for gold as he made his "pile" by plying his trade as a blacksmith. He told his father that he sometimes made $70 a day, a healthy wage even in those inflationary times. In this detailed letter, he writes:
                    </p>

                    <p>
                        <em>I send you this plate of Coloma[.] You will find the mill down on the river to the right hand where gold was first discovered and on the left hand on the hill is the jail I have done over. 8 hundred dollars worth of work on it. . . . My shop is in the centre of the town [.] This small place has created all the excitement through the world for gold[.] Thousands of all nations are here[,] thousands of Chinese.</em>
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/coloma.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>Letter of J. Norris</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/letter_norris.jpg" target="_blank">Letter of J. Norris to Miss E. Norris</a></li>
                        <li><b>Sacramento City, Cal. June 23, 1852. 4 p.</b></li>
                        <li><b></b></li>
                    </ul>
                    <p>
                        Norris, in writing to his sister, evidently was short of paper as he wrote over his letter in another direction. A letter such as this must have both delighted and frightened his sister. On one hand, he tells her of the beauty of California and that "California has already made some noise in [the] world." In contrast, he gave a detailed list of the "disasters, duels, murders, suicides, lynchings etc. that has come under my notice within the past two or three weeks. Sixteen men hung; four for stealing oxen; four for horses; two for money; two for shooting their wives . . . a man was shot in placer for stealing a horse, a doctor cut his head off immediately and carried it off in a bag for dissection."
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/letter_norris.jpg');">

                    </div>
                </div>
            </div>

            <div class="panel panel-default photo-left">
                <div class="panel-heading" style="color:orange">
                    <h4>S. Babcock</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-overstated">
                        <li><a href="~/Content/StateTemplate/images/CAGoldRush/section12/babcock.jpg" target="_blank">California Diggings - Mormon Island</a></li>
                        <li><b>By Hiram Dwight Pierce</b></li>
                        <li><b>1849</b></li>
                    </ul>
                    <p>
                        Pierce, according to his diary, reached Mormon Island on the South Fork of the American River on September 4, 1849. He wrote, "The scenery at the river is wild to the extreme." The drawing shows Pierce and five others digging, panning, and working a rocker. According to Pierce, about 100 men were at work at the diggings making about $10 per day. The Library possesses a fine collection of his Gold Rush letters. He wrote most of them to his wife from Washington Flat and Long Canyon, Mariposa County.
                    </p>

                    <div class="photo" style="background-image: url('../../../Content/StateTemplate/images/CAGoldRush/section12/babcock.jpg');">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


