@{
    ViewBag.Title = "California State Library - Adolph Sutros Original Collection";
    ViewBag.Author = "Alan Cleetus";
    ViewBag.Description = "Adolph Sutro's rare book and manuscript collection contains over 90,000 volumes and 100,000 pamphlets. ";
    ViewBag.Keywords = "California, State, Library, Sutro Collection, Adolf Sutro";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <div class="container">
        <main class="main-primary">

            <div class="section ">
                <ol class="breadcrumb dynamic"></ol>
                <h2 class="page-title">Adolph Sutro's Collection</h2>

                <p>Adolph Sutro's collection contains over 90,000 volumes and 100,000 pamphlets.</p>


                <div class="two-thirds">

                    <h3 class="orange">Select Highlights</h3>

                    <div class="panel-group" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#highlights-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">William Shakespeare's 1st, 2nd, 3rd, and 4th folios</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>First Folio (1623) is one of only 233 known examples; Second Folio (1632); Third Folio (1663-64); Fourth Folio (1685).</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#highlights-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Sir Joseph Banks Manuscript Collection

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>Predominately manuscripts, some newspaper clippings and broadsides. Most items were produced in Banks's lifetime (1743-1820), but some printed material was produced before 1740. Subjects: botany, biology, wool, agriculture, drainage, physical sciences (9,000-10,000 items).</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#highlights-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">King James Bible</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>First edition, 1611.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#highlights-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Adolph Sutro Manuscript Collection</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Business, political, personal correspondence; records of book purchases; campaign materials; copies of periodical articles about Sutro; visitor's registers and cards.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#highlights-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">John Murray Collection</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>
                                        Subjects: English rivers, drainage, dock construction and railroads,
                                        1820–1840s..
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#highlights-accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">James O. Halliwell-Phillipps Collection</a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <p>Manuscripts, 15th–18th centuries. Subjects: leases, deeds, indentures, sales notices, household records, literature, reports (59 items). Shakespeare-related items, 18th–19th centuries (26).</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="orange">Regional and Subject Matter Collections</h3>

                    <div class="panel-group" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">British Pamphlets</a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <p>British pamphlets, almost all pre-1800, exclusively British politics, with some religious controversies (10,000 items).</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingEight">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        German Reformation pamphlets

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                <div class="panel-body">
                                    <p>150 items, including works by Martin Luther, 16th century.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingNine">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Hebraica Collectione</a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                                <div class="panel-body">
                                    <p>Yemenite Hebrew manuscripts, 13th–14th centuries. Includes writings of Maimonides, the Talmud, Mishneh Torah, Midrash and commentaries, codes, prayer books, philosophy, cabalistic works, poetry, medicine (167 items).</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTen">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Incunabula Collection</a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                                <div class="panel-body">
                                    <p>Early printed materials, pre-1500, including Alphabetum Divini Amoris, Joannes Gerson, 1466-67; Summa Theologica, St. Thomas Aquinas,1478; Nuremberg Chronicle, 1496 (50 items).</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingEleven">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">Italian Manuscript Collection</a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                                <div class="panel-body">
                                    <p>
                                        Italian notarial documents, chiefly property settlements pertaining to several Venetian families, 15th–17th centuries (168 documents).
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwelve">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">Japanese and Chinese Art Collection </a>
                                </h4>
                            </div>
                            <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                <div class="panel-body">
                                    <p>Several hundred ukiyo-e woodblock prints, Japan, pre-1860; Chinese trade painting books; scrolls, early to mid-19th century.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading13">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">Maps</a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                <div class="panel-body">
                                    <p>Pieter van den Keere world map, 1611, only known copy. 150 uncatalogued maps from 16th–20th centuries. </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading14">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">Mexicana Collection</a>
                                </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                <div class="panel-body">
                                    <p>Several thousand items printed in Mexico before 1900: pamphlets on political tracts and speeches; devotionals; sermons; histories; periodicals; governmental publications (national, state, city); land holdings; notarial records; records of the Valdes and Abadiano press and bookstore; travel diaries; Mexican War-related items, including some printed in the U.S.; photographs, 19th-20th centuries. </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading15">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15"> Rivers and Harbors Collection</a>
                                </h4>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                                <div class="panel-body">
                                    <p>Manuscripts, maps, and books on rivers, harbors, bridges and canals in Great Britain, 19th century. </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading16">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#regional-accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16"> Other Collections</a>
                                </h4>
                            </div>
                            <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
                                <div class="panel-body">
                                    <ul>
                                        <li>Books on travels and voyages from the 17th–20th centuries</li>
                                        <li>Early science books</li>
                                        <li>Extensive natural history collection</li>
                                        <li>Autographs and letters of English notables</li>
                                        <li>Sutro Baths posters</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="third">
                    <img class="animated fadeInLeft img-responsive" src="~/Content/StateTemplate/images/sutro-images/ASutro.jpg" />
                </div>

            </div>

        </main>
    </div>
</div>
