
@{
    ViewBag.Title = "Visiting Sutro";
    ViewBag.Banner = "SutroBuilding.jpg";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "California State Library Vist Sutro page.  Find information related to visiting Sutro here";
    ViewBag.Keywords = "California State Library, Diital Image Reproduction, CA, Legislators, State Library, Sutro, SFSU, visiting, visit";
}

<head>
    <title>@(ViewBag.Title)</title>
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <ol class="breadcrumb dynamic">
            </ol>

            <h2 class="page-title" id="title">@ViewBag.Title</h2>

            <img src="~/Content/StateTemplate/images/banner/@(ViewBag.Banner)" style="width:100%" alt="" class="animated fadeInLeft" />
        </div>
        <div class="section">
            <div class="container">

                <h3>General Information</h3>

                <p>
                    You can visit Sutro 10am - 4pm, Monday - Friday, excluding <a href="http://www.library.ca.gov/visit-us/locations-and-hours/">State holidays.</a>
                </p>
                <p>
                    The Sutro Library welcomes SFSU's academic community, visiting scholars, 
                    and the general public. Scholars using Sutro's rare materials are asked to 
                    <a href="mailto:sutro@library.ca.gov">email us</a> 3 business days in advance 
                    of their visit and have a government issued or current student photo ID. 
                    Pencils and/or laptops are welcome, but no binders, three-ring notebooks or pens 
                    of any kind will be permitted.
                </p>

                <br/>

                <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Bringing Your Class to Sutro</a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        We encourage San Francisco State University instructors and their students
                                        to use our rich and diverse collections. Instructors are encouraged to
                                        collaborate with a librarian in selecting Sutro materials for either a
                                        general or subject-specific class that enhances the educational goals of
                                        their students.
                                    </p>
                                </div>
                                

                                <h3>
                                    Using Sutro's Classroom
                                </h3>

                                <div class="indent-inner">
                                    <p>
                                        Classes are scheduled Monday through Friday, from 10 a.m. to 5 p.m. Due to
                                        the classroom's size, we can only accommodate classes of no more than 20
                                        students. Larger classes will be divided and separate sessions scheduled.
                                        Given our staffing levels, please contact us 3-4 days before the date of your
                                        class.
                                    </p>
                                </div>

                                <h3>
                                    Arranging to Use Our Collections
                                </h3>

                                <div class="indent-inner">
                                    <p>
                                        Instructors can arrange for a library class in the Sutro by completing the
                                        <a href="/sutro/class">online form</a>.
                                    </p>
                                </div>

                                <h3>
                                    Preparing Your Students
                                </h3>

                                <div class="indent-inner">
                                    <p>
                                        There are a few simple rules that students will need to follow when using the
                                        Sutro classroom:
                                    </p>
                                    <ol>
                                        <li>
                                            Students should wash their hands before entering.
                                        </li>
                                        <li>
                                            Students' backpacks and bags will be left just inside the classroom door.
                                        </li>
                                        <li>
                                            Only pencils should be used. Pens of any type or felt markers are not permitted.
                                        </li>
                                        <li>
                                            No food or drink of any kind is allowed.
                                        </li>
                                    </ol>
                                    <p>
                                        Your assigned librarian will assist you with the physical presentaiton of the
                                        materials and provide instruction on handling materials as needed.
                                    </p>
                                </div>

                                <h3>
                                    Room Amenities
                                </h3>

                                <div class="indent-inner">
                                    <p>
                                        Our classroom is equipped with a laptop projector, one tabletop dry-erase board,
                                        various sizes of foam cradles, and approximately 20 chairs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Getting to Sutro Library</a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <ul style="margin-top: 7px;">
                                        <li>
                                            <a href="@Request.Url.ToString()">
                                                Driving directions, parking, and public transit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Content/StateTemplate/images/sutro-images/sutroMap.jpg">
                                                SFSU map
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                                <h3>
                                    Disability Assistance
                                </h3>
                                <div class="indent-inner">
                                    <p>
                                        For those individuals who need assistance getting between the parking
                                        garage and the Sutro library, SFSU provides transportation. Call the Disability
                                        Programs and Resource Center at 415-338-2472 a day in advance to arrange a
                                        pick up. The driver picks up passengers near the pedestrian bridge on the top
                                        level of the parking garage (take the elevator to the top level of the garage).
                                        This service is available during campus business hours, Monday – Friday from
                                        8:30am to 4:30pm.
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Library Cards</a>
                            </h3>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                
                                    <p style="margin-top: 7px;">
                                        We are changing our circulation policies. Starting January 1, 2017, our
                                        books will not circulate directly to the public. If you wish to borrow a
                                        book from the Sutro Library, please submit an interlibrary loan request through
                                        your local library.
                                    </p>
                                    <p>
                                        This change brings our branch into compliance with the broader lending policies
                                        of the California State Library. We continue to lend eligible materials directly
                                        to following groups:
                                    </p>
                                    <ul>
                                        <li>
                                            Faculty or Staff of UC or CSU
                                        </li>
                                        <li>
                                            California State Employees
                                        </li>
                                        <li>
                                            Members of the California Legislature and their staff
                                        </li>
                                        <li>
                                            State Constitutional Officers
                                        </li>
                                        <li>
                                            Gubernatorial and legislative appointees
                                        </li>
                                        <li>
                                            Members and employees of the California Judiciary
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Library Amenities</a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <ul style="margin-top: 7px;">
                                        <li>
                                            Wifi Internet access
                                        </li>
                                        <li>
                                            Computers
                                        </li>
                                        <li>
                                            Digital microform scanners
                                        </li>
                                        <li>
                                            Book scanner
                                            <p>
                                                <strong>Note</strong>: Scanners can be used to save to a flash drive or email scanned materials
                                                from our various resources. Please check with staff for email size limitations.
                                            </p>
                                        </li>
                                    </ul>
                                   
                                    <p>
                                        Sutro will be going green! Sutro Library will save valuable state and
                                        environmental resources by becoming a paperless library. Anyone wanting
                                        to make copies is encouraged to bring a flashdrive, email files to yourself,
                                        or use other cloud storage services.
                                    </p>
                                    <p>
                                        Thank you for helping us save California's resources.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

