@{
    ViewBag.Title = "Women's March";
    ViewBag.Banner = "womensmarch1.jpg";
    ViewBag.Author = "Jonathan Shaw";
    ViewBag.Description = "California State Library Women's March page.  Find info about the women's march here.";
    ViewBag.Keywords = "California State Library, Diital Image Reproduction, CA, Legislators, State Library, Sutro, SFSU, women's, womens, march";
}

<head>
    <title>@(ViewBag.Title)</title>
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">

    <main class="main-primary">

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li><a href="/Sutro">Sutro</a></li>
                <li class="active"><a href="/womens-march">Women's March</a></li>
            </ol>

            <h1 class="orange" id="title">@ViewBag.Title</h1>

            <img src="~/Content/StateTemplate/images/banner/@(ViewBag.Banner)" style="width:100%" alt="" class="animated fadeInLeft" />
        </div>

        <div class="section">
            <div class="container">
                <p>
                    On January 21, 2017 women throughout the United States and the world came together to unite as one movement in an
                    expression of solidarity and hope. In a new era of political change a diverse array of women, children, men, LGBTI,
                    young and old marched to draw attention to a multitude of issues.
                </p>
                <p>
                    The California State Library is mandated to protect and preserve California's rich history and is ideally suited to
                    house this collection of historical and political importance. It will be maintained for researchers, students, and
                    the general public and is freely accessible to all.
                </p>
                <p>
                    Material to be collected includes but is not limited to:
                </p>
                <ul>
                    <li>
                        Flyers, posters, and signs
                    </li>
                    <li>
                        Clothing and wearable art
                    </li>
                    <li>
                        Artwork
                    </li>
                    <li>
                        Personal narratives in any format
                    </li>
                </ul>
                <p>
                    Please carefully remove any frames or sign supports before submitting. Unfortunately, we will not be able to accept
                    severely damaged posters and art.
                </p>
                <br/>
                <h3>
                    How to Proceed
                </h3>
                <div style="float: left; width: 50%; text-align: center; margin-bottom:15px;">
                    <p>
                        <strong>Mail:</strong> <br />
                        Please mail your items to:<br />
                        California Women's March Collection<br />
                        Sutro Library - California State Library<br />
                        1630 Holloway Avenue<br />
                        San Francisco, CA 94132
                    </p>
                </div>
                <div style="float: right; width: 50%; text-align: center;margin-bottom:15px;">
                    <p>
                        <strong>Drop Off:</strong> <br />
                        If you wish to drop off physical<br/>
                        materials, the Sutro Library is located<br/>
                        on the SFSU campus in the J. Paul<br/>
                        Leonard Library, 5th Floor. Our hours are<br/>
                        10 a.m. to 4 p.m. Monday through Friday<br/>
                    </p>
                </div>
                <p>
                    <strong>Further questions?</strong> Please contact Mattie Taormina, Director of the Sutro Library at
                    <a href="mailto:mattie.taormina@library.ca.gov">mattie.taormina@library.ca.gov</a>.
                </p>
                <br/>
                <h3>
                    Frequently Asked Questions
                </h3>

                <div class="panel-group" id="example-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What will happen to my items?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        We will accession your materials for use in teaching, learning, research,
                                        and exhibition. They will be stored in archival industry standard acid-free
                                        folders and boxes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Where will they live?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        They will be housed appropriately for long term preservation in the California
                                        State Library's San Francisco Branch, the Sutro Library. Depending upon how
                                        many donations we receive, some of the posters might reside at the State Library
                                        in Sacramento in order to broaden the reach of the collection. Both locations
                                        have an industry standard high density storage facility.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Do you accept digital photographs?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        Unfortunately, at this time we cannot. We are working on it so check back with us.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Can I have it back later to give to my relatives?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        No. Gifts are irreversible and the State Library reserves the right to transfer or
                                        deaccession materials on a case by case basis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">What if you don't want what I send?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body indent-outer">
                                <div class= "indent-inner">
                                    <p style="margin-top: 7px;">
                                        We cannot return things, so please don't send things which have great sentimental
                                        value.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">What about copyright laws?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        Items will be used for education purposes and will fall under the Fair Use
                                        provisions of copyright. Please be advised that all materials will be publicly
                                        accessible, and the California State Library is not responsible for duplication
                                        or abuses of copyright by users of the collection.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Will I be associated with my donation?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        It is your choice! It is not necessary to include identifying information on your item
                                        — we are happy to accept it anonymously.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">Can I send you a testimony with my item?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        If you wish to provide additional written testimony or accounts (either handwritten or
                                        typed) with your item, we will make sure it remains associated with your donated item.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">I was an organizer of a group that marched. Can we send you all our posters?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        We recommend that your group pick the best representative samples of your posters and send
                                        those. Please limit your donation to less than 50 items per group.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#example-accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">How big a poster can I send?</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body indent-outer">
                                <div class="indent-inner">
                                    <p style="margin-top: 7px;">
                                        Archival space is always a premium so please do not send us anything over 22 X 28 inches.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>