
@{
    ViewBag.Title = "California State Library – Disposal List Instructions";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Disposal list instructions for Federal Depository Program Libraries include federal legal requirements for discarding and Regional rules on formatting.";
    ViewBag.Keywords = "California, state, Library, Policies";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/sutro">Our Collections</a></li>
                    <li>Government Publications</li>
                </ol>
                <h2 class="page-title">Disposal List Instructions for California Selective FDLP Libraries</h2>

                <p>Please send your Federal Depository Library Program (FDLP) disposal lists as e-mail attachments to the Regional FDLP Librarian at <a href="mailto:FDLP.Regional@library.ca.gov">FDLP.Regional@library.ca.gov</a>. Please attach only one disposal list to each e-mail message. You may submit more than one disposal list at a time, but use a separate e-mail message for each list.</p>
                <p>Please do not send California state document disposal lists to the above e-mail address. Instead, please send them to Bill Riddle at  <a href="mailto:bill.riddle@library.ca.gov">bill.riddle@library.ca.gov</a>. Also, please do not mix California state documents with federal documents on any disposal lists.</p>
                <p>
                    The intent of the Federal Depository Library Program is to ensure free, open public access to federal documents distributed by the Government Printing Office. The goal of depository libraries is to maintain free, open access to government publications by residents of their state.
                </p>
                <p>In pursuit of this goal the California State Library (CSL), as the FDLP Regional Depository for California, has established procedures for Selective Depositories to use when discarding U.S. government depository publications. CSL set up these procedures under the provisions of <a href="http://www.fdlp.gov/file-repository/depository-administration/1984-legal-requirements-and-program-regulations-of-the-federal-depository-library-program/file" target="_blank">Legal Requirements &amp; Program Regulations of the Federal Depository Library Program (2011)</a> and Section 1912, Title 44, of the U.S. Code.</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h3>What not to include in FDLP disposal lists</h3>
                <p>Disposal lists need not include any of the following items, and you can simply dispose of these without offering them:</p>
                <ul>
                    <li><p>Materials previously offered to CSL by other depositories, listed in the document <a href="/Government-Publications/Federal-Depository/disposal-list">Previous FDLP Disposal List Offers</a></p></li>
                    <li><p>Superseded material – The <a href="https://www.fdlp.gov/file-repository/historical-publications/superseded-list-and-guidelines/1369-2002-superseded-list-and-supplements?path=historical-publications/superseded-list-and-guidelines" target="_blank">FDLP 2002 Superseded List and Supplements</a> is still the standard reference for determining superseded materials.</p></li>
                    <li><p>Pamphlets that have been in your collection for at least 5 years. A pamphlet is defined as a print publication 20 pages or less and less than 24 cm tall.</p></li>
                    <li><p>Microfiche you have had in your collection for at least 5 years, unless you have a long run of a particular title (five or more years or 100 or more numbers of a serial).</p></li>
                    <li><p>CD-ROMs and DVD-ROMs you have had in your collection for at least 5 years.</p></li>
                    <li><p>Congressional hearings and prints classified Y 4, as long as the hearings have been in your collection for at least 5 years, were issued after 1960, and do NOT fall into any of the following categories:</p></li>
                    <p>
                        — hearings that are related to California or California issues (e.g., federal water allocations in the western states),<br />
                        — hearings concerning Indians in the Western US, or<br />
                        — hearings on a major historical event or issue (such as the Kennedy Assassination, the Iraq War, Social Security reform, etc.).
                    </p>
                    <li><p>Agricultural, Economic, Manufacturing, Population and Housing, and Transportation Census schedules from 1970 to the present-as long as they have been in your collection for at least 5 years. Any older Census schedules and all other Census Bureau publications must be offered.</p></li>
                </ul>
                <p>Although you do not have to offer these categories of items to the State Library or to any other depository, you are always encouraged before simply recycling or discarding them to see if public libraries or educational institutions in your area want them.</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h3>Electronic Substitution</h3>
                <p>You may substitute electronic publications for tangible publications that have not been in your collection for the required five years, if:</p>
                <ol>
                    <li>the electronic publication is official, <br />(These are usually accessed through a subscription database or FDSys.)</li>
                    <li>the electronic publication is complete; in that it is an exact replica of the tangible version, and</li>
                    <li>free to obtain by the user.</li>
                </ol>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h3>Types of disposal lists</h3>
                <p>Standard disposal lists should have only items that your institution has had for 5 or more years. Please see below for information on formatting these lists.</p>
                <p>If you have duplicates or unselected publications, you can dispose of them before the standard 5-year time is up. Please put these items together on a separate list. Please see below for information on formatting these lists.</p>
                <p>For those items for which you wish to substitute an electronic version, see the <a href="https://www.fdlp.gov/file-repository/collection-management/2532-best-practices-when-superseding-and-substituting" target="_blank">FDLP Best Practices When Superseding and Substituting</a> for detailed instructions on substituting. If you do have items for which you feel there is an equivalent, stable electronic version, please send these items on a separate list. Only items that you've had for more than 1 year can be disposed of this way. Please see below for information on formatting these lists.</p>
                <p>Please confirm that you actually do have all the materials on your lists before you send them to the California State Library. Our collection is housed in a space the size of a football field, so processing the lists is extremely time- and energy-consuming. We don't have the time to search for and request items and then find out that the offering library created the list from their catalog and is actually missing many of the items on it.</p>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h3>How to format disposal lists</h3>
                <p>Create a file name for your disposal list that consists of three and only three elements:</p>
                <ol>
                    <li>a shortened name of your library (keep it consistent and use the same name for all disposal lists);</li>
                    <li>the date on which you are submitting the list, in YYYYYMMDD format; and,</li>
                    <li>only if you are sending more than one list on the same day, a dash followed by a number. Different numbers should be assigned sequentially.</li>
                </ol>
                <p>For example, the file name of the e-mail attachment containing the second disposal list sent by the Arcadia Public Library on June 26, 2011, would be "Arcadia 20110626-2" (without the quotation marks, of course).</p>
                <p>In any subsequent communication with you about the list, we will reference this number. So if in your own records you rename the file, please make sure you can cross-reference between your own file name and the file name you used when you sent the list to us.</p>
                <p>Use the file name as the subject line for the disposal list e-mail you send to the California State Library.</p>
                <p>At the top of each list, please include</p>
                <ul>
                    <li>your depository's name,</li>
                    <li>the depository coordinator's name and contact information,</li>
                    <li>the file name number of the list,</li>
                    <li>the date you are submitting the list to the California State Library, and</li>
                    <li>the type of list it is (standard disposal list, duplicates/unselected publications list, or electronic substitution list).</li>
                </ul>
                <p>For each title, please include the complete SuDoc number, full title, holdings if applicable (which issues of a serial you have, for instance), format, and the date your institution received it. If your items do not have SuDoc numbers, you may have luck finding records with SuDoc numbers in the <a href="http://catalog.gpo.gov/" target="_blank">Catalog of Government Publications</a>. The date of receipt can come from archived shipping lists or from a date stamp on the item in question. If the item in question is a serial, you may simply give the latest issue's receipt date. For electronic substitution lists, please include a column to indicate the location of the electronic item (for instance, "Substitute EL format from GPO," or "Substitute online database <a href="http://www.flra.gov/decisions" target="_blank"> http://www.flra.gov/decisions</a>").</p>
                <p>You must list your discards in SuDoc order.</p>
                <p>Please do not include any extra columns, internal notes, or unexplained symbols.</p>
                <p>Create a disposal list in a Microsoft Excel spreadsheet or a Microsoft Word document. Before you send us an Excel spreadsheet, please check to be sure that the document prints out only one page wide. If you use Word, please use preset tabs or a table to format the list.</p>
                <p>When created in Excel or Word, in roughly 12-point font with 1-1 1/2" margins, your list should be no longer than about five pages. Please do not send us more than five disposal lists per month, unless you have made previous arrangements with the Regional Librarian. It will help us process your lists faster if you weed on a regular basis, sending us smaller lists more frequently rather than enormous lists infrequently. Please consider submitting separate lists for different agencies if you have substantial amounts of material from each.</p>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h3>The State Library's response to disposal lists</h3>
                <p>Once we receive your disposal list, our goal is to examine it and get back to you within three to four weeks. We may occasionally be unable to meet this deadline, but we will strive to stay close to it.</p>
                <p>We will then notify you of any items we wish to claim from your disposal list, and, in most cases, give you permission to offer the rest via the CalDoc-L listserv. In very rare cases, we may not give you permission to withdraw certain materials on your lists, if this would be in the best interests of your depository's patrons or the California FDLP as a whole.</p>
                <p>As your Regional, the California State Library requires that you send us at no charge the materials that we claim.</p>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h3>Offering disposal lists via listservs</h3>
                <p>After the California State Library selects what we need, we require that California depositories offer remaining titles via CalDoc-L because it is our responsibility, as Regional, to ensure public access to government information to all California residents.</p>
                <p>When you post disposal lists on CalDoc-L, the key things to remember are:</p>
                <ul>
                    <li>Say that you have been given permission by the California State Library to dispose of these materials.</li>
                    <li>If you are substituting electronic items for tangible, please state this in your message.</li>
                    <li>If the disposal list is short, you can include it in the body of your e-mail. If it is a few pages long, it's probably better to attach a Word document or Excel spreadsheet. If the list is longer than a few pages, it would be best to break it down into smaller lists, submitting each separately, or to post the file on your library website and include a link to it in the e-mail.</li>
                    <li>Give a two-week deadline for other depositories to claim the material. You can make the time period longer if you want to, but you don't have to.</li>
                    <li>It's up to you whether your library will pay postage or whether the claiming library will have to pay. Whatever you decide, please state in your listserv post which institution will pay for shipping. In the spirit of the program, we encourage, but do not require, that you send claimed material to other depositories at no charge. As mentioned above, materials that we claim, as Regional, must be sent to us at no charge.</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h3>Disposing of unclaimed items</h3>
                <p>The FDLP places restrictions on disposing of items that no other depository claims. (See Chapter 5 of the FDLP Handbook, especially sections 5.14-16). You can treat the unwanted items as secondary copies, which means that you can offer them to non-depository libraries or educational institutions in your geographic area or even keep them in your regular collection. You can also recycle or sell them (but if you sell them or recycle them for cash, the proceeds and an explanatory letter must be sent to the Superintendent of Documents).</p>
                <p>If you have any questions at all about this process, please send your questions to: <a href="mailto:FDLP.Regional@library.ca.gov">FDLP.Regional@library.ca.gov</a>.</p>
                <p>Final<br />Revised August 7, 2017</p>
            </div>
        </div>
    </main>
</div>


