
@{
    ViewBag.Title = "California State Library – Disposal List Instructions";
    ViewBag.Author = "Dmitriy Rusetskiy";
    ViewBag.Description = "Disposal list instructions for Federal Depository Program Libraries include federal legal requirements for discarding and Regional rules on formatting.";
    ViewBag.Keywords = "California, state, Library, Policies";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <ol class="breadcrumb dynamic"></ol>
            <h2 class="page-title">Disposal List Instructions for California Selective FDLP Libraries</h2>
        </div>
    </main>
</div>


