
@{
    ViewBag.Title = "CSL - California Revealed Copyright and Oral Histories or Other Sound Recordings Information";
    ViewBag.PageTitle = "About Oral Histories and Other Sound Recordings";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "What does copyright law say about oral histories and other types of sound recordings, such as a recording of a meeting? Find the answers to these and related questions, such as what kinds of permissions are needed to post this type of content.";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="~/services/to-libraries/">To Libraries</a></li>
                    <li><a href="~/library-dev-services/">Library Development Programs and Projects</a></li>

                    <li><a href="~/services/to-libraries/ca-revealed">California Revealed</a></li>

                    <li class="active">Oral Histories</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <p>(© 2016, Gretchen McCord)<span class="required-label">*</span></p>
            </div>
        </div>
        <div class="section section-danger">
            <div class="container">
                <p><strong>Important Legal Notice:</strong> Resources provided by the California Revealed project provide only legal information, not legal advice. Although prepared by a copyright attorney, <strong><em>nothing in these web pages or documents should be considered legal advice.</em></strong></p>
            </div>
        </div>
        <div class="section">
            <div class="container">

                <div class='panel-group' role='tablist' aria-multiselectable='true'>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>
                                    What does copyright law say about oral histories?
                                    What about other types of sound recordings, like a recording of a meeting?
                                </a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>
                                Neither the Copyright Acts of 1976 or 1909 nor case law addresses the copyright status of oral histories specifically. Thus, the law regarding the larger category of sound recordings applies to oral histories. That complicates things from the start, because copyright law applies differently to sound recordings (defined as "works that result from the fixation of a series of musical, spoken, or other sounds, but not including the sounds accompanying a motion picture or other audiovisual work") than to any other type of work. (Note that in the case of recorded music, the underlying musical work, or song, is a separate work from a sound recording of that song.)
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>What kind of permission do we need to have to post oral histories or other sound recordings?</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                <h4>The Bottom Line</h4>
                                <p>The law is in a state of flux right now, as explained below, so it is not always clear which rights of the "bundle" of rights granted to a copyright owner apply to sound recordings. (That bundle contains the rights to reproduce, create derivatives of, and publicly perform or display the work, and to distribute the work to the public.) Thus, from anyone who might have contributed creative content to it, including the subject(s) and the interviewer(s), you should obtain either (1) an assignment of copyright in the oral history or other sound recording or (2) permission to reproduce, distribute to the public, and publicly perform the oral history or other sound recording. See <a href="/services/to-libraries/ca-revealed/permission">About Permissions.</a></p>
                                <h4>The Explanation</h4>
                                <p><em>Created Before February 15, 1972</em></p>
                                <p>Sound recordings made prior to February 15, 1972, are not protected at all by federal copyright law. They are, however, protected by state law. Most states rely on common law (court decisions), but a few, including California, protect the copyright in sound recordings under statutory law. Thus, the law varies, sometimes greatly, from state to state.</p>
                                <p>Currently, <a href="http://leginfo.legislature.ca.gov/faces/codes_displayText.xhtml?lawCode=CIV&division=2.&title=2.&part=3.&chapter=3.&article=">California Civil Code § 980(a)(2)</a> protects sound recordings created prior to February 15, 1972 (although it does not explain who is considered an "author" of a sound recording). However, until recently, the statute was interpreted as protecting only the right to make direct copies and excluded the right of public performance. In 2014, a California district court for the first time interpreted the statute as also granting a public performance right in pre-1972 sound recordings. It is widely expected that the case will be appealed. Meanwhile, similar lawsuits are being filed in other states and decided with varying outcomes.</p>
                                <p><em>Created On or After February 15, 1972</em></p>
                                <p>
                                    When Congress first granted copyright protection to sound recordings, effective as of February 15, 1972, that protection extended only to the rights to reproduce and distribute copies to the public. However, in 1995, Congress passed the Digital Performance Right in Sound Recordings Act, which grants a public performance right that is limited to performance "by digital audio transmission." Thus, although not all public performances of sound recordings are protected by copyright law, your permission to include a sound recording in the California Revealed project does need to include the right to publicly perform.

                                </p>

                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>How long does copyright in a sound recording last?</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                <p>
                                    Because of the weird history briefly described above, the term of copyright protection for sound recordings is determined differently than for other works. See the chart <a href="http://copyright.cornell.edu/resources/publicdomain.cfm" target="_blank">Copyright Term and the Public Domain</a> for help determining whether the recordings are protected by copyright or in the public domain and <em>scroll down to the section specifically on sound recordings</em>.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Who owns the copyright in an oral history?</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                <p>
                                    There is some disagreement among scholars and experts on the correct answer to this question, but much of that may be because, as is true with most questions of legal rights, it depends on the circumstances.
                                </p>
                                <p>
                                    As a general rule, the speaker or speakers will own the copyright in the recording. The person recording the discussion will only own a copyright interest if they contributed some level of creativity to the final product, as a professional sound engineer often does. That would not be the case when that person simply begins and ends the recording process.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading6'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse6' aria-expanded='false' aria-controls='collapse6'>Who created protectable content?</a>
                            </h3>
                        </div>
                        <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>
                            <div class='panel-body'>
                                <p>
                                    To qualify for copyright protection, a work must be (1) a work of original authorship  with a modicum of creativity and (2) fixed in a tangible medium of expression.
                                </p>
                                <p>
                                    The first part means that the person claiming authorship must have actually created something; in other words, that the work originated from that person (as opposed to having been copied from an existing work) and that it contain something created by that person (as opposed to, for example, a recitation of pure facts). In a typical oral history, the narrator tells a story in his or her own words, thus clearly meeting the requirements of both originality and creativity.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading7'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse7' aria-expanded='false' aria-controls='collapse7'>What about the person making the recording?</a>
                            </h3>
                        </div>
                        <div id='collapse7' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading7'>
                            <div class='panel-body'>
                                <p>
                                    If the oral history is in the form of an interview, with a library staff member interviewing the narrator, that person might have contributed at least a modicum of creativity to the work. An "interview" consisting of asking only very factual questions such as "When were you born?" "Where did you attend school?" and "Whom did you marry?" may not rise to the required level of creativity. But an interview that goes further, beyond "Just give us the facts, ma'am," would; for example, an interviewer reacting to the narrator, pursuing stories as they unfold, would certainly meet the modicum requirement.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading8'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse8' aria-expanded='false' aria-controls='collapse8'>Does the copyright belong to the interviewer or the library?</a>
                            </h3>
                        </div>
                        <div id='collapse8' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading8'>
                            <div class='panel-body'>
                                <p>If the interviewer is employed by the library and created the oral history as a part of his or her job, the library will be deemed to be the author, and thus copyright owner, of any copyrightable contribution the interviewer made. Otherwise, however (for example, if the "interviewer" was a library volunteer), the library will have no copyright interest in the recording without an assignment or license.</p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading9'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse9' aria-expanded='false' aria-controls='collapse9'>How can both the narrator and the interviewer own the copyright?</a>
                            </h3>
                        </div>
                        <div id='collapse9' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading9'>
                            <div class='panel-body'>
                                <p>If more than one person contributed creative expression to the recording, the recording will be considered a "joint work" and the authors "joint authors." (A joint work is a work prepared by two or more authors with the intention that their contributions be merged into inseparable or interdependent parts of a unitary whole.) Joint authors are considered "co-owners" of the copyright, with each owning an equal share. Either can exploit the joint work in any way—selling copies, licensing third party uses, etc.—without permission of the other, so long as that person equally shares any profits from the exploitation. Note that a joint author can also transfer her interest without permission from other joint authors.</p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading10'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse10' aria-expanded='false' aria-controls='collapse10'>What if the narrator has died?</a>
                            </h3>
                        </div>
                        <div id='collapse10' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading10'>
                            <div class='panel-body'>
                                <p >
                                    Copyright descends like any other property. If the copyright owner had a will, it will descend as the will dictates. If the person died intestate, it will descend according to the law of the applicable state. See <a href="~/Connected Services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a> for tools to use in researching the current owner.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading11'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse11' aria-expanded='false' aria-controls='collapse11'>What if we have a release from the narrator?</a>
                            </h3>
                        </div>
                        <div id='collapse11' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading11'>
                            <div class='panel-body'>
                                <p >
                                    The language of the "release" will control who owns the copyright and what rights the library has to use the recording. See <a href="/services/to-libraries/ca-revealed/permission">About Permissions Documents</a>.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading12'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse12' aria-expanded='false' aria-controls='collapse12'>If the narrator is the sole copyright owner, does the library have any rights in the oral history?</a>
                            </h3>
                        </div>
                        <div id='collapse12' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading12'>
                            <div class='panel-body'>
                                <p >
                                    Even without a written agreement, the library will have some limited rights in the recorded history in the form of an "implied license." An implied license is one that is inferred based on the circumstances. The scope of an implied license is also determined by the circumstances. If the recording was originally made without the understanding that it might be shared beyond the physical walls of the library, the implied license probably does not extend to posting the recording online. However, if the narrator understood at the time the recording was made that the library wished to make it as widely available as possible, the implied license might allow posting online, even if the Internet was not in existence at the time. Unfortunately, as you can see, determining the scope of an implied license can be difficult.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Can we create transcripts from oral history recordings?</a>
                            </h3>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>
                                <p >
                                    Creating a transcript from a sound recording constitutes a reproduction of the sound recording, albeit in a different format/medium. Thus, if you have permission to reproduce the oral history, you may create transcripts (unless the permission specifically allows only certain types of reproductions other than transcripts).
                                </p>
                            </div>
                        </div>
                    </div>
                     
                </div>
                <div class="clearfix"></div>
                <br />
                <p><span class="required-label">*</span> This page copyright 2016, Gretchen McCord. Content may be copied and used on an individual basis for non-commercial purposes only but may not be modified or broadly distributed without permission. For example, you may link to this page (linking does not infringe copyright), but you may not copy and paste the following content on another page.</p>
            </div>
        </div>
    </main>
</div>
