
@{
    ViewBag.Title = "CSL - California Revealed Copyright and Orphan Works Information";
    ViewBag.PageTitle = "About Orphan Works";
    ViewBag.Author = "Alan Cleetus";
    ViewBag.Description = "This page defines orphan works and discusses how the copyright law applies to digitization and online access to this type of material.";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="~/services/to-libraries/">To Libraries</a></li>
                    <li><a href="~/library-dev-services/">Library Development Programs and Projects</a></li>

                    <li><a href="~/services/to-libraries/ca-revealed">California Revealed</a></li>

                    <li class="active">Orphan Works</li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <p>(© 2016, Gretchen McCord)<span class="required-label">*</span></p>
            </div>
        </div>
        <div class="section section-danger">
            <div class="container">
                <p><strong>Important Legal Notice:</strong> Resources provided by the California Revealed project provide only legal information, not legal advice. Although prepared by a copyright attorney, <strong><em>nothing in these web pages or documents should be considered legal advice.</em></strong></p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class='panel-group' role='tablist' aria-multiselectable='true'>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Additional Resources:</a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>

                                <p>
                                    <a href="http://www.cmsimpact.org/fair-use/best-practices/statement-best-practices-fair-use-orphan-works-libraries-archives" target="_blank">Statement of Best Practices in Fair Use of Orphan Works for Libraries &amp; Archives</a><br>(Center for Media and Social Impact, 2014)
                                </p>
                                <p>
                                    <a href="http://www2.archivists.org/sites/all/files/OrphanWorks-June2009.pdf" target="_blank">Orphan Works: Statement of Best Practices</a><br> (Society of American Archivists, 2009)
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>What is an orphan work?</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                <p>
                                    An orphan work is one that is protected by copyright but for which either the identity of or contact information for the copyright owner cannot be determined.  In other words, you would have no way to seek permission to use the work.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>When can we use orphan works?</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                <p>
                                    U.S. Copyright law currently does not address orphan works. Therefore, to use orphan works without first obtaining permission, you must rely on fair use. See <a href="~/services/to-libraries/ca-revealed/fair-use">Fair Use and the California Revealed Project</a> for guidance.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>How can I determine whether a work is an orphan?</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                <p>
                                    Trying to identify a work as an orphan is essentially attempting to prove a negative: that there is no copyright owner or that no contact information exists for the owner.  Therefore, it is impossible to prove with certainty that a work is an orphan. At some point, you just have to stop your research and declare the work an orphan. But what is that point?
                                </p>
                                <p>
                                    Some risk will always be involved in using an orphan, because it is, by definition, protected by copyright. The point at which institutions decide to deem a work to be an orphan will vary, depending in large part on the institution's risk tolerance and the amount of resources the institution can devote to the effort. The decision of when to deem a work an orphan is really about reducing risk.
                                </p>
                                <p>
                                    For example, the risk level of using an anonymous, 50-year-old photograph from a personal collection that has never been published will generally be relatively low, whereas it will be higher for a widely distributed published work that is still popular, despite the publisher having gone out of business. The more you invest in attempting to identify and/or contact a copyright owner without being able to do so, the more you reduce your risk, because you are that much more certain that the work is an orphan. Therefore, it is reasonable to spend more time and effort on investigating higher risk works than those with lower risk.
                                </p>
                                <p>
                                    In either case, however, you will have to draw a line at the point where you will declare this work an orphan.  Otherwise, your research on some works could go on indefinitely.  That would not be practical, possible, or even necessary.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>How do we assess that risk?</a>
                            </h3>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>
                                Assessing risk includes both legal and practical considerations and should be thought of as happening on a spectrum, from very low risk to very high risk, with a range of variations in between. The following are some factors that should be considered in assessing risk:
                                <div class="section">
                                    <div class=" container half">
                                        <div class="card card-default">
                                            <div class="card-header">
                                                Lower risk/fewer resources
                                            </div>
                                            <div class="card-block">
                                                <ul>
                                                    <li>
                                                        Copyright owner deceased/defunct

                                                    </li>
                                                    <li>
                                                        Author not well known

                                                    </li>
                                                    <li>
                                                        Unpublished

                                                    </li>
                                                    <li>
                                                        Work is unavailable or difficult to find

                                                    </li>
                                                    <li>
                                                        Never commercially exploited

                                                    </li>
                                                    <li>
                                                        Limited (or niche) public interest

                                                    </li>
                                                    <li>
                                                        Other considerations lowering risk
                                                        (E.g., is there reason to believe that the last known
                                                        copyright owner intended to distribute the work freely?)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" container half">
                                        <div class="card card-default">
                                            <div class="card-header">
                                                Higher risk/more resources
                                            </div>
                                            <div class="card-block">
                                                <ul>
                                                    <li>
                                                        Copyright owner alive/existing

                                                    </li>
                                                    <li>
                                                        Author very well known

                                                    </li>
                                                    <li>Published</li>
                                                    <li>
                                                        Work is widely available

                                                    </li>
                                                    <li>
                                                        Recently commercially exploited

                                                    </li>
                                                    <li>
                                                        Broad public interest

                                                    </li>
                                                    <li>
                                                        Other considerations increasing risk
                                                        (E.g., is the last known copyright owner, or another entity
                                                        associated with the work, known to be highly litigious?)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <p>Note that some common sense is involved in making these assessments.</p>
                                    <p>
                                        Assigning categories of risk, i.e., Level 1 through Level 5, may be helpful in deciding how to allocate resources.

                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading6'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse6' aria-expanded='false' aria-controls='collapse6'>How do we decide how to allocate resources?</a>
                            </h3>
                        </div>
                        <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>
                            <div class='panel-body'>
                                <p>
                                    Your specific process, including amount of resources expended, will depend on various factors specific to your institution. Some institutions will be able to dedicate significantly more staff time and other resources to this process than others. The key is not the total number of hours you spend or the specific tools you use, but being consistent in allocation and expenditure of time and resources.

                                </p>
                                <p>
                                    It may help to be very specific in allocating resources. For example, you may decide that no more than thirty (or ten) minutes of staff time should be spent researching works in in a low risk category, and up to three (or one) hours for a work in a higher level.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading7'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse7' aria-expanded='false' aria-controls='collapse7'>How do we implement this approach?</a>
                            </h3>
                        </div>
                        <div id='collapse7' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading7'>
                            <div class='panel-body'>
                                <p>Using a spreadsheet, table, or other similar document to track your work will help you be consistent and can serve as proof of your efforts. In that document, list the steps you take (see below), the tools used and time spent with each step, and the results. Use more detail in documenting your efforts for works in higher risk categories. For example, for a low-risk work, your process may include making brief notes indicating the sources used and searches performed in each step, while for a high-risk work, your process might include keeping copies of the actual search results.</p>
                                <p>
                                    In addition to your tracking tool, keep copies of all correspondence sent and received.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading8'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse8' aria-expanded='false' aria-controls='collapse8'>Do we have to go through this process of every single work?</a>
                            </h3>
                        </div>
                        <div id='collapse8' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading8'>
                            <div class='panel-body'>
                                <p>If you have reason to believe that the copyrights in multiple works are owned by the same person or entity, it might be reasonable to address the collection as a whole. However, in choosing which item(s) to research as representative of the collection, keep in mind that researching a specific work or works may be much more likely to lead to a copyright owner.</p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading9'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse9' aria-expanded='false' aria-controls='collapse9'>How do we try to identify a copyright owner?</a>
                            </h3>
                        </div>
                        <div id='collapse9' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading9'>
                            <div class='panel-body'>
                                <p>
                                    See <a href="/services/to-libraries/ca-revealed/ownership">Determining Copyright Ownership</a>.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading10'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse10' aria-expanded='false' aria-controls='collapse10'>How do we find contact information for a copyright owner?</a>
                            </h3>
                        </div>
                        <div id='collapse10' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading10'>
                            <div class='panel-body'>
                                <p>
                                    Use whatever tools are appropriate given what you know about the copyright owner to look for location information for the copyright owner. Some of the tools you used in identifying the owner may be helpful. Consult appropriate directories.
                                </p>

                                <p>
                                    The Harry Ransom Center maintains the <a href="http://norman.hrc.utexas.edu/watch/" target="_blank">WATCH database</a>, which provides contact information primarily for more prominent copyright owners.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading11'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse11' aria-expanded='false' aria-controls='collapse11'>How should we contact the copyright owner?</a>
                            </h3>
                        </div>
                        <div id='collapse11' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading11'>
                            <div class='panel-body'>
                                <p>
                                    Use whatever type of location information you are able to find (<em>i.e.</em>, street address, phone number, email address) to attempt to contact the copyright owner.
                                </p>
                                <p>
                                    For this step of the process, you might want to include in your tracking process not only the total time to be spent for each step, but, for each risk category, how many attempts you will make to contact someone and how long you will wait between attempts. Note that the higher the risk category for a work, the more attempts you should make to contact the owner, using as many avenues as possible.
                                </p>
                                <ul>
                                    <li>Send a letter via U.S.P.S.</li>
                                    <li>If no response received within two weeks, send another letter.</li>
                                    <li>If no response to second letter received within two weeks, deem the work an orphan.</li>
                                </ul>
                                <p>
                                    But for a high-risk work for which you have only a single physical address, your process might be:
                                </p>
                                <ul>
                                    <li>Send a letter via U.S.P.S.</li>
                                    <li>If no response received within two weeks, send a certified letter requiring a signature.</li>
                                    <li>If the letter is returned to you, deem the work an orphan.</li>
                                    <li>If the letter is accepted and signed for, deem the work not an orphan.  (If you don't receive a response, you may want to make additional attempts to contact the signatory.)</li>
                                </ul>
                                <p>
                                    Similarly, for works in higher risk categories, you should make greater attempts at locating information for multiple points of contact (<em>i.e.</em>, mailing address, telephone, email) and for multiple locations (<em>i.e.</em>, work and home) and go to greater lengths to confirm the accuracy of the information.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading12'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse12' aria-expanded='false' aria-controls='collapse12'>What should we say in our correspondence?</a>
                            </h3>
                        </div>
                        <div id='collapse12' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading12'>
                            <div class='panel-body'>
                                <p>
                                    Your initial correspondence should explain why you are contacting the person, identify the work for which you are seeking permission, ask the person if he (or his company) owns the copyright, and request a response regardless of the answer. You can either include a permissions document (see <a href="~/services/to-libraries/ca-revealed/permission">About Permissions Documents</a>) in your first attempt at contact or wait to see if you receive confirmation of copyright ownership before sending it.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="clearfix"></div>
                <br />
            <p><span class="required-label">*</span> This page copyright 2016, Gretchen McCord. Content may be copied and used on an individual basis for non-commercial purposes only but may not be modified or broadly distributed without permission. For example, you may link to this page (linking does not infringe copyright), but you may not copy and paste the following content on another page.</p>
            </div>
        </div>
    </main>
</div>

