@{
    ViewBag.Title = "CSL - Manage Your Library Services and Technology Act (LSTA) Project";
    ViewBag.PageTitle = "Manage an LSTA Grant";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "This page provides information and resources to help you manage your LSTA grant and comply with state and federal requirements and guidelines.";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <div class="section">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/grants">Grants</a></li>
                    <li><a href="~/grants/library-services-technology-act/">Library Services and Technology Act</a></li>
                    <li class="active">Manage</li>
                </ol>
                <h2 class="page-title">@ViewBag.PageTitle</h2>

                <p>
                    Everything you need to manage your grant is available here.
                </p>

                <p>
                    If you have any questions about managing your grant, please do not hesitate to call your Grant Monitor.
                </p>

                <div class="group">
                    <div class="half">
                        <div class="panel panel-standout highlight">
                            <div class="panel-heading">
                                <h2><span class="ca-gov-icon-info"></span>    2017/18 Grants</h2>
                            </div>
                            <div class="panel-body">
                                <ul class="list-overstated">
                                    <li><a href="http://www.library.ca.gov/grants/lsta/paig-2017-18.html">Pitch-An-Idea & Competitive Grants 2017/18</a></li>
                                    <li><a href="http://www.library.ca.gov/grants/lsta/plsep2017-18.html">Public Library Staff Education Program (PLSEP) 2017/18</a></li>
                                    <li><a href="http://www.library.ca.gov/grants/lsta/statewide2017-18.html">Statewide Grants 2017/18</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="half">
                        <div class="panel panel-standout highlight">
                            <div class="panel-heading">
                                <h2><span class="ca-gov-icon-info"></span>    2016/17 Grants</h2>
                            </div>
                            <div class="panel-body">
                                <ul class="list-overstated">
                                    <li><a href="http://www.library.ca.gov/grants/lsta/paig-2016-17.html">Pitch-An-Idea Grants 2016/17</a></li>
                                    <li><a href="http://www.library.ca.gov/grants/lsta/plsep2016-17.html">Public Library Staff Education Program (PLSEP) 2016/17</a></li>
                                    <li><a href="http://www.library.ca.gov/grants/lsta/paigStaff-2016-17.html">Staff Innovation Fund Pitch-An-Idea Grants 2016/17</a></li>
                                    <li><a href="http://www.library.ca.gov/grants/lsta/statewide2016-17.html">Statewide Grants 2016/17</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <p>
                    (Documents in PDF format can be viewed with the <a href="http://get.adobe.com/reader/">Adobe Acrobat Reader</a>.)
                </p>
            </div>
        </div>
    </main>
</div>

