
@{
    ViewBag.Title = "Services";
}

<div id="main-content" class="main-content">
    <main class="main-primary">
            <div id="main-content" class="main-content" style="">


                <div id="search_directory_container">
                    <div class="section section-default" style="background-image:url(/-/media/Global-Files/Banners/services.ashx); background-size:cover; background-position: right;">
                        <div class="container">
                            <h1 class="orange">Find a Service</h1>
                        </div>
                    </div>


                    <div class="text-center loading-spinner" style="display: none;">
                        <div class="spinner">
                            <div class="spinner__item1"></div>
                            <div class="spinner__item2"></div>
                            <div class="spinner__item3"></div>
                            <div class="spinner__item4"></div>
                        </div>
                        <span style="display: block;">Loading</span>
                    </div>




                    <form action="/Services" data-ajax-action="/api/sitecore/Search/ServiceAjax" id="search_directory_form">


                        <div class="section section-default">
                            <div class="container">




                            <br style="clear:both">
                            <div style="font-size: 0.001em;padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">&nbsp;</div>
                            <div id="search_directory_loader"></div>
                            <div class="container" id="search_directory_results">




                                <!-- Start Cards -->
                                <div class="group" style="margin-top: -5px;">
                                    <div class="half">


                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-e9d6b9c3-8761-4236-8e9d-17a5864b765c" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="Braile and Talking Books" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/btbl">Braile and Talking Books</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="#">California State Library</a></p>
                                                                <p itemprop="description">Description</p>

                                                                <div class="collapse collapse-e9d6b9c3-8761-4236-8e9d-17a5864b765c" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-413" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="" role="presentation">
                                                                        <meta itemprop="name" content="Braile and Talking Books">
                                                                        <p class="other">
                                                                            General Information: <span itemprop="telephone">(800) 952-5666 toll-free in CA</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5" role="presentation">
                                                                <a href="/btbl/service" class="btn btn-secondary btn-block btn-sm">Service Details</a>

                                                                <div class="collapse collapse-e9d6b9c3-8761-4236-8e9d-17a5864b765c" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-413" aria-hidden="true">
                                                                    <a href="/btbl/resources" class="btn btn-secondary btn-block btn-sm">Resources</a>
                                                                    <a href="/btbl/contact" class="btn btn-secondary btn-block btn-sm">Contact</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-e9d6b9c3-8761-4236-8e9d-17a5864b765c" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-e9d6b9c3-8761-4236-8e9d-17a5864b765c" aria-selected="false" id="ui-collapse-413" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>






                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-e134d484-8266-4b1d-ba27-e425f5fdf39a" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="To Libraries" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/services/to-libraries" class="lead">For Libraries</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="/services/to-libraries">California State Library</a></p>
                                                                <p itemprop="description">Description</p>

                                                                <div class="collapse collapse-e134d484-8266-4b1d-ba27-e425f5fdf39a" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-830" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="" role="presentation">
                                                                        <meta itemprop="name" content="To Libraries">
                                                                        <p class="other">
                                                                            For more information, contact the Library Development Services: <span itemprop="telephone">(916) 653-5217</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5" role="presentation">
                                                                <a href="/services/to-libraries/ca-library-services-act/about/" class="btn btn-secondary btn-block btn-sm">Service Details</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-e134d484-8266-4b1d-ba27-e425f5fdf39a" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-e134d484-8266-4b1d-ba27-e425f5fdf39a" aria-selected="false" id="ui-collapse-830" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>






                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-fccd297b-5d9a-4405-ad48-787e924ea6da" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="Borrowing" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/services/borrowing" class="lead">Borrowing</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="#">California State Library</a></p>
                                                                <p itemprop="description">Description</p>

                                                                <div class="collapse collapse-fccd297b-5d9a-4405-ad48-787e924ea6da" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-426" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="" role="presentation">
                                                                        <meta itemprop="name" content="Borrowing">
                                                                        <p class="other">
                                                                            General Information: <span itemprop="telephone">(916)654-0261</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-fccd297b-5d9a-4405-ad48-787e924ea6da" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-fccd297b-5d9a-4405-ad48-787e924ea6da" aria-selected="false" id="ui-collapse-426" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>






                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-9ef0a8e6-500d-444b-a733-ed6ac9d4cd87" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="Online Resources" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/services/online-resources/" class="lead">Online Resources</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="#">California State Library</a></p>
                                                                <p itemprop="description">Description</p>

                                                                <div class="collapse collapse-9ef0a8e6-500d-444b-a733-ed6ac9d4cd87" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-797" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="" role="presentation">
                                                                        <meta itemprop="name" content="Online Resources">
                                                                        <p class="other">
                                                                            General Information: <span itemprop="telephone">(916)654-0261</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-9ef0a8e6-500d-444b-a733-ed6ac9d4cd87" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-9ef0a8e6-500d-444b-a733-ed6ac9d4cd87" aria-selected="false" id="ui-collapse-797" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>





                                    </div>
                                    <div class="half">


                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-42e1e8f3-f6d8-4d73-90c6-d40aa98ea2f1" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="Statistics" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/services/statistics" class="lead">Statistics</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="#">California State Library</a></p>
                                                                <p itemprop="description">
                                                                    Description
                                                                </p>

                                                                <div class="collapse collapse-42e1e8f3-f6d8-4d73-90c6-d40aa98ea2f1" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-768" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="" role="presentation">
                                                                        <meta itemprop="name" content="Apply for Business License">
                                                                        <p class="other">
                                                                            General Information: <span itemprop="telephone">(916)654-0261</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-42e1e8f3-f6d8-4d73-90c6-d40aa98ea2f1" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-42e1e8f3-f6d8-4d73-90c6-d40aa98ea2f1" aria-selected="false" id="ui-collapse-768" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>






                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-ef446330-4893-4e16-a990-6981e29303ce" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="To General Public" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/services/to-public" class="lead">For Public</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="#">California State Library</a></p>
                                                                <p itemprop="description">Description</p>

                                                                <div class="collapse collapse-ef446330-4893-4e16-a990-6981e29303ce" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-948" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="" role="presentation">
                                                                        <meta itemprop="name" content="To Public">
                                                                        <p class="other">
                                                                            General Information: <span itemprop="telephone">(916)654-0261</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5" role="presentation">
                                                                <a href="/services/to-public/local-libraries" class="btn btn-secondary btn-block btn-sm">Local Libraries</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-ef446330-4893-4e16-a990-6981e29303ce" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-ef446330-4893-4e16-a990-6981e29303ce" aria-selected="false" id="ui-collapse-948" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>






                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-243fd641-c12d-43d7-a5fe-0680adda0369" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="To State Employees" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/services/to-state-employees" class="lead">For State Employees</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="#">California State Library</a></p>
                                                                <p itemprop="description">Description</p>

                                                                <div class="collapse collapse-243fd641-c12d-43d7-a5fe-0680adda0369" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-802" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="" role="presentation">
                                                                        <meta itemprop="name" content="For Employees">
                                                                        <p class="other">
                                                                            General Information: <span itemprop="telephone">(916)654-0261</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-243fd641-c12d-43d7-a5fe-0680adda0369" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-243fd641-c12d-43d7-a5fe-0680adda0369" aria-selected="false" id="ui-collapse-802" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>






                                        <div class="card card-default">
                                            <div class="card-block" id="collapse-1221b20e-2609-4c02-bf26-98247ec78150" itemscope="" itemtype="" role="tablist" aria-multiselectable="true">

                                                <div class="row" role="presentation">
                                                    <div class="col-md-2" role="presentation">
                                                        <img src="" alt="Research" class="img-responsive">

                                                    </div>

                                                    <div class="col-md-10" role="presentation">
                                                        <a href="/services/research" class="lead">Research</a>
                                                        <div class="row" role="presentation">
                                                            <div class="col-md-7" role="presentation">
                                                                <p itemprop="name"><a href="#">California State Library</a></p>
                                                                <p itemprop="description">
                                                                    Description
                                                                </p>

                                                                <div class="collapse collapse-1221b20e-2609-4c02-bf26-98247ec78150" role="tabpanel" tabindex="-1" aria-labelledby="ui-collapse-354" aria-hidden="true">

                                                                    <div class="location" itemscope="" itemtype="http://schema.org/Organization" role="presentation">
                                                                        <meta itemprop="name" content="Research">
                                                                        <p class="other">
                                                                            General Information: <span itemprop="telephone">(916)654-0261</span><br>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-block text-center">
                                                <a href="javascript:;" role="tab" data-toggle="collapse" data-parent="#collapse-1221b20e-2609-4c02-bf26-98247ec78150" aria-expanded="false" aria-controls="avascript:;" data-target=".collapse-1221b20e-2609-4c02-bf26-98247ec78150" aria-selected="false" id="ui-collapse-354" tabindex="-1">
                                                    <span class="toggle-more" aria-expanded="false"></span><span class="sr-only">Open</span>
                                                </a>
                                            </div>
                                        </div>






                                    </div>
                                </div>



                                <br style="clear:both">
                                <div style="font-size: 0.001em;padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">&nbsp;</div>




                            </div>
                        </div>
                    </form>

                </div>

                <span class="return-top"></span>
            </div>
            <div id="mouseposition-extension-element-full-container" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;"><div id="mouseposition-extension-element-rect-display" style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; width: 0px; height: 0px;"><pre style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: rgb(0, 0, 0); min-width: 42px; min-height: 12px; transition: all 1s;"></pre></div><pre id="mouseposition-extension-element-coordinate-display" style="position: absolute; display: none; background: rgb(255, 255, 255); font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: rgb(34, 34, 34) black rgb(51, 51, 51); border-style: solid; padding: 3px; z-index: 2147483647; color: rgb(34, 34, 34); user-select: none; cursor: default; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></pre></div>
    </main>
</div>


