@{
    ViewBag.Title = "CSL – Services";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "A directory of services the California State Library provides to the general public and California state government officials and employees.";
    ViewBag.Keywords = "Services, State, Employees";
    ViewBag.Image = "services.jpg";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li class="active">California State Library Services<li>
                </ol>

                <img class="img img-responsive" src="~/Content/StateTemplate/images/services/@(ViewBag.Image)" alt="Services" />

                <p style="padding-top:40px">
                    Everyone is welcome to visit the <a href="/contact/">public service locations</a> of California State Library to access our collections and resources. With a <a href="https://www.library.ca.gov/apply/default.aspx">State Library Card</a>, California state government officials and employees may also borrow most State Library books, magazines and journals as well as remotely access the Library’s online resources. Members of the general public may inquire about borrowing materials from the State Library through their local public library. Rare and fragile materials are not loaned and must be viewed in the State Library.
                </p>
                <p>
                    The California State Library provides the following services and products to its patrons to help connect them to California's past, present and future:
                </p>

                <div class="group">
                    <div class="half">
                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/btbl.jpg" alt="Braille and Talking Book Library">
                            <div class="card-block">
                                <h4 class="card-title">Braille and Talking Book Library</h4>
                                <p>Learn about the free services and vast, searchable catalog available to eligible readers through our online directory of services and information about the Braille and Talking Book Library.</p>
                                <a href="/services/btbl/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/borrowing.jpg" alt="Borrowing">
                            <div class="card-block">
                                <h4 class="card-title">Borrowing</h4>
                                <p>Find information on <a href="/services/borrowing/">borrowing materials</a> from the California State Library, for state government employee and officials, as well as for the general public.</p>
                                <a href="/services/borrowing/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/comingsoon.jpg" alt="Statistics">
                            <div class="card-block">
                                <h4 class="card-title">Statistics</h4>
                                <p>Find the California State Library's annual compilation of statistical data from California public libraries, including <a href="~/Content/StateTemplate/pdf/services/toLibraries/CA-2017-Instructions-for-Survey.pdf">survey instructions</a> and <a href="~/Content/StateTemplate/pdf/services/toLibraries/CA_Survey_2017.pdf">forms</a> for public libraries to fill out.</p>
                                <a href="/statistics/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/employee.jpg" alt="Employee">
                            <div class="card-block">
                                <h4 class="card-title">For State Government Officials and Employees</h4>
                                <p>With a <a href="https://www.library.ca.gov/apply/default.aspx">State Library Card</a>, California state government officials and employees may remotely access California State Library <a href="http://catalog.library.ca.gov/F/891N3BGQT6FMAYL6B8XXGD4IDYESAVB17VTIS68RU5AYJNCN59-15597?RN=803104306&pds_handle=GUEST">catalogs</a> and <a href="/services/online-resources">online resources</a> as well as borrow books, magazines, journals and training videos from the State Library. Members and staff of the Legislature and Governor’s Office enjoy access to the <a href="/crb/">California Research Bureau</a>, which provides research and expedited reference help.</p>
                                <a href="/services/to-state-employees/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="clearfix"></div>

  </div>

                    <div class="half">
                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/public.jpg" alt="California Public Libraries">
                            <div class="card-block">
                                <h4 class="card-title">For California Public Libraries</h4>
                                <p>Get information on and apply for <a href="http://www.library.ca.gov/grants/lsta/index.html">Library Services and Technology Act grants</a>, access our <a href="/services/to-libraries/statistics/">public library statistical portal</a>, and learn about <a href="/services/to-libraries/Interlibrary-Lending/">Interlibrary Lending</a> and other resources through our <a href="http://www.library.ca.gov/services/lib_tab.html">online directory of Services for Libraries</a></p>
                                <a href="/services/to-libraries/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/online.jpg" alt="Online Resources">
                            <div class="card-block">
                                <h4 class="card-title">Online Resources</h4>
                                The State Library’s online resources are available to all state government officials and employees at their worksite or remotely with a <a href="https://www.library.ca.gov/apply/default.aspx">State Library Card</a>, as well as to members of the general public who visit the California State Library' <a href="/contact/">reading rooms</a>.</p>
                                <a href="/services/online-resources/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/gen-public.jpg" alt="General Public">
                            <div class="card-block">
                                <h4 class="card-title">For The General Public</h4>
                                <p>All visitors to the California State Library &ndash; including those <a href="/contact/">contacting us</a> via phone, email or TDD &ndash; may use the Library's reference services. Learn how to request State Library materials through <a href="/services/to-libraries/Interlibrary-Lending/">interlibrary lending</a> via your local public library.</p>
                                <a href="/services/to-public/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="card card-default" style="">
                            <img class="card-img-top img-responsive" src="~/Content/StateTemplate/images/services/research.jpg" alt="Research">
                            <div class="card-block">
                                <h4 class="card-title">Research</h4>
                                <p>Find research resources and help, as well as information on the <a href="/crb/">California Research Bureau</a>, which provides independent, nonpartisan, timely and confidential policy research or analysis to our clients: the Legislature, the Governor's Office and other Constitutional Officers.</p>
                                <a href="/services/research/" class="btn btn-default">READ MORE</a>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>