
@{
    ViewBag.Title = "CSL - California Revealed How to Determine Copyright Ownership Information ";
    ViewBag.PageTitle = "Determining Copyright Ownership";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "How to determine the ownership of a work for the purposes of copyright compliance is discussed on this page. ";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="~/services/to-libraries/">To Libraries</a></li>
                    <li><a href="~/library-dev-services/">Library Development Programs and Projects</a></li>

                    <li><a href="~/services/to-libraries/ca-revealed">California Revealed</a></li>

                    <li class="active">Ownership </li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <p>(© 2016, Gretchen McCord)<span class="required-label">*</span></p>
            </div>
        </div>
        <div class="section section-danger">
            <div class="container">
                <p><strong>Important Legal Notice:</strong> Resources provided by the California Revealed project provide only legal information, not legal advice. Although prepared by a copyright attorney, <strong><em>nothing in these web pages or documents should be considered legal advice.</em></strong></p>
            </div>
        </div>
        <div class="section">
            <div class="container">

                <div class='panel-group' role='tablist' aria-multiselectable='true'>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Why is it so complicated to figure out who owns copyright in a work?</a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>
                                Determining copyright ownership can become complicated because (1) the original copyright owner is determined based on the circumstances; (2) copyrights can be owned by either humans or entities; (c) copyrights are often assigned to someone else; and (d) during a very long term of copyright protection, human copyright owners die and corporate owners may change structure through merger, acquisition, dissolution, or otherwise.
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>What constitutes a "work made for hire?"</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                <p>
                                    The individual(s) who creates a work is the original owner in the copyright, unless the work is made for hire ("WMFH"), in which case the employer/hiring party is deemed to be the author and thus original copyright owner of a WMFH. However, not all commissioned works constitute works made for hire.
                                </p>
                                <p>
                                    Copyright law recognizes two categories of WMFH:
                                </p>
                                <p>
                                    <strong>Employee:</strong> If the work was created by an employee, as opposed to an independent contractor, as part of his or her employment, the work is a WMFH. (Note that traditionally, institutions of higher education have allowed faculty to retain ownership of their works, but this is up to each institution, not a matter of law.)
                                </p>
                                <p>
                                    <strong>Specially commissioned work/independent contractor:</strong> If the work was created by an independent contractor, it will constitute a WMFH only if certain conditions are met.
                                </p>
                                <p style="margin-left:10px;">
                                    <strong>Pre-1978:</strong> For works created before 1978, a work commissioned from an independent contractor and made "at the instance and expense" of the hiring party is a WMFH. Whether a particular situation meets this criteria depends on the details of that situation, but as a general rule, if the hiring party requested and paid for the work, it will be considered a WMFH.
                                </p>
                                <p style="margin-left:10px;">
                                    <strong>1978 forward:</strong> For works created in 1978 or later, a work created by an independent contractor must fall into one of nine specific categories to constitute a WMFH <strong><em>and</em></strong> the contractor and hiring party must have signed an agreement saying they intend the work to be a WMFH. Unless both conditions are met, the creator owns the copyright, regardless of how much they were paid to create it.
                                </p>
                                <p style="margin-left:10px;">
                                    The nine categories are: A contribution to a collective work, as a part of a motion picture or other audiovisual work, as a translation, as a supplementary work, as a compilation, as an instructional text, as a test, as answer material for a test, and as an atlas
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Who owns the copyright when an owner dies?</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                <p>
                                    Copyright descends like any other property. If the copyright owner had a will, it will descend as the will dictates. If the person died intestate, it will descend according to the law of the applicable state. See below for tools to use in researching current ownership status.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>What if an entity, like a publisher, who owned the copyright is acquired by someone else or is dissolved?</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                <p>What happens to the copyrights in such cases depends entirely on the circumstances. In most cases, ownership will be determined by the documentation associated with the change in entity status (such as a merger agreement). When an entity simply disappears or goes out of business, however, loose ends often remain. If it is not possible to identify the current copyright owner, the work is considered an orphan work.</p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Can a copyright be transferred?</a>
                            </h3>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>
                                <p>
                                    A copyright may be transferred relatively easily. The assigning owner must sign a written document stating that they are transferring (or "assigning") the copyright to the assignee. The assignee can, but is not required by law, to sign the document. Assignments can be recorded in the Copyright Office, but the law does not require doing so. Therefore, it can be quite difficult to determine if a copyright has been assigned and if so, to whom.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading6'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse6' aria-expanded='false' aria-controls='collapse6'>Tools for determining copyright ownership</a>
                            </h3>
                        </div>
                        <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>
                            <div class='panel-body'>
                                <p>
                                    The steps and tools listed below can be helpful in identifying a copyright owner, but this list is not exhaustive, by any means.
                                </p>
                                <h4>Copyright Notice</h4>
                                <p>
                                    If the work includes a copyright notice, assume that the person or entity indicated in the notice is the owner unless you have reason to believe otherwise.
                                </p>
                                <p><strong>TOOL:</strong></p>
                                <ul>
                                    <li>Copyright notice (e.g., © 1965, Jane Smith)</li>
                                </ul>
                                <h4>Author and/or Publisher</h4>
                                <p>
                                    If there is no copyright notice, assume that either the author(s) or the publisher is the owner.
                                </p>
                                <p><strong>TOOLS:</strong></p>
                                <ul>
                                    <li>Indications on the work itself</li>
                                    <li>Any documents associated with the work (e.g., a signed letter with an unidentifiable photograph)</li>
                                </ul>
                                <h4>No indication of copyright owner</h4>
                                <p>
                                    If neither the work nor any associated documents provide any indication of who owns the copyright, use what you do know to select appropriate tools for research.
                                </p>
                                <p><strong>TOOLS:</strong></p>
                                <ul>
                                    <li><a href="http://www.digital.library.upenn.edu/books/cce/" target="_blank">Online Books Page</a>, University of Pennsylvania Libraries (provides links to many resources for researching copyright status of works dating back to 1891, including the U.S. Copyright Office Catalog of Copyright Entries)</li>
                                    <li>U.S. Copyright Office <a href="http://cocatalog.loc.gov/cgi-bin/Pwebrecon.cgi?DB=local&amp;PAGE=First" target="_blank">Online Records Catalog</a> of (post-1977 works only)</li>
                                    <li>Resources appropriate based on the information you know </li>
                                </ul>
                                <h4>Author deceased</h4>
                                <p>
                                    Copyright descends either by will or under state law for intestate estates. Attempt to identify the author's heirs.
                                </p>
                                <p><strong>TOOLS:</strong></p>
                                <ul>
                                    <li>Contact publisher</li>
                                    <li>Obituaries</li>
                                    <li>News resources</li>
                                    <li>Biographical resources</li>
                                    <li>Genealogy tools</li>
                                    <li>Specialized resources in the author's field</li>
                                </ul>
                                <h4>Publisher no longer exists</h4>
                                <p>
                                    If the publisher was acquired by another publisher or business, the copyrights were probably acquired as well. If the publisher simply ceased to exist, the copyrights may have been transferred to someone else or may not have – a true orphan!
                                </p>
                                <p><strong>TOOLS:</strong></p>
                                <ul>
                                    <li><a href="http://norman.hrc.utexas.edu/watch/fob.cfm" target="_blank">Firms Out of Business</a> ("FOB") (specifically for publishing industry)</li>
                                    <li><a href="http://www.digital.library.upenn.edu/books/cce/" target="_blank">Online Books Page</a>, University of Pennsylvania Libraries (provides links to many resources for researching copyright status of works dating back to 1891, including the U.S. Copyright Office Catalog of Copyright Entries)</li>
                                    <li>U.S. Copyright Office <a href="http://cocatalog.loc.gov/cgi-bin/Pwebrecon.cgi?DB=local&amp;PAGE=First" target="_blank">Online Records Catalog</a> of (post-1977 works only)</li>
                                    <li>Business news resources</li>
                                    <li>Business directories</li>
                                    <li>General news resources</li>
                                </ul>
                                <h4>Previous owner transferred copyrights</h4>
                                <p>
                                    If you learn that a previous owner has transferred the copyrights but you don't know to whom, check U.S. Copyright Office records; transfers may be recorded, although most are not.
                                </p>
                                <p><strong>TOOLS:</strong></p>
                                <ul>
                                    <li>U.S. Copyright Office <a href="http://cocatalog.loc.gov/cgi-bin/Pwebrecon.cgi?DB=local&amp;PAGE=First" target="_blank">Online Records Catalog</a> of (post-1977 works only)</li>
                                    <li>U.S. Copyright Office <a href="http://archive.org/details/copyrightrecords/" target="_blank">Catalog of Copyright Entries</a> (1870-1978)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <br />
                <p><span class="required-label">*</span> This page copyright 2016, Gretchen McCord. Content may be copied and used on an individual basis for non-commercial purposes only but may not be modified or broadly distributed without permission. For example, you may link to this page (linking does not infringe copyright), but you may not copy and paste the following content on another page.</p>
            </div>
        </div>
    </main>
</div>

