
@{
    ViewBag.Title = "CSL - California Revealed Copyright and Risk Management Information ";
    ViewBag.PageTitle = "Risk Management and the California Revealed Project ";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "This site offers practical and legal steps that organizations can take to reduce the risk of legal liability from copyright infringement. ";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
</head>

<style>
    .indent {
        margin-left: 10px;
    }
</style>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="~/services/to-libraries/">To Libraries</a></li>
                    <li><a href="~/library-dev-services/">Library Development Programs and Projects</a></li>

                    <li><a href="~/services/to-libraries/ca-revealed">California Revealed</a></li>

                    <li class="active">Risk Management </li>
                </ol>

                <h2 class="page-title">@ViewBag.PageTitle</h2>
                <p>(© 2016, Gretchen McCord)<span class="required-label">*</span></p>
            </div>
        </div>
        <div class="section section-danger">
            <div class="container">
                <p><strong>Important Legal Notice:</strong> Resources provided by the California Revealed project provide only legal information, not legal advice. Although prepared by a copyright attorney, <strong><em>nothing in these web pages or documents should be considered legal advice.</em></strong></p>
            </div>
        </div>
        <div class="section">
            <div class="container">

                <div class='panel-group' role='tablist' aria-multiselectable='true'>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading1'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse1' aria-expanded='false' aria-controls='collapse1'>Why are we talking about risk management?</a>
                            </h3>
                        </div>
                        <div id='collapse1' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading1'>
                            <div class='panel-body'>
                                <p>
                                    Although it is unlikely that you will experience any legal problems resulting from participating in the California Revealed project, like most of life, some risk is involved. There is always some risk that the person who granted you permission to use their work is not the actual copyright owner, that a work you thought was in the public domain actually is not, or that a copyright owner (or court) would disagree with your fair use assessment. Just as importantly, your institution could be wrongly accused of infringing someone's rights when you actually did nothing wrong.
                                </p>
                                <p>
                                    But you can take various steps, both legal and practical, to reduce your risk.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading2'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2'>Liability: What's the worst that can happen?</a>
                            </h3>
                        </div>
                        <div id='collapse2' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading2'>
                            <div class='panel-body'>
                                <p>
                                    To start with, you won't go to jail (copyright law does have some criminal provisions, but they aren't applicable to this situation—or most others involving libraries and archives), and it is highly unlikely that you or your institution will be sued. If someone who believes they own the copyright in a work you've posted is unhappy with your use, their most likely first step will be to contact you, possibly via attorney, a licensing entity, or some other agent. In the vast majority of cases, the two parties will resolve the matter in private negotiations; only very rarely would an entity be sued for engaging in uses like those in the California Revealed project.
                                </p>
                                <p>
                                    See <em>Legal Strategy: Responding to Objections Generally and Legal &amp; Practical Strategy: Establishing a Policy for Responding to Objections</em>, below.
                                </p>
                                <p>
                                    Nonetheless, it is important to understand the worst-case scenario so that you can make informed decisions regarding risk. The Copyright Act provides for significant damages for infringement (up to $30,000 per work infringed in statutory damages for non-willful infringement, plus attorneys' fees), but, in Section 504, it also makes an exception for nonprofit educational institutions, libraries, and archives who infringe <em>by copying</em> and who believe, based on reasonable grounds, that the use was a fair use. In such cases, the court is not allowed to award statutory damages. The court may award actual damages, but in situations like ours, those are likely to be minimal or even non-existent.
                                </p>
                                <p>
                                    Although this limitation does not apply to infringement by display/performance, distribution, or creation of derivatives, a court has discretion to reduce damages for infringement of any right to as little as $750 per work infringed. In addition, for a work that is unpublished or is published without a copyright notice, if the court believes that the infringer was not aware and had no reason to believe that his or her acts constituted an infringement of copyright (an "innocent infringement"), it has the discretion to lower statutory damages to as little as $200 per work infringed.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading3'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse3' aria-expanded='false' aria-controls='collapse3'>Reducing risk: Legal and practical strategies</a>
                            </h3>
                        </div>
                        <div id='collapse3' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading3'>
                            <div class='panel-body'>
                                Reducing risk involves both legal and practical strategies. Legal strategies help reduce the risk that your actions will infringe the law and/or reduce your liability under the law should you unintentionally infringe. Practical strategies help reduce the risks that a copyright owner will object to your use at all and that any objection will be aggressive.


                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading4'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse4' aria-expanded='false' aria-controls='collapse4'>Legal strategy: Selecting low-risk works</a>
                            </h3>
                        </div>
                        <div id='collapse4' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading4'>
                            <div class='panel-body'>
                                <p>
                                    You can reduce your risk at the front end by selecting low-risk works to include in the California Revealed project. At the lowest end of the risk scale—zero—are works in the public domain. (In the context of copyright, "public domain" refers to works that are not protected by copyright; therefore, using them has no copyright implications.) See <a href="http://copyright.cornell.edu/resources/publicdomain.cfm" target="_blank">Copyright Term and the Public Domain</a> to determine whether a work may be in the public domain.
                                </p>
                                <p>
                                    Also very low-risk are works for which you have been granted the permission necessary to include in California Revealed. See <a href="~/services/to-libraries/ca-revealed/permission">About Permissions Documents</a> for more information.
                                </p>
                                <p>
                                    The level of risk varies when you use works for which you must rely on fair use. See <a href="~/services/to-libraries/ca-revealed/fair-use">Fair Use and the California Revealed Project</a> and <a href="~/services/to-libraries/ca-revealed/orphan-works">About Orphan Works</a> for more.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading5'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse5' aria-expanded='false' aria-controls='collapse5'>Legal strategies: Relying on permissions documents (licenses, releases, and other agreements)</a>
                            </h3>
                        </div>
                        <div id='collapse5' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading5'>
                            <div class='panel-body'>
                                <p>
                                    See also <a href="~/services/to-libraries/ca-revealed/permission">About Permissions Documents</a>.
                                </p>
                                <p>
                                    If you include a work in the California Revealed project in reliance on a grant of permission, be sure you read the permission document closely and understand what it says. If you have any questions, consult your institution's legal counsel. (Don't rely on the copyright owner; the document may not mean what they think and intend it to mean.) Specifically, look for the following:
                                </p>
                                <p>
                                    First, read the document carefully to assess whether it clearly (1) identifies the work(s) to which it applies, (2) grants you the rights you need, and (3) is signed by the copyright owner. If the document is ambiguous as to any of these items, or if it contains any apparent conflicts, consider how risky it would be to rely on the document. If possible, of course, you can correct any concerns by going back to the copyright owner and asking them to sign a more specific document. See <a href="~/services/to-libraries/ca-revealed/permission">About Permissions Documents</a> for more information about "good" and "bad" language for such documents.
                                </p>
                                <p>
                                    Second, be sure you understand and abide by any requirements placed on you in the document. For example, many permissions documents, including all Creative Commons licenses, include a requirement to provide attribution, which may require specific wording.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='heading6'>
                            <h3 class='panel-title'>
                                <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse6' aria-expanded='false' aria-controls='collapse6'>Legal strategies: Relying on fair use</a>
                            </h3>
                        </div>
                        <div id='collapse6' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading6'>
                            <div class='panel-body'>
                                <p>
                                    See <a href="~/services/to-libraries/ca-revealed/fair-use">Fair Use and the California Revealed Project</a>.
                                </p>
                                <p>
                                    Fair use is a flexible and subjective doctrine. The key question is not "Is this use a fair use?" but "How likely is this use to be a fair use?" Thus, fair use is ultimately a risk assessment; the more likely a use is to be fair, the lower the risk in using the work, and vice versa. However, your approach to fair use need not be passive; rather than feeling "stuck" with the situation before you, taking a proactive approach can help you take greater advantage of your fair use rights while simultaneously reducing your risk.
                                </p>
                                <p>
                                    The better you understand fair use, the more proactive you can be in its application. A proactive approach asks: "How can I shape my use to strengthen my fair use argument?" Learning how to use the various statements of best practices for fair use will empower you to do just this. See <em>Tools: Fair Use Statements of Best Practices</em> below.
                                </p>
                                <p>
                                    The most important thing you can do to reduce your risk when relying on fair use, even before—or in conjunction with—exploring the statements of best practices, is to become as knowledgeable as possible about fair use. California Revealed has already provided some resources and will continue to add to those. In addition, watch for online workshops and courses offered by library associations, state libraries, institutions of higher education, and others, some of which offer free registration. Several good books are available through various publishers in the library and education fields. Of course, a plethora of online resources are available to help you; just be sure to think critically about both the reliability and the bias of the source. Keep in mind that fair use is continually evolving, so staying educated about fair use is an on-going process! (We will be adding a web page with a list of recommended additional resources on fair use and other issues in the near future.)
                                </p>
                                <p>
                                    Finally, document your fair use analyses. Keeping records of why and how you analyze a particular use as you do can help you should you encounter any challenges. For example, documentation can help support claims under Section 504 of good-faith reliance on fair use and "innocent infringement," both of which reduce the damages for which you would be liable. The <a href="http://librarycopyright.net/resources/fairuse/" target="_blank">Fair Use Evaluator</a> and <a href="https://copyright.columbia.edu/basics/fair-use/fair-use-checklist.html" target="_blank">Fair Use Checklist</a> can be helpful in documenting. If it is not practical to document every fair use assessment, focus on riskier uses—that is, those situations in which you are uncertain about the fair use outcome.
                                </p>
                            </div>
                        
                    </div>
                </div>

                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading7'>
                        <h3 class='panel-title'>
                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse7' aria-expanded='false' aria-controls='collapse7'>Legal strategies: Using orphan works</a>
                        </h3>
                    </div>
                    <div id='collapse7' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading7'>
                        <div class='panel-body'>
                            <p>
                                See also <a href="~/services/to-libraries/ca-revealed/orphan-works">About Orphan Works</a>.
                            </p>
                            <p>
                                When you include an orphan work in the California Revealed project, you do so in reliance on fair use. Therefore, the strategies provided above for fair use also apply to orphan works.
                            </p>
                            <p>
                                In addition, however, you should read <a href="~/services/to-libraries/ca-revealed/orphan-works">About Orphan Works</a>, which provides specific guidance for assessing and reducing the risk of using orphans, as well as for documenting the identification of orphans.
                            </p>
                        </div>
                    </div>
                </div>

                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading8'>
                        <h3 class='panel-title'>
                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse8' aria-expanded='false' aria-controls='collapse8'>Legal strategies: Responding to objections generally</a>
                        </h3>
                    </div>
                    <div id='collapse8' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading8'>
                        <div class='panel-body'>
                            <p>
                                See also <em>Legal &amp; Practical Strategy: Establishing a Policy for Responding to Objections</em>, below.
                            </p>
                            <p>
                                Because an objection from a copyright owner (or anyone else) raises legal issues, how to respond to such objections should be a matter of institutional policy approved by legal counsel.  (See <em>Tools: Policies and Procedures</em> below.) In reality, however, most institutions do not have such policies.
                            </p>
                            <p>
                                If you receive an objection and have no established process/policy for responding, you should consult with your legal counsel before responding. Responding without the input of legal counsel can increase your risk, as what you say or do could have legal repercussions of which you aren't aware.
                            </p>
                        </div>
                    </div>
                </div>

                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading9'>
                        <h3 class='panel-title'>
                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse9' aria-expanded='false' aria-controls='collapse9'>Legal & practical strategy: Establishing a policy for responding to objections</a>
                        </h3>
                    </div>
                    <div id='collapse9' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading9'>
                        <div class='panel-body'>
                            <p>
                                See also <em>Tools: Policies and Procedures below</em>.
                            </p>
                            <p>
                                Having a process approved by your legal counsel in place before you even receive a complaint will make responding to any objections go much more smoothly—and likely reduce your stress level as well.
                            </p>
                            <p>
                                The California Revealed consultant team will be providing more detailed guidance and training in coming months. Unfortunately, our human limitations are preventing us from doing everything at once—our preferred method—so this will not happen until the 2016-17 fiscal year (which begins in October). However, it's never too early to begin thinking of what process will work best for your institution, discussing the matter with legal counsel, and even planning a process.
                            </p>
                            <p>
                                In establishing such a process, consider the following:
                            </p>
                            <ul style="padding-bottom:0">
                                <li>Who will respond? At what point will a dispute be passed to legal counsel? (At the least, any explicit threat to sue should be addressed by, or under the direction of, your legal counsel.)</li>
                                <li>How will your process differ depending on the situation: reliance on fair use, reliance on permission, orphan work, public domain?</li>
                                <li>Will you require proof that the complaining party is the copyright owner (or otherwise has rights in the work)? If so, at what point in your process, and what proof will be sufficient?</li>
                                <li>What will you do about access to the work while the situation is being resolved? Are there circumstances under which you will disable access to it before reaching a final resolution? If so, at what point?</li>
                                <li>How will you address a situation in which you have permission from someone else claiming to be the copyright owner?</li>
                                <li>What will your timeline be for responding? (It should be relatively expeditious.)</li>
                            </ul>
                            <p>
                                As suggested by some of the above questions, you may decide to establish different processes for different situations. Regardless of the variations in your process, however, it is very important that you follow the process accurately and consistently. Be sure to document every interaction with the complaining party in a dispute; how you do this should also be addressed in your process.
                            </p>
                        </div>
                    </div>
                </div>

                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading10'>
                        <h3 class='panel-title'>
                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse10' aria-expanded='false' aria-controls='collapse10'>Practical strategies: Attribution and Copyright Information</a>
                        </h3>
                    </div>
                    <div id='collapse10' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading10'>
                        <div class='panel-body'>
                            <p>
                                NOTE: Providing attribution and copyright information are important parts of a risk-reduction strategy, so they need to be discussed here. However, the examples provided below are for explanatory purposes only. While it will be helpful for you to gather the information discussed below as you work with items selected for California Revealed, we suggest that you <strong><em>not</em></strong> write such statements yet, as the consultant team will recommend specific "rights statements" models for you to use that will likely define the format and content of both attribution statements and copyright information. Unfortunately, our human limitations are preventing us from doing everything at once—our preferred method—so we will not be addressing the issue of "rights statements" until the 2016-17 fiscal year (which begins in October).
                            </p>
                            <p>
                                Be aware that some licenses, such as a Creative Commons license, or other permissions documents will have specific requirements for providing attribution and/or other information about your use of the work.
                            </p>
                            <p>
                                Where possible, always give attribution in an appropriate manner/location to the author(s)/creator(s) and, if the copyright belongs to someone else, to the copyright owner(s).
                            </p>
                            <p>
                                In addition, provide accurate information describing (1) the copyright status of the work, (2) your legal basis for using the work, and (3) how others may use the work when accessed through California Revealed.
                            </p>
                            <p class="indent">
                                <strong>EXAMPLE (reliance on fair use):</strong><br>
                                This work is protected by copyright law. It is being used with permission of the copyright owner. Anyone may download and use this work for non-commercial purposes. Other uses may require permission of the copyright owner.
                            </p>
                            <p class="indent">
                                <strong>EXAMPLE (used with permission granting specified right):</strong><br>
                                This work is protected by copyright law. It is being used in reliance on the fair use doctrine. Use by others may require permission of the copyright owner.
                            </p>
                            <p class="indent">
                                <strong>EXAMPLE (orphan work):</strong><br>
                                This work is protected by copyright law. However, the copyright owner has not been identified. It is being used here in reliance on fair use.
                            </p>
                            <p class="indent">
                                <strong>EXAMPLE (public domain work):</strong><br>
                                This work is in the public domain, so no copyright restrictions apply.
                            </p>
                        </div>
                    </div>
                </div>

                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading11'>
                        <h3 class='panel-title'>
                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse11' aria-expanded='false' aria-controls='collapse11'>Practical strategy: Provide contact information</a>
                        </h3>
                    </div>
                    <div id='collapse11' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading11'>
                        <div class='panel-body'>
                            <p>
                                Providing a contact to receive complaints of copyright infringement or other objections to your use of the work suggests that you respect the law and the rights of copyright owners, and that you are trying to "be a good player." It also helps ensure that any such objections go immediately to the appropriate person at your institution. If you do provide contact information, you should also establish a process for responding to any objections you receive. See <em>Legal &amp; Practical Strategy: Establishing a Policy for Responding to Objections</em> above.
                            </p>
                            <p>
                                The primary point is to make it easy for a user to contact the appropriate person at your institution. The approach you take depends on what else you might want to accomplish, and it may vary for different types of uses or works. For example, you may decide to use only a generic statement for all works, such as "For questions or concerns, contact Jane Smith at <a href="mailto:JaneSmith@library.net">JaneSmith@library.net</a>." If you are particularly interested in identifying/contacting the copyright owners of orphan works, you may want to include something more specific for orphans, such as "If you have any information that might help identify or locate the copyright owner of this work, please contact Jane Smith at <a href="mailto:JaneSmith@library.net">JaneSmith@library.net</a>."
                            </p>

                        </div>
                    </div>
                </div>

                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading12'>
                        <h3 class='panel-title'>
                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse12' aria-expanded='false' aria-controls='collapse12'>Tools: Fair use statements of best practice</a>
                        </h3>
                    </div>
                    <div id='collapse12' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading12'>
                        <div class='panel-body'>
                            <p>
                                See also <a href="~/services/to-libraries/ca-revealed/fair-use">Fair Use and the California Revealed Project</a>.
                            </p>
                            <p>
                                Most librarians (and others) have learned to approach fair use by asking, "Is what I want to do a fair use?" A more productive approach is to ask instead: "What steps can I take to increase the likelihood that my use will be considered fair?" By taking a proactive rather than reactive approach, you reduce your risk; empower yourself, your colleagues, and your institution; increase your options for relying fair use.
                            </p>
                            <p>
                                Several statements of best practices for fair use in different contexts are available to help you. Although they vary in format and approach, they all explain how fair use applies to certain situations in general and, most helpfully, provide steps you can take to craft your situation to increase the likelihood that your use will be considered fair.
                            </p>
                            <p>
                                Most applicable to the work of the California Revealed project, Principle Four of the <a href="http://www.arl.org/focus-areas/copyright-ip/fair-use/code-of-best-practices#.VenDirxViko" target="_blank">ARL Code of Best Practices in Fair Use for Academic and Research Libraries</a> addresses creating digital collections of archival and special collections materials. Principle Four provides several "limitations" and "enhancements" to strengthen your fair use position, such as:
                            </p>
                            <ul style="padding-bottom:0">
                                <li>Providing access to published works that are available in unused copies on the commercial market at reasonable prices should be undertaken only with careful consideration, if at all. ... [A]ccess to unique aspects of [such copies] will be supportable under fair use.</li>
                                <li>The fair use case will be even stronger where items to be digitized consist largely of works ... whose owners are not exploiting the material commercially and likely could not be located to seek permission for new uses.</li>
                                <li>Libraries should also provide copyright owners with a simple tool for registering objections to online use and respond to such objections promptly.</li>
                            </ul>
                            <p>
                                The California Revealed consultant team strongly encourages all participating libraries to download a (free) copy of the ARL Code and to review Principle Four.
                            </p>
                            <p>
                                Other statements of best practices that might be helpful for the project include:
                            </p>
                            <ul>
                                <li><a href="http://www.cmsimpact.org/sites/default/files/documents/pages/vra_fairuse_statement.pdf" target="_blank">Statement of the Fair Use of Images for Teaching, Research, and Study</a> (Visual Resources Association)</li>
                                <li><a href="http://www.cmsimpact.org/fair-use/best-practices/code-best-practices-fair-use-online-video" target="_blank">Code of Best Practices in Fair Use for Online Video</a> (Center for Media and Social Impact, 2008)</li>
                                <li><a href="http://cmsimpact.org/code/statement-best-practices-fair-use-collections-containing-orphan-works-libraries-archives-memory-institutions/" target="_blank">Statement of Best Practices in Fair Use of Collections Containing Orphan Works for Libraries, Archives, and other Memory Institutions</a> (Center for Media and Social Impact, 2014)</li>
                            </ul>
                            <p>
                                A more thorough list of statements of best practices can be found on the <a href="http://www.cmsimpact.org/fair-use/best-practices" target="_blank">Center for Media and Social Impact website</a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading13'>
                        <h3 class='panel-title'>
                            <a role='button' data-toggle='collapse' data-parent='#example-accordion' href='#collapse13' aria-expanded='false' aria-controls='collapse13'>Tools: Policies and procedures</a>
                        </h3>
                    </div>
                    <div id='collapse13' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading13'>
                        <div class='panel-body'>
                            <p>
                                Establishing (and following) policies/procedures can be a valuable part of risk management. (The words "policies" and "procedures" are not terms of art and are often used interchangeably; I will use "policies" here.) A "good" policy is any document that provides clarity and guidance in response to the needs of your institution in a manner that is user-friendly for the intended audience.
                            </p>
                            <p>
                                Copyright policies—and policies in other areas—can provide several benefits, both practical and legal. A well-written policy that is followed consistently can:
                            </p>
                            <ul>
                                <li>Reduce misunderstanding/confusion by explaining pertinent portions of the law in a manner that is meaningful to that particular audience</li>
                                <li>Reduce confusion or uncertainty about how to address certain situations by providing specific procedures and/or general guidance for doing so</li>
                                <li>As a result, decrease the likelihood of unintentional infringement</li>
                                <li>And decrease stress levels</li>
                                <li>Establish consistency in action (inconsistency can have negative legal repercussions)</li>
                                <li>As a result of all of the above, increase efficiency</li>
                                <li>Clarify and help protect your institution's rights</li>
                                <li>Provide support for claims of "innocent infringement" and/or "good faith" under Section 504(c)(2), thereby reducing damages for infringement</li>
                                <li>Serve as an educational tool</li>
                                <li>Although not specifically applicable to California Revealed, qualify your institution for taking advantage of certain protective provisions of the Copyright Act, including the Digital Millennium Copyright Act safe harbor for online service providers and the Technology, Education, and Copyright Harmonization ("TEACH") Act</li>
                                <li>Provide general but important benefit in the unlikely situation your entity finds itself in court (courts have considered the content of a copyright policy in the infringement analysis)</li>
                            </ul>
                            <p>
                                Remember that a policy is only a tool—it is whatever you want and need it to be, and it is only as helpful as you make it.
                            </p>
                            <p>
                                See <a href="http://digitalinfolaw.com/resources/free-learning-resources-2/publications/" target="_blank">Do You Need a Copyright Policy?</a> for more about  copyright policies, including  more detailed information their benefits and guidance in how to write (or revise) a copyright policy.
                            </p>

                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
            <br />
            <p><span class="required-label">*</span> This page copyright 2016, Gretchen McCord. Content may be copied and used on an individual basis for non-commercial purposes only but may not be modified or broadly distributed without permission. For example, you may link to this page (linking does not infringe copyright), but you may not copy and paste the following content on another page.</p>
        </div>
</div>
    </main>
</div>

