@charset "utf-8";
/* CSS Document - Custom styles that overwrite the template CSS code*/


@media (max-width: 767px) {
    #title-page {
        display: block;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #page-banner {
        display: none;
    }

    #img_search {
        display: none;
    }

    .holidays {
        width: 100%;
        float: none;
        margin: 0px 0 20px 0;
    }


    .header-organization-banner img {
        height: 50px;
    }

    .top-level-nav .nav-item img {
        float: left;
        padding-right: 10px;
        margin-top: 15px;
    }

    .columns, .twocolumns {
        width: 100%;
        float: none;
        clear: both;
        margin: 0px auto;
        padding-top: 10px;
        background-color: #fff;
        padding-bottom: 30px;
    }

        .columns img {
            width: 100%;
        }

    .twocolumns {
        padding-bottom: 20px;
    }

        .twocolumns p, .columns p {
            padding: 20px 0px;
        }

        .twocolumns p {
            padding: 20px
        }

    .blue-div {
        background-color: #0a5b82;
        width: 100%;
        padding-bottom: 0px;
    }

    .threecolumns {
        height: auto;
        width: 100%;

    }

    .blue-div h2 {
        padding: 20px 5% 0px 20px;
        text-align: center;
    }

    .blue-div img {
        text-align: center;
        width: 100%;
    }

    .more-info {
        padding-top: 0px;
    }

    .grey-box {
        width: 50%;
        margin: 0px auto;
        background-color: #fff;
        border: 1px solid #c7c7c7;
        height: 50px;
        text-align: center;
        margin-top: 30px;
    }

        .grey-box h5 {
            padding: 5px;
            margin: 10px;
        }

    .box-with-border {
        width: 70%;
        padding: 10px;
        margin: 0 auto;
        float: none;
    }

    .orange {
        text-align: center;
        padding-top: 20px;
    }

    .expand-div {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        float: none;
        padding: 0 0 20px 0
    }

    .panel-group {
        margin-bottom: 0 !important;
    }

    .link-icon {
        width: 100%;
        float: none;
        height: auto;
        text-align: center;
        color: #0a5b82;
        font-size: 22px;
        margin-bottom: 40px
    }

    .blue {
        text-align: center;
        color: #0a5b82;
        font-weight: bold
    }

    .link-icon img {
        padding: 10px;
    }

    .orange {
        text-align: center;
        text-transform: uppercase;
    }

    .today-img {
        text-align: center;
        float: none
    }

    .white-title {
        width: 95%;
        padding: 15px 0 20px 0px;
        font-size: 1.1em;
        color: #fff;
        text-align: left;
        margin-top: 20px;
    }

    #today {
        float: left;
        margin: 20px 0 20px 40px;
        border: 1px solid white;
        padding: 5px 20px;
        width: 80%;
    }

        #today a {
            color: #fff;
        }

    .today-article {
        float: left;
        width: 480px;
        text-align: left;
        padding-left: 20px
    }

    .white-p {
        width: 67% !important;
        font-weight: normal;
        color: #fff;
    }

    .white-p1 {
        width: 100%;
        font-weight: normal;
        color: #fff;
        padding: 0;
    }

    .submit_container {
        float: none;
        padding-left: 0px;
        margin: 0 auto;
        width: 75px;
    }

    .forms {
        float: none;
    }

    .submit_container {
        float: none;
        width: 95px;
    }

    #radio_container {
        float: none;
        font-size: 0.9em;
        padding: 0 0 10px 0;
        width: 320px;
    }

    .icons {
        padding-top: 30px;
    }

        .icons img {
            height: 65px;
        }

    .icon {
        width: auto
    }

    .p-center {
        text-align: center;
        padding-left: 0
    }

    .address-icon {
        display: none;
    }

    .border {
        margin: 0px auto;
        text-align: center;
        border: 1px solid #c7c7c7;
        padding: 5px 10px
    }

    .blue-video {
        width: 80% !important;
        height: 80% !important;
    }

    .white-hr {
        display: none;
    }

    .half {
        width: 100% !important;
        margin: 0px !important;
        float: none !important;
    }

    .blue-clear-button {
        float: none !important;
        text-align: center;
        border: 1px solid #0a5b82;
        padding: 5px 20px;
        margin: 30px auto;
        width: 50%;
    }

    .clear-white-button {
        width: 30%;
        margin: 30px auto;
    }

    .color-box {
        height: 200px;
        padding-bottom: 30px;
    }

    .btn-primary {
        width: auto;
    }

    .image-right {
        float: none;
        width: 100%;
        padding: 20px
    }

    #head_search2 {
        display: none;
    }

    input[type="submit"] {
        margin: 15px 0px;
        border: 1px solid #ccc;
    }

    #search_ca_textfield, #search_local_textfield, #search_catalog_textfield, #search_btbl_textfield {
        border: 1px solid #ccc;
    }

    .ask {
        float: none;
        padding: 3px 15px 0 0;
    }

    .top-blue-links {
        float: none;
        width: auto;
    }

    .branding .header-cagov-logo img {
        top: -36px;
        height: 32px;
        position: absolute;
        margin-left: 7px;
    }
}

@media (min-width: 768px) {
    .branding .header-organization-banner img {
        max-height: 50px;
    }

    .blue-div {
        background-color: #0a5b82;
    }

    .threecolumns {
        width: 100%;
        margin: 0 auto;
    }

    .twocolumns {
        width: 60%;
    }

    .columns img {
        width: 100%;
    }

    .columns {
        width: 32%;
        margin-right: 1%;
        height: auto;
    }

        .columns h3 {
            font-size: 1em;
            padding
        }

    .blue-div h2 {
        color: #fff;
        text-align: center;
    }

    .blue {
        text-align: left;
        color: #0a5b82;
        font-weight: bold
    }

    .link-icon {
        width: 25%;
        float: left;
        height: auto;
        text-align: center;
        color: #0a5b82;
        font-size: 22px;
        margin-bottom: 40px;
    }

        .link-icon img {
            padding: 10px;
        }

    .orange {
        text-align: center;
        text-transform: uppercase;
    }

    .blue {
        text-align: center;
    }

    .event-divider {
        height: auto;
    }

    .white-title {
        padding: 15px 0 0px 15px;
        font-size: 1.8em;
        color: #fff;
        text-align: left;
    }

    .white-p {
        color: #fff;
    }

    .today-img {
        text-align: center;
        float: none
    }

    .columns-wrapper {
        margin: 0 auto;
        width: 100%;
    }

    .wrap {
        font-size: 14px;
    }

    #today {
        float: none;
        margin: 0 auto;
        color: #fff;
    }

        #today a {
            color: #fff;
        }

    .today-article {
        float: none;
        width: 650px;
        margin: 0 auto;
        text-align: left;
        padding-left: 20px
    }

    .clear-white-button {
        margin: 0px auto 0 auto
    }

    .nav-item img {
        width: 50% !important;
        padding-bottom: 10px;
    }

    .top-level-nav {
        font-size: 0.7em;
    }

    .first-level-link > span[class^="ca-gov-icon"] {
        font-size: 24px
    }

    .top-level-nav .nav-item > a {
        min-width: 72px
    }

    #head_search {
        width: 75% !important;
        margin: 0 auto;
    }

    #head_search2 {
        width: 70% !important;
        float: right;
        margin: 0 auto;
    }

    .icons {
        padding-top: 30px;
    }

        .icons img {
            height: 75px;
        }

    .holidays {
        width: 23%;
        float: none;
        margin: 10px auto;
        text-align: center;
        border: 1px solid #c7c7c7;
        padding: 5px 30px
    }

    .p-center {
        text-align: left;
        padding-left: 0
    }

    .icon {
        width: auto
    }

    .address-icon {
        display: none;
    }

    .border {
        margin: 0px auto;
        text-align: center;
        border: 1px solid #c7c7c7;
        padding: 5px 10px
    }

    .blue-video {
        width: 560px !important;
        height: 315px !important;
    }

    .clear-white-button {
        margin: 0px auto;
        border: 1px solid #fff;
        padding: 5px 20px;
        width: 150px;
    }

    .blue-clear-button {
        float: none;
        text-align: center;
        border: 1px solid #0a5b82;
        padding: 5px 20px;
        margin-top: 30px;
        text-align: center;
        width: 150px;
    }

    .color-box {
        height: 160px;
        text-align: center;
        width: 98%;
        padding-bottom: 30px;
    }

    .btn-primary {
        width: auto;
    }

    .image-right {
        float: none;
        width: 50%;
        margin: 20px auto
    }
}

@media (min-width: 1280px) {
    #title-page {
        display: none;
    }

    #page-banner {
        display: block;
    }

    .branding .header-organization-banner img {
        max-height: 70px;
    }

    .holidays {
        width: 23%;
        float: right;
        margin-top: 30px;
        text-align: center;
        border: 1px solid #c7c7c7;
        padding: 5px 30px
    }

    .blue-div {
        background-color: #0a5b82;
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        margin: 0 auto;
    }

        .blue-div h2 {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px 0 0 0;
            text-align: left;
        }

    .threecolumns {
        width: 1246px;
        margin: 0 auto;
        height: auto;
    }

    .columns {
        width: 400px;
        float: left;
        background-color: #fff;
    }

        .columns p, .twocolumns p {
            padding: 20px 0;
        }

        .columns img {
            height: auto;
        }

    .img-fade {
        height: auto !important;
        width: auto !important;
    }

    .columns h3 {
        text-align: left;
        font-size: 1.2em;
        margin: 10px 0;
    }

    .twocolumns {
        float: left;
        background-color: #fff;
    }

    .wrap {
        padding: 15px 15px 25px 15px;
    }

    .icon {
        width: 33px;
        float: left;
        padding: 20px 0
    }

    .more-info {
        padding-top: 20px
    }

    .grey-box {
        width: 100%;
        background-color: #e1e1e1;
        height: 55px;
        text-align: center;
    }

    .box-with-border {
        width: 23%;
        float: right;
        margin: 30px 60px 0 0;
        text-align: center;
        border: 1px solid #c7c7c7;
        padding: 5px 30px
    }

    .border {
        margin: 0px auto;
        text-align: center;
        border: 1px solid #c7c7c7;
        padding: 5px 10px
    }

    .orange {
        color: #FDB81E;
        font-weight: bold
    }

    .blue {
        text-align: left;
        color: #0a5b82;
        font-weight: bold
    }

    .expand-div {
        width: 33%;
        float: left;
        padding-right: 20px;
        margin: 0 auto;
    }

    .panel-group {
        margin-bottom: 0
    }

    .spacer {
        height: 30px;
    }

    h5 {
        margin: 0;
    }

    .link-icon {
        width: 25%;
        float: left;
        height: auto;
        text-align: center;
        color: #0a5b82;
        font-size: 22px;
        margin-bottom: 40px
    }

        .link-icon img {
            padding: 10px;
        }

    .orange {
        text-align: left;
        text-transform: uppercase;
    }

    .white-p, .white-p1 {
        color: #fff;
        padding: 0 20px 0 15px !important;
        font-size: 16px;
    }

    .div-divider {
        height: 130px;
        width: 100%
    }

    .events-item {
        color: #fff;
        padding: 0 15px 0 15px !important;
    }

        .events-item a {
            color: #fff;
            text-decoration: underline;
            font-size: 18px;
        }

    .white-hr {
        width: 90%;
    }

    .event-divider {
        height: 115px;
        width: 100%
    }

    .white-title {
        padding: 15px 0 0px 15px;
        font-size: 1.8em;
        color: #fff;
        text-align: left;
    }

    .today-img {
        text-align: left;
        float: left;
    }

    .columns-wrapper {
        margin: 0 auto;
        width: 100%;
    }

    #today {
        float: left;
        margin: 70px 0 0 20px;
        color: #fff;
    }

        #today a {
            color: #fff;
        }

    .today-article {
        float: left;
        width: 480px;
        text-align: left;
        padding-left: 20px;
        color: #fff;
    }

    .clear-white-button {
        margin: 0px auto;
        border: 1px solid #fff;
        padding: 5px 20px;
    }

    .first-level-link > span[class^="ca-gov-icon"] {
        font-size: 36px
    }

    #head_search {
        width: 50% !important;
        margin: 0 auto;
    }

    #head_search2 {
        width: 40% !important;
        float: right;
    }

    .top-level-nav {
        font-size: 0.9em;
    }

    .icons {
        padding-top: 30px;
    }

        .icons img {
            height: 85px;
        }

    .p-center {
        text-align: left;
        padding-left: 0
    }

    .address-icon {
        display: block;
    }

    .blue-video {
        width: 560;
        height: 315
    }

    .blue-clear-button {
        border: 1px solid #0a5b82;
        padding: 5px 20px;
        margin-top: 30px;
        text-align: center;
        width: 150px;
        float: right
    }

    .color-box {
        height: 160px;
        text-align: center;
        width: 98%;
        padding-bottom: 30px
    }

    .image-right {
        float: right;
        width: 500px;
        padding-left: 150px
    }

    .ask {
        float: left;
        padding: 3px 15px 0 0;
    }

    .top-blue-links {
        float: left;
        width: auto;
    }
}

/*search*/
.textfield_container, .textfield_catalog_container {
    width: 100%;
}

#search_ca_textfield, #search_local_textfield, #search_catalog_textfield, #search_btbl_textfield {
    border: 3px solid #ccc;
    background-color: #fff;
    padding: 10px;
    width: 100%; /* 183 - 8 */
    color: #505050;
    font-size: 0.92em;
    z-index: 100000;
}

.submit_container {
    float: right;
    padding-left: 15px;
    margin: -5px 3px 0 0;
    width: 75px;
}

#radio_container {
    width: 350px;
    top: 10px;
}

input[type=submit] {
    padding: 5px 8px;
    margin-right: 3px;
}

    input[type=submit]:focus {
        background: #FDB81E;
        color: #fff;
    }

    input[type=submit]:hover {
        background-color: #efc83d;
        color: #fff;
    }

input[type=submit] {
    padding: 5px 8px;
    background: #fff;
    border: 0 none;
    cursor: pointer;
}

#catalogOptions {
    border: 0;
    padding: 3px;
    margin-left: 3px;
}

.btn-primary a {
    color: #fff;
}



