
@{
    ViewBag.Title = "LocalLibraries";
}
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div id="main-content" class="main-content" style="">
            <h2>LocalLibraries</h2>
            </div>
        </main>
    </div>

