@{
    ViewBag.Title = "CSL - County of the Month - CA History Room";
    ViewBag.Author = "Ryan Salcido";
    ViewBag.Description = "Love local history? Celebrate it with us by conducting research on the California History Room's featured County of the Month, using our customized pathfinder!";
    ViewBag.Keywords = "County of the Month, History Room";
}

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="section">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/collections">Our Collections</a></li>
                    <li><a href="/california-history">California History</a></li>
                    <li>County of the Month</li>
                </ol>

                <h2 class="page-title">@(ViewBag.Title)</h2>

                <p>
                    Congratulations to our September County of the Month, Yuba! Formed in 1850, Yuba County boasted a population of 72,155 people as of 2010.
                    In addition to having several very active historic preservation organizations, Yuba County is also the home of a thriving agricultural sector and to Beale Air Force Base.
                    Furthermore, its abundance of gold-bearing gravel beds made it home to many Gold-Rush era boom-towns. If you are looking for an exciting local history research project, you might find one within this region's boundaries!
                </p>

                <p><span class="ca-gov-icon-info"></span>   Click on the title below for more information.</p>




                <p>
                    In August of 2017, in an effort to better support the work of local governments and historical societies in promoting and preserving the past, the <a href="/california-history">California History Section</a> started the County of the Month program. 
                    This recognition honors the diverse character of California's many counties while providing <a href="~/Content/StateTemplate/pdf/californiaHistory/yubaresearch.pdf" >research tips</a> to individuals interested in finding out more about California local history. 
                    If you have any questions about this program, please feel free to <a href="http://askstatelibrary.libraryresearch.info/reft100.aspx?key=Ref">contact us</a>.
                </p>
            </div>
        </div>
    </main>
</div>



