
@{
    ViewBag.Title = "CSL - About the California State Library";
    ViewBag.PageTitle = "About Us";
    ViewBag.Banner = "CSLBuilding.jpg";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "About the California State Library";
    ViewBag.Keywords = "California State Library, Diital Image Reproduction, CA, Legislators, State Library";
}

<head>
    <title>@(ViewBag.Title)</title>
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>

<div id="main-content" class="main-content">

    <main class="main-primary">

            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li class="active">About Library</li>
                </ol>

                <h1 class="orange" id="title">@ViewBag.PageTitle</h1>


                <img src="~/Content/StateTemplate/images/banner/@(ViewBag.Banner)" style="width:100%" alt="" class="animated fadeInLeft"/>
            </div>

        <div class="section">
            <div class="container">

                <h2 class="page-title">General Information</h2>

                <div class="panel-group" id="about-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#example-accordion" href="#collapseService" aria-expanded="false" aria-controls="collapseService">The California State Library at your service</a>
                            </h3>
                        </div>
                        <div id="collapseService" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    The California State Library, a California public research institution,
                                    provides its customers with the accurate, up-to-date information they need to
                                    do their jobs easily, quickly, and confidently. Whether you are an elected official,
                                    a state employee, a representative of one of California's libraries,
                                    <a href="/btbl">
                                        a person with special reading needs
                                    </a>
                                    or a member of the general public, the California State Library
                                    is here for you. Our staff, including librarians, researchers, and consultants are at
                                    your service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>                  
            </div>
            <br />
            <div class="container">
                <div class="panel-group" id="about-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#example-accordion" href="#collapseDo" aria-expanded="false" aria-controls="collapseDo">What We Do</a>
                            </h3>
                        </div>
                        <div id="collapseDo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>The California State Library serves the people of California in several ways:</p>
                                <ul>
                                    <li>It is the central reference and research library for state government and the Legislature.</li>
                                    <li>It provides nonpartisan research to the Legislature and the Governor.</li>
                                    <li>
                                        It collects, preserves, generates and disseminates information ranging from California's priceless
                                        historical items to today's online texts.
                                    </li>
                                    <li>
                                        It advises, consults with, and provides technical assistance to California's public libraries, and
                                        it directs state and federal funds to support local public libraries and statewide library programs, and services.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="container">
                <div class="panel-group" id="history-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="historyHeading1">
                            <h3 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#example-accordion" href="#collapseHistory" aria-expanded="false" aria-controls="collapseHistory">Some history</a>
                            </h3>
                        </div>
                        <div id="collapseHistory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    In 1850, California's new legislature, seeing that the state's facts, figures, and documents needed
                                    to be in a central location, established the California State Library in the State Capitol. In 1917,
                                    the California State Library established the <a href="/sutro">Sutro Library</a> in San Francisco from the private library
                                    of <a href="/sutro/Adolph-Sutro">Adolph Sutro</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="container">
                <div class="panel-group" id="informed-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="informedHeading1">
                            <h3 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#example-accordion" href="#collapseInformed" aria-expanded="false" aria-controls="collapseInformed">Get informed online with the California State Library</a>
                            </h3>
                        </div>
                        <div id="collapseInformed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    Today's customers increasingly turn to the California State Library's website for <a href="/crb/reports-events">research reports</a>,
                                    circulation services, <a href="/grants">grant information</a>, <a href="/pictoral-resources">photos</a>, <a href="/services/to-libraries/statistics">statistics</a>, helpful links, <a href="/btbl/bard">digital books</a> for the
                                    visually-impaired, and a <a href="http://californiastatelibrary.tumblr.com">blog</a>.(State employees can also access news databases from their home PCs.)
                                    We invite you to explore our newly updated website, and discover the perfect page for your information
                                    needs.
                                </p>
                                <p>
                                    As we continue to streamline our online services, we welcome your feedback. Please send us an <a href="mailto:cslinfo@library.ca.gov">email</a>
                                    and let us know how we can make it easier for you to get what you need.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

