<link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
<link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
<!--
Step 2
Select Navigation Type:

Options are: megadropdown dropdown singlelevel
-->
<nav id="navigation" class="main-navigation megadropdown auto-highlight">
    <ul id="nav_list" class="top-level-nav">
        <li class="home-link nav-item">
            <a href="/" class="first-level-link"><span id="nav_home_container" class="ca-gov-icon-home" aria-hidden="true"></span>Home</a>
        </li>
        <li class="nav-item">
            <!--class="ca-gov-icon-gears"-->
            <a href="/sample/" class="first-level-link"><img name="about" src="~/Content/StateTemplate/images/top-icons/about.jpg" onmouseover="document.about.src='/images/top-icons/about-over.jpg'" onmouseout="document.about.src='/images/top-icons/about.jpg'" alt="about" style="width:48px !important; padding-bottom:5px" /><br />About Library</a>
            <div class="sub-nav">
                <div class="half">
                    <ul class="second-level-nav">
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 1</a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 2</a>
                        </li>
                        <li class="unit2">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 3
                                <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                            </a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 4</a>
                        </li>
                        <li class="unit2">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                                <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                            </a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 6</a>
                        </li>
                    </ul>
                </div>
                <div class="half">
                    <div class="nav-media">
                        <div class="media unit2">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/sample/images/70x70.gif" alt="..."></a>
                            </div>
                            <div class="media-body">
                                <div class="title"><a href="">Public profile</a></div>
                                <div class="subtitle">Subtitle</div>
                                <div class="teaser">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>
                                <a href="" class="btn btn-default btn-xs pull-right">Read More</a>
                            </div>
                        </div>
                        <div class="media unit2">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/sample/images/70x70.gif" alt="..."></a>
                            </div>
                            <div class="media-body">
                                <div class="title"><a href="">News Title</a></div>
                                <div class="subtitle">Subtitle</div>
                                <div class="teaser">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>
                                <a href="" class="btn btn-default btn-xs pull-right">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a href="/about.html" class="first-level-link"><!--<span class="ca-gov-icon-info-bubble" aria-hidden="true"></span>--><img name="collections" src="/Content/StateTemplate/images/top-icons/collections.jpg" onmouseover="document.collections.src='/images/top-icons/collections-over.jpg'" onmouseout="document.collections.src='/images/top-icons/collections.jpg'" alt="collections" style="width:48px !important; padding-bottom:5px" /><br />Collections</a>
            <div class="sub-nav">
                <div class="half offset-half">
                    <ul class="second-level-nav">
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 1</a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 2</a>
                        </li>
                        <li class="unit2">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 3
                                <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                            </a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 4</a>
                        </li>
                        <li class="unit2">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                                <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                            </a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 6</a>
                        </li>
                    </ul>
                </div>
                <div class="half with-image-left">
                    <div class="nav-media" style="background:url('/sample/images/sample-nav-image2.jpg')"></div>
                </div>
            </div>
        </li>
        <!-- LEFT ALIGNED IMAGE -->
        <li class="nav-item">
            <a href="../structure.html" class="first-level-link"><!--<span class="ca-gov-icon-flowchart" aria-hidden="true"></span>--><img name="grants" src="/Content/StateTemplate/images/top-icons/grants.jpg" onmouseover="document.grants.src='/images/top-icons/grants-over.jpg'" onmouseout="document.grants.src='/images/top-icons/grants.jpg'" alt="grants" style="width:48px !important; padding-bottom:5px" /><br />Grants</a>
            <div class="sub-nav">
                <!-- Offset class needed to fix positioning issue caused when positioning the image -->
                <div class="three-quarters offset-quarter">
                    <ul class="second-level-nav">
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 1</a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 2</a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 3
                            </a>
                        </li>
                        <li class="unit2">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 4
                                <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                            </a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                            </a>
                        </li>
                        <li class="unit1">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                            </a>
                        </li>
                        <li class="unit2">
                            <a href="/" class="second-level-link">
                                <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 7
                                <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="quarter with-image-left">
                    <div class="nav-media" style="background:url('/sample/images/sample-nav-image2.jpg')"></div>
                </div>
            </div>
        </li>
        <!--<li class="nav-item">
            <a href="https://github.com/Office-of-Digital-Innovation" target="_blank" class="first-level-link"><span class="ca-gov-icon-download" aria-hidden="true"></span>Download</a>
        </li>-->
        <li class="nav-item">
            <a href="http://webtools.ca.gov/" target="_blank" class="first-level-link"><!--<span class="ca-gov-icon-state" aria-hidden="true"></span>--><img name="services" src="/Content/StateTemplate/images/top-icons/services.jpg" onmouseover="document.services.src='/images/top-icons/services-over.jpg'" onmouseout="document.services.src='/images/top-icons/services.jpg'" alt="services" style="width:48px !important; padding-bottom:5px" /><br />Services</a>
        </li>
        <li class="nav-item">
            <a href="/contact.html" class="first-level-link"><!--<span class="ca-gov-icon-lightbulb" aria-hidden="true"></span>--><img name="research" src="/Content/StateTemplate/images/top-icons/research.jpg" onmouseover="document.research.src='/images/top-icons/research-over.jpg'" onmouseout="document.research.src='/images/top-icons/research.jpg'" alt="research" style="width:48px !important; padding-bottom:5px" /><br />Research</a>
        </li>
        <li class="nav-item">
            <a href="/contact.html" class="first-level-link"><!--<span class="ca-gov-icon-lightbulb" aria-hidden="true"></span>--><img name="visit" src="/Content/StateTemplate/images/top-icons/visit.jpg" onmouseover="document.visit.src='/images/top-icons/visit-over.jpg'" onmouseout="document.visit.src='/images/top-icons/visit.jpg'" alt="visit" style="width:48px !important; padding-bottom:5px" /><br />Visit Us</a>
        </li>
        <li class="nav-item">
            <a href="/" class="first-level-link"><!--<span class="ca-gov-icon-lightbulb" aria-hidden="true"></span>--><img name="work" src="/Content/StateTemplate/images/top-icons/work.jpg" onmouseover="document.work.src='/images/top-icons/work-over.jpg'" onmouseout="document.work.src='/images/top-icons/work.jpg'" alt="work" style="width:48px !important; padding-bottom:5px" /><br />Work With Us</a>
        </li>
        <!--<li class="nav-item" id="nav-item-search">
            <a href="javascript:;" class="first-level-link"><span class="ca-gov-icon-search" aria-hidden="true"></span>Search</a>
        </li>-->
    </ul>
</nav>
<div style="clear:both"></div>
<!--
Local and statewide search
Version 2010.11.30
-->
<style>
    label {
        font-weight: normal;
        padding-right: 10px;
    }
    /*.forms {float:left;}*/
    .s-filters {
        margin-top: 20px
    }

    #search_catalog_textfield {
        width: 60%;
    }

    #catalogOptions {
        padding: 6px;
    }

    #catalog_form {
        margin-top: 3px;
    }

    #search_ca_textfield, #search_local_textfield, #search_catalog_textfield, #search_btbl_textfield {
        padding: 6px;
        border: 0;
        margin-top: 3px;
    }
</style>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/js/placeholders.min.js"></script>
<script type="text/javascript">
        google.load('search', '1');
        google.setOnLoadCallback(function() {
            google.search.CustomSearchControl.attachAutoCompletion(
                '001779225245372747843:l2ikrt_n56e', // update this value with your search engine unique ID. Submit a request to the OTech Service Desk if you don't already know your unique search engine ID.
                document.getElementById('search_local_textfield'),
                'local_form');
        });

        $(document).ready(function() {
            $('#local_form').removeClass();
            $('#catalog_form').removeClass().addClass('hidden');
            $('#btbl_form').removeClass().addClass('hidden');
        });

        function changeURL(x) {
            document.getElementById('search_catalog_textfield').value = document.getElementById('search_catalog_textfield').value.replace(/\s+\+\s+/g, ' ');
            document.getElementById('search_catalog_textfield').value = document.getElementById('search_catalog_textfield').value.replace(/\s+/g, ' ');
            document.getElementById('search_catalog_textfield').value = document.getElementById('search_catalog_textfield').value.replace(/\s/g, ' + ');
        }
</script>
<div id="head_search2" style="width:100% !important; background-color:#ccc; padding-top:10px; margin-bottom:15px">
    <div style="width:900px; margin:0px auto">
        <div style="float:left; width:300px; padding:10px">
            <form id="control" action="/serp.html">
                <div id="radio_container">
                    <input type="radio" name="which" id="head_srch_local" value="local" class="radiobutton" checked="checked" />
                    <label for="head_srch_local" accesskey="l" id="head_srch_l_lbl">Website</label>
                    <input type="radio" name="which" id="head_srch_catalog" value="catalog" class="radiobutton" />
                    <label for="head_srch_catalog" accesskey="g" id="head_srch_g_lbl">Catalog</label>
                    <input type="radio" name="which" id="head_srch_btbl" value="btbl" class="radiobutton" />
                    <label for="head_srch_btbl" accesskey="c" id="head_srch_c_lbl">Talking Books</label>
                </div>
            </form>
        </div>
        <div style="width:400px; float:left;">
            <form id="local_form" method="get" action="http://www.google.com/cse">
                <!-- the form action will be changed using javascript -->
                <div class="textfield_container">
                    <label for="search_local_textfield" accesskey="s" class="hidden">Search this site: </label>
                    <input type="text" name="q" id="search_local_textfield" size="60" value="Search This Site" onfocus="if(this.value=='Search This Site')this.value=''" onblur="if(this.value=='')this.value='Search This Site'" />
                    <input type="hidden" name="cx" value="001779225245372747843:l2ikrt_n56e" /> <!-- update this value with your search engine unique ID. Submit a request to the OTech Service Desk if you don't already know your unique search engine ID. -->
                    <input type="hidden" name="cof" value="" /> <!-- this value will be set using javascript -->
                    <input type="hidden" name="ie" value="UTF-8" />
                </div>
                <div class="submit_container">
                    <input type="submit" style="position:absolute; right:-86px; top:3px" alt="Search" title="Search" name="submit" value="Search" />
                </div>
                <div style="clear:both"></div>
            </form>
            <form id="catalog_form" class="hidden" method="get" action="http://catalog.library.ca.gov/F/?" target="_blank" onsubmit="changeURL();">
                <div class="textfield_catalog_container">
                    <label for="search_catalog_textfield" accesskey="s" class="hidden">Catalog search: </label>
                    <input type="hidden" name="func" value="find-b" />
                    <label for="catalogOptions" class="hidden">Catalog Search Options: </label>
                    <select id="catalogOptions" name="find_code">
                        <option value=WRD selected="selected">Words anywhere</option>
                        <option value=WTI>Title words</option>
                        <option value=WAU>Author words</option>
                        <option value=WSU>Subject words</option>
                    </select>
                    <input style="margin-top:-3px" type="text" name="request" id="search_catalog_textfield" size="60" maxlength="255" value="Search CSL&#8217;s Catalog" onfocus="if(this.value=='Search CSL&#8217;s Catalog')this.value=''" onblur="if(this.value=='')this.value='Search CSL&#8217;s Catalog'" />
                </div>
                <div class="submit_container">
                    <input type="submit" style="position:absolute; right:35px; top:122px" alt="Search" title="Search" name="submit" value="Search" />
                </div>
                <div style="clear:both"></div>
            </form>

            <form id="btbl_form" class="hidden" action="https://btbl.library.ca.gov/ca1aopac/search/search.jsf" method="get">
                <!-- the form action will be changed using javascript -->
                <div class="textfield_container">
                    <label for="search_btbl_textfield" accesskey="s" class="hidden">WebOPAC Search: </label>
                    <input type="text" name="q" id="search_btbl_textfield" size="60" value="Talking Books Search" onfocus="if(this.value=='Talking Books Search')this.value=''" onblur="if(this.value=='')this.value='Talking Books Search'" />
                </div>
                <div class="submit_container">
                    <input type="submit" style="position:absolute; right:35px; top:122px" alt="Search" title="Search" name="submit" value="Search" />
                </div>
                <div style="clear:both"></div>
            </form>
            <!--<button type="button" class="close close-search" data-dismiss="alert" aria-label="Close" style="position:relative; right:-50px; top:-75px"><span aria-hidden="true">×</span></button>-->
        </div>
    </div>

</div>   @*<div style="clear:both"></div>*@
