<link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
<link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
<div id="main-content" class="main-content">
    <div class="blue-div">
        <div class="threecolumns">
            <h2>TODAY IN CALIFORNIA HISTORY</h2>
            <div class="today-img">
                <div class="animate-fadeInLeft">
                    <img src="~/Content/StateTemplate/images/banner/banner-guy.png" alt="" />
                </div>
            </div>
            <div class="today-article">
                <h3 class="white-title" style="margin:0">
                    FEBRUARY 26, 1933:
                </h3>
                <p class="white-p">
                    Ground "Officially" Broken for the Golden Gate Bridge
                </p>
                <hr class="white-hr" style="margin-left:20px; margin-right:0" />
                <p class="white-p">
                    Although construction begins on January 5, the groundbreaking ceremony comes seven weeks later at the Presidio's Crissy Field. More than 100,000 people attend the festivities, which begin at 2 pm.
                </p>
            </div>
            <div id="today" class="clear-white-button">
                <a href="">READ MORE</a>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    </div>
