<link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
<link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
<!-- Step 5: Header Images -->
<!--#include virtual="/ssi/header-large-banner1.html" -->
<div class="container">
    <main class="main-primary">
        <h2 class="blue">POPULAR LINKS</h2>
        <div class="link-icon">
            <img src="/Content/StateTemplate/images/icons/symbol.png" alt="" /><br />
            <a href="/california-history/state-symbols">State Symbols</a>
        </div>
        <div class="link-icon">
            <img src="/Content/StateTemplate/images/icons/resources.png" alt="" /><br />
            <a href="/services/online-resources">Online Resources</a>
        </div>
        <div class="link-icon">
            <img src="/Content/StateTemplate/images/icons/catalog.png" alt="" /><br />
            <a href="http://catalog.library.ca.gov/">Online Catalog</a>
        </div>
        <div class="link-icon">
            <img src="/Content/StateTemplate/images/icons/goldrush.png" alt="" /><br />
            <a href="/california-history/gold-rush">Gold Rush Exhibit</a>
        </div>
        <div class="link-icon">
            <img src="/Content/StateTemplate/images/icons/tours.png" alt="" /><br />
            <a href="/visit-us/tours">Tours</a>
        </div>
        <div class="link-icon">
            <img src="/Content/StateTemplate/images/icons/genealogy.png" alt="" /><br />
            <a href="/collections/genealogy">Genealogy</a>
        </div>
        <div class="link-icon">
            <img src="/Content/StateTemplate/images/icons/talkingbooks.png" alt="" /><br />
            <a href="/btbl">Braille & Talking Books</a>
        </div>
        <div class="link-icon">
            <img src="~/Content/StateTemplate/images/icons/reports.png" alt="" style="width:32%;"/><br />
            <a href="/crb">CRB Reports</a>
        </div>
        @*<div class="link-icon">
            <img src="~/Content/StateTemplate/images/icons/statistics.png" alt="" /><br />
            <a href="">Statistics</a>
        </div>*@
    </main>
</div>
