<link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
<link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
<!-- Step 5: Header Images -->
<!--#include virtual="/ssi/header-large-banner1.html" -->
<div class="container ">
    <main class="main-primary">
        <h2 class="orange">IN THE SPOTLIGHT</h2>
        <div class="threecolumns">
            <div class="columns" style="background:url(/Content/StateTemplate/images/home/card.jpg) no-repeat 0 0;background-size:cover;">
                <div class="wrap">
                    <div class="div-divider">
                        <h3 class="white-title" style="padding:15px 0 0px 15px; width:200px; font-size:1.8em">
                            Get a State Library Card!
                        </h3>
                    </div>
                    <div style="margin:0 auto; text-align:center">
                        <a href="/apply/" class="btn btn-primary">APPLY NOW</a>
                    </div>
                </div>
            </div>
            <div class="columns" style="background:url(/Content/StateTemplate/images/home/press.jpg) no-repeat 0 0;background-size:cover;">
                <div class="wrap">
                    <div class="div-divider">
                        <h3 class="white-title" style="padding:15px 0 0px 15px; width:250px; font-size:1.8em">
                            Press Release
                        </h3>
                        <p class="white-p">
                            For the Joy of Doing, New Exhibit at the State Library.
                        </p>
                    </div>
                    <div style="margin:0 auto; text-align:center">
                        <a href="" class="btn btn-primary">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="columns" style="background:url(/Content/StateTemplate/images/home/video.jpg) no-repeat 0 0;background-size:cover;">
                <div class="wrap">
                    <div class="div-divider">
                        <h3 class="white-title" style="padding:15px 0 0px 15px; width:250px; font-size:1.8em">
                            New Video
                        </h3>
                        <p class="white-p">
                            Today in California: <br />James Marshall
                        </p>
                    </div>
                    <div style="margin:0 auto; text-align:center">
                        <a href="" class="btn btn-primary">SEE MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
