<div class="navigation-search">
    <div id="head-search" class="search-container in play-animation focus">
        <!-- Include Search -->
        <!-- Google Suggest -->
        <script type="text/javascript">
  document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://" : "http://") + "www.google.com/jsapi' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
  google.load('search', '1');
  google.setOnLoadCallback(function() {
    google.search.CustomSearchControl.attachAutoCompletion(
      '001779225245372747843:9s-idxui5pk', // Step 7: Update this value with your search engine unique ID. Submit a request to the OTech Service Desk if you don't already know your unique search engine ID.
      document.getElementById('search_local_textfield'),
      'local_form');
  });
        </script>
        <script src="https://www.google.com/uds/?file=search&amp;v=1" type="text/javascript"></script><link href="https://www.google.com/uds/api/search/1.0/01d3e4019d02927b30f1da06094837dc/default+en.css" type="text/css" rel="stylesheet">
        <script src="https://www.google.com/uds/api/search/1.0/01d3e4019d02927b30f1da06094837dc/default+en.I.js" type="text/javascript"></script>


        <form id="local_form" action="/serp.html">
            <!-- the form action will be changed using javascript -->
            <div class="textfield-container">
                <label for="search_local_textfield" accesskey="s" class="hidden">Search this site: </label>
                <input type="text" name="q" id="search_local_textfield" class="search-textfield" size="35" autocomplete="off" value="Search Services, Agencies, and More..." onfocus="if(this.value=='Search Services, Agencies, and More...')this.value=''" onblur="if(this.value=='')this.value='Search Services, Agencies, and More...'" dir="ltr" spellcheck="false" style="outline: none;">

                <input type="hidden" name="cx" value="001779225245372747843:9s-idxui5pk"> <!-- Step 7: Update this value with your search engine unique ID. Submit a request to the OTech Service Desk if you don't already know your unique search engine ID. -->
                <input type="hidden" name="cof" value="FORID:10"> <!-- this value will be set using javascript -->
                <input type="hidden" name="ie" value="UTF-8">
                <input type="hidden" name="nojs" value="1">

            </div>
            <div class="submit-container">
                <button type="submit"><span class="ca-gov-icon-search"><span class="sr-only">Search</span></span></button>
            </div>
            <!-- <div class="search-locator"><span class="ca-gov-icon-compass"></span><small class="located-city-name">Sacramento</small></div> -->
            <button type="button" class="close close-search" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </form>

    </div>
    <!-- Include Navigation -->
    <!--
    Step 2
    Select Navigation Type:

    Options are: megadropdown dropdown singlelevel
    -->
    @{ 
        if(ViewBag.pageID == "Home")
        {
            @:<div class="animated fadeInRight">
        }
        else
        {
            @:<div>
        }

    }

    <nav id="navigation" class="main-navigation megadropdown auto-highlight mobile-closed">
        <ul id="nav_list" class="top-level-nav">
            <li class="home-link nav-item">
                <a href="/" class="first-level-link"><span id="nav_home_container" class="ca-gov-icon-home" aria-hidden="true"></span>Home</a>
            </li>
            <li class="nav-item">
                <!--class="ca-gov-icon-gears"-->
                <a href="/about" class="first-level-link"><span class="ca-gov-icon-info-bubble" aria-hidden="true"></span>About Us</a>
                <!--<a href="/about" class="first-level-link has-sub"><img name="about" src="/Content/StateTemplate/images/top-icons/about.jpg" onmouseover="document.about.src='/Content/StateTemplate/images/top-icons/about-over.jpg'" onmouseout="document.about.src='/Content/StateTemplate/images/top-icons/about.jpg'" alt="about" style="width:58px; padding-bottom:5px"><br>About Library</a>-->
                <span class="mobile-control toggle-sub-nav closed"><span class="ca-gov-icon-menu-toggle-closed" aria-hidden="true"></span><span class="ca-gov-icon-menu-toggle-open" aria-hidden="true"></span><span class="sr-only">Sub Menu Toggle</span></span><div class="sub-nav">
                    <div class="half">
                        <ul class="second-level-nav">
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 1</a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 2</a>
                            </li>
                            <li class="unit2">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 3
                                    <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                                </a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 4</a>
                            </li>
                            <li class="unit2">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                                    <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                                </a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 6</a>
                            </li>
                        </ul>
                    </div>
                    <div class="half">
                        <div class="nav-media">
                            <div class="media unit2">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/sample/images/70x70.gif" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <div class="title"><a href="">Public profile</a></div>
                                    <div class="subtitle">Subtitle</div>
                                    <div class="teaser">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>
                                    <a href="" class="btn btn-default btn-xs pull-right">Read More</a>
                                </div>
                            </div>
                            <div class="media unit2">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/sample/images/70x70.gif" alt="..."></a>
                                </div>
                                <div class="media-body">
                                    <div class="title"><a href="">News Title</a></div>
                                    <div class="subtitle">Subtitle</div>
                                    <div class="teaser">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>
                                    <a href="" class="btn btn-default btn-xs pull-right">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-arrow-container"><div class="nav-arrow-down"></div></div>
                </div>
            </li>
            <li class="nav-item">
                <a href="/collections" class="first-level-link"><span class="ca-gov-icon-images" aria-hidden="true"></span>Collections</a>
                <!--<a href="/about.html" class="first-level-link has-sub"><span class="ca-gov-icon-info-bubble" aria-hidden="true"></span><img name="collections" src="/Content/StateTemplate/images/top-icons/collections.jpg" onmouseover="document.collections.src='/Content/StateTemplate/images/top-icons/collections-over.jpg'" onmouseout="document.collections.src='/Content/StateTemplate/images/top-icons/collections.jpg'" alt="collections" style="width:58px; padding-bottom:5px"><br>Collections</a>-->
                <span class="mobile-control toggle-sub-nav closed"><span class="ca-gov-icon-menu-toggle-closed" aria-hidden="true"></span><span class="ca-gov-icon-menu-toggle-open" aria-hidden="true"></span><span class="sr-only">Sub Menu Toggle</span></span><div class="sub-nav">
                    <div class="half offset-half">
                        <ul class="second-level-nav">
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 1</a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 2</a>
                            </li>
                            <li class="unit2">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 3
                                    <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                                </a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 4</a>
                            </li>
                            <li class="unit2">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                                    <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                                </a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 6</a>
                            </li>
                        </ul>
                    </div>
                    <div class="half with-image-left">
                        <div class="nav-media" style="background:url('/sample/images/sample-nav-image2.jpg')"></div>
                    </div>
                    <div class="nav-arrow-container"><div class="nav-arrow-down"></div></div>
                </div>
            </li>

            <!-- LEFT ALIGNED IMAGE -->
            <li class="nav-item">
                <a href="/grants" class="first-level-link"><span class="ca-gov-icon-wallet" aria-hidden="true"></span>Grants</a>
                <!--<a href="../structure.html" class="first-level-link has-sub"><span class="ca-gov-icon-flowchart" aria-hidden="true"></span><img name="grants" src="/Content/StateTemplate/images/top-icons/grants.jpg" onmouseover="document.grants.src='/Content/StateTemplate/images/top-icons/grants-over.jpg'" onmouseout="document.grants.src='/Content/StateTemplate/images/top-icons/grants.jpg'" alt="grants" style="width:58px; padding-bottom:5px"><br>Grants</a>-->
                <span class="mobile-control toggle-sub-nav closed"><span class="ca-gov-icon-menu-toggle-closed" aria-hidden="true"></span><span class="ca-gov-icon-menu-toggle-open" aria-hidden="true"></span><span class="sr-only">Sub Menu Toggle</span></span><div class="sub-nav">
                    <!-- Offset class needed to fix positioning issue caused when positioning the image -->
                    <div class="three-quarters offset-quarter">
                        <ul class="second-level-nav">
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 1</a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link"><span class="ca-gov-icon-home" aria-hidden="true"></span>Link 2</a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 3
                                </a>
                            </li>
                            <li class="unit2">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 4
                                    <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                                </a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                                </a>
                            </li>
                            <li class="unit1">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 5
                                </a>
                            </li>
                            <li class="unit2">
                                <a href="/" class="second-level-link">
                                    <span class="ca-gov-icon-home" aria-hidden="true"></span>Link 7
                                    <div class="link-description">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="quarter with-image-left">
                        <div class="nav-media" style="background:url('/sample/images/sample-nav-image2.jpg')"></div>
                    </div>
                    <div class="nav-arrow-container"><div class="nav-arrow-down"></div></div>
                </div>
            </li>

            <!--<li class="nav-item">
                <a href="https://github.com/Office-of-Digital-Innovation" target="_blank" class="first-level-link"><span class="ca-gov-icon-download" aria-hidden="true"></span>Download</a>
            </li>-->
            <li class="nav-item">
                <a href="/services" class="first-level-link"><span class="ca-gov-icon-map" aria-hidden="true"></span>Services</a>
                <!--<a href="/services" target="_blank" class="first-level-link"><span class="ca-gov-icon-state" aria-hidden="true"></span><img name="services" src="/Content/StateTemplate/images/top-icons/services.jpg" onmouseover="document.services.src='/Content/StateTemplate/images/top-icons/services-over.jpg'" onmouseout="document.services.src='/Content/StateTemplate/images/top-icons/services.jpg'" alt="services" style="width:58px; padding-bottom:5px"><br>Services</a>-->
            </li>
            <li class="nav-item">
                <a href="/contact" class="first-level-link"><span class="ca-gov-icon-road-pin" aria-hidden="true"></span>Visit Us</a>
                <!--<a href="/contact.html" class="first-level-link"><span class="ca-gov-icon-lightbulb" aria-hidden="true"></span><img name="visit" src="/Content/StateTemplate/images/top-icons/visit.jpg" onmouseover="document.visit.src='/Content/StateTemplate/images/top-icons/visit-over.jpg'" onmouseout="document.visit.src='/Content/StateTemplate/images/top-icons/visit.jpg'" alt="visit" style="width:58px; padding-bottom:5px"><br>Visit Us</a>-->
            </li>
            <li class="nav-item">
                <a href="/work-with-us" class="first-level-link"><span class="ca-gov-icon-briefcase" aria-hidden="true"></span>Work With Us</a>
                <!--<a href="/" class="first-level-link"><span class="ca-gov-icon-lightbulb" aria-hidden="true"></span><img name="work" src="/Content/StateTemplate/images/top-icons/work.jpg" onmouseover="document.work.src='/Content/StateTemplate/images/top-icons/work-over.jpg'" onmouseout="document.work.src='/Content/StateTemplate/images/top-icons/work.jpg'" alt="work" style="width:58px; padding-bottom:5px"><br>Work With Us</a>-->
            </li>
            <li class="nav-item" id="nav-item-search">
                <a href="javascript:;" class="first-level-link"><span class="ca-gov-icon-search" aria-hidden="true"></span>Search</a>
            </li>
        </ul>
    </nav>
</div>
</div>