<link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
<link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
<div class="row" style="clear: both;"></div>
<div id="main-content" class="main-content">
    <!-- Step 5: Header Images -->
    <!--#include virtual="/ssi/header-large-banner1.html" -->
    <div class="container">
        <main class="main-primary">
            <h2 class="blue">UPCOMING EVENTS</h2>
            <div class="threecolumns">
                <div class="columns" style="background-color:#2d5a72; min-height:290px">
                    <div class="wrap">
                        <div class="event-divider">
                            <h3 class="white-title" style="padding:15px 0 0px 15px; width:200px; font-size:1.8em">
                                9 August
                            </h3>
                            <p class="white-p">
                                6pm-7pm, Rm 500
                            </p>
                            <hr class="white-hr" />
                        </div>
                        <div class="events-item">
                            <a href="">Night at the State Library</a>:<br />
                            Scott Stine, A Way Across the Mountain, Joseph Walker's 1833 Trans-Sierran Passage and the Myth of Yosemite's Discovery.
                        </div>
                    </div>
                </div>
                <div class="columns" style="background-color:#2c7383; min-height:290px">
                    <div class="wrap">
                        <div class="event-divider">
                            <h3 class="white-title" style="padding:15px 0 0px 15px; width:200px; font-size:1.8em">
                                30 August
                            </h3>
                            <p class="white-p">
                                Noon-1:30pm, Gillis Hall
                            </p>
                            <hr class="white-hr" />
                        </div>
                        <div class="events-item">
                            Author Series with Richard Schwartz talking about his recently released book, The Man Who Lit Lady Liberty: The Extraordinary Rise and Fall of Actor M.B. Curtis.
                        </div>
                    </div>
                </div>
                <div class="columns" style="background-color:#2b8697; margin-right:0; min-height:290px">
                    <div class="wrap">
                        <div class="event-divider">
                            <h3 class="white-title" style="padding:15px 0 0px 15px; width:200px; font-size:1.8em">
                                20 September
                            </h3>
                            <p class="white-p">
                                6pm-7pm, Rm 500
                            </p>
                            <hr class="white-hr" />
                        </div>
                        <div class="events-item">
                            Author Series with local author Barry S. Martin discussing his book, Bob Davies: A Basketball Legend.
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

