<link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
<link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
<main class="main-primary">
    <div class="container">
        <h2 class="blue">READ OUR BLOG</h2>
        <div class="threecolumns">
            <div class="columns" style="background:url(/Content/StateTemplate/images/home/photo-of-the-week.jpg) no-repeat 0 0;background-size:cover;">
                <div class="wrap">
                    <div class="div-divider">
                        <h3 class="white-title" style="padding:15px 0 0px 15px; width:250px; font-size:1.8em">
                            Photo of the Week
                        </h3>
                        <p class="white-p">
                            Harold Lloyd and his Great Dane, "Prince" (192?). Gene Kornman, photographer.
                        </p>
                    </div>
                    <div style="margin:0 auto; text-align:center">
                        <a href="" class="btn btn-primary">SEE MORE</a>
                    </div>
                </div>
            </div>
            <div class="columns" style="background:url(/Content/StateTemplate/images/home/book.jpg) no-repeat 0 0;background-size:cover;">
                <div class="wrap">
                    <div class="div-divider">
                        <h3 class="white-title" style="padding:15px 0 0px 15px; width:250px; font-size:1.8em">
                            Featured Book
                        </h3>
                        <p class="white-p">
                            Mark Harris,<br />
                            Five Came Back
                        </p>
                    </div>
                    <div style="margin:0 auto; text-align:center">
                        <a href="" class="btn btn-primary">SEE MORE</a>
                    </div>
                </div>
            </div>
            <div class="columns" style="background:url(/Content/StateTemplate/images/home/exhibit.jpg) no-repeat 0 0;background-size:cover; ">
                <div class="wrap">
                    <div class="div-divider">
                        <h3 class="white-title" style="padding:15px 0 0px 15px; width:250px; font-size:1.8em">
                            Latest Additions
                        </h3>
                        <p class="white-p">
                            Summer of Love:<br />
                            Art, Fashion, and Rock and Roll
                        </p>
                    </div>
                    <div style="margin:0 auto; text-align:center">
                        <a href="" class="btn btn-primary">SEE MORE</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        </main>
<div style="clear: both;"></div>
<div class="spacer"></div>
