<div class="site-settings section section-standout collapse collapsed" role="alert" id="siteShare">
    <div class="container  p-y">
        <button type="button" class="close" data-toggle="collapse" data-target="#siteShare" aria-expanded="false" aria-controls="siteShare" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        

        <div class="row" role="group">
            <div class="utility-header" style="background:none">

                    <div class="group">
                        <div class="half">
                            <ul class="utility-links">
                                Share:
                                <li><a class="ca-gov-icon-share-facebook" title="Facebook channel" tabindex="0" href="@Request.Url.ToString()"></a></li>
                                <li><a class="ca-gov-icon-share-twitter" title="Twitter channel" tabindex="0" href="@Request.Url.ToString()"></a></li>
                                <li><a class="ca-gov-icon-share-googleplus" title="Google+ channel" tabindex="0" href="@Request.Url.ToString()"></a></li>
                                <li><a class="ca-gov-icon-share-email" title="email" tabindex="0" href="@Request.Url.ToString()"></a></li>
                                <li><a class="ca-gov-icon-check-list" title="ChangeLog" tabindex="0" href="/Releases"></a></li>
                            </ul>
                        </div>
                   </div>
                </div>
             </div>
         </div>
        </div>

