<link href="~/Content/Random.css" rel="stylesheet" type="text/css" />
@*css classes used here are located inside random.css file*@
<div class="col-md-12">
    <div class="col-md-3 pull-right radio-nav-item">
        <div class="col-md-4">
            <input type="radio" name="editList" value="website" class="">Website
        </div>
        <div class="col-md-4">
            <input type="radio" name="editList" value="catalog" class="">Catalog
        </div>
        <div class="col-md-4">
            <input type="radio" name="editList" value="talkingBooks" class="">Talking Books
        </div>
    </div>
</div>
