<link href="~/Content/Random.css" rel="stylesheet" type="text/css" />

<div class="container" id="topNav">
    <div id="logoSpace">
        <img class="img img-responsive" src="~/Content/StateTemplate/images/csl_logo_big.png" />
    </div>

    <div id="navItemSpace">
        <div id="firstRow">
            <ul id="nav_list" class="top-level-nav">
                <li class="nav-item">

                    <a href="AddBlogs/Index" class="first-level-link">
                        <p>About Library</p>
                        <span class="ca-gov-icon-gears">
                        </span>
                    </a>
                </li>
                <li class="nav-item">

                    <a href="AddBlogs/Index" class="first-level-link">
                        <p>Collections</p>
                        <span class="ca-gov-icon-gears">
                        </span>
                    </a>
                </li>
                <li class="nav-item">

                    <a href="AddBlogs/Index" class="first-level-link">
                        <p>Grants</p>
                        <span class="ca-gov-icon-gears">
                        </span>
                    </a>
                </li>
                <li class="nav-item">

                    <a href="AddBlogs/Index" class="first-level-link">
                        <p>Services</p>
                        <span class="ca-gov-icon-gears">
                        </span>
                    </a>
                </li>
                <li class="nav-item">

                    <a href="AddBlogs/Index" class="first-level-link">
                        <p>Research</p>
                        <span class="ca-gov-icon-gears">
                        </span>
                    </a>
                </li>
                <li class="nav-item">

                    <a href="AddBlogs/Index" class="first-level-link">
                        <p>Visit Us</p>
                        <span class="ca-gov-icon-gears">
                        </span>
                    </a>
                </li>
                <li class="nav-item">

                    <a href="AddBlogs/Index" class="first-level-link">
                        <p>Work With Us</p>
                        <span class="ca-gov-icon-gears">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div >
            <ul id="searchlist" class="top-level-nav">
                <li class="nav-item">
                    @Html.Partial("~/Views/shared/modules/search.cshtml")
                </li>
            </ul>
        </div>
    </div>

</div>

