<link href="~/Content/Random.css" rel="stylesheet" type="text/css" />

    <div class="col-md-12">
        <div id="leftspace" class="col-md-1" style="background-color:white; height:252px;"></div>
        <div id="logospace" class="col-md-4">
            <img src="~/Content/StateTemplate/images/csl_logo_big.png" style="width:500px;"/>
        </div>
        <div id="navitemspace" class="col-md-6" style="background-color:white; padding-top: 50px;">
            <div class="row">
                <ul id="nav_list" class="top-level-nav">
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="AddBlogs/Index" class="first-level-link"><span class="ca-gov-icon-gears"></span></a>
                    </li>
                </ul>
            </div>
            <div class="row">
                    <ul id="searchlist" class="top-level-nav">
                        <li class="nav-item col-md-6">
                            @Html.Partial("~/Views/shared/modules/search.cshtml")
                        </li>
                    </ul>
            </div>           
        </div>
        <div id="rightspace" class="col-md-1" style="background-color:red; height:auto;"></div>
    </div>

