<div class="ask-group fade">
    <div class="panel-group pull-left" id="askGroup" role="tablist" aria-multiselectable="true">

        <div class="panel col-md-push-4">
            <a class="btn btn-primary ask-button collapsed " role="button" data-toggle="collapse" data-parent="#askGroup" href="#askWhere" aria-expanded="true" aria-controls="askWhere"><span class="ca-gov-icon-binoculars" aria-hidden="true"></span>Where</a>
            <div id="askWhere" class="collapse ask-panel">
                <div class="ask-options">
                    <ul>
                        <li><a href="">Options for Where <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Where <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Where <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Where <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Where <span aria-hidden="true" class="more"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel col-md-push-2">
            <a class="btn btn-primary ask-button collapsed" role="button" data-toggle="collapse" data-parent="#askGroup" href="#askWhen" aria-expanded="true" aria-controls="askWhen"><span class="ca-gov-icon-calendar" aria-hidden="true"></span>When</a>
            <div id="askWhen" class="collapse ask-panel">
                <div class="ask-options">
                    <ul>
                        <li><a href="">Options for When <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for When <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for When <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for When <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for When <span aria-hidden="true" class="more"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel">
            <a class="btn btn-primary ask-button collapsed" role="button" data-toggle="collapse" data-parent="#askGroup" href="#askALibrarian" aria-expanded="true" aria-controls="askALibrarian"><span class="ca-gov-icon-chat-bubble" aria-hidden="true"></span>Ask A Librarian?</a>
            <div id="askALibrarian" class="collapse ask-panel">
                <div class="ask-options">
                    <ul>
                        <li><a href="">Options for Why <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Why <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Why <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Why <span aria-hidden="true" class="more"></span></a></li>
                        <li><a href="">Options for Why <span aria-hidden="true" class="more"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
