<!-- header branding -->
<div class="branding pull-left">
<div class="header-cagov-logo pull-left"><a href="/"><img src="/Content/stateTemplate/images/csl_logo_big.png"  alt="CA.gov" /></a></div> 
<div class="header-organization-banner"><a href="/"><img src="/Content/stateTemplate/images/Ca-Gov-Logo-Gold.svg" alt="Organization Title" /></a></div>
</div>