
@{
    ViewBag.Title = "Aldrich";
    ViewBag.Image = "Stacey_Aldrich.png";
}

<head>
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/custom1.css" media="screen, projection, print, tv" type="text/css" />
    <link rel="stylesheet" href="~/Content/StateTemplate/css/random.css" media="screen, projection, print, tv" type="text/css" />
</head>


<div id="main-content" class="main-content">
    <main class="main-primary">

        <div class="section">
            <div class="container">
                <h2 class="page-title">Biography of Stacey A. Aldrich</h2>
            </div>
            <div class="container">
                <img src="~/Content/StateTemplate/images/about/@(ViewBag.Image)" />
                <p>
                    Stacey A. Aldrich was sworn in as State Librarian of California on November 19, 2009. 
                    Surrounded by an overflow crowd of friends, family, and colleagues, she took the oath of 
                    office in the newly dedicated J.S. Holliday Rare Book Room of the California State Library.
                    <br /><br />
                    Aldrich was appointed to the post by Governor Arnold Schwarzenegger, who stated in a press 
                    release that "Stacey is truly an expert in the field and California is lucky to have her as 
                    the State Librarian." She had been Acting State Librarian since February 2009, and served as 
                    Deputy State Librarian from August 2007 forward.
                    <br /><br />
                    Aldrich serves on the Board of Directors of the Association of Professional Futurists, and 
                    is a respected library futurist. In presentations and workshops here and abroad, she 
                    challenges librarians to actively shape the future of libraries by examining trends and 
                    technologies, building scenarios for possible future outcomes, then developing strategies 
                    for dealing with those futures. Named one of Library Journal's Movers & Shakers in 2003, 
                    Aldrich is recognized as a national leader who's shaping the future of the library profession.
                    <br /><br />
                    Before joining the State Library, Aldrich served as Assistant Director of the Omaha Public 
                    Library from 2005 to 2007; held two positions with the Maryland Department of Education--Branch 
                    Chief of Public Libraries and State Networking from 2000 to 2005, and Public Library Consultant 
                    from 1996 to 1999; and served as Senior Associate at Coates & Jarratt, Inc., a futuring think 
                    tank, in 2000. She was Information Technology Librarian for Hood College Library in Frederick, 
                    Maryland, from 1992 to 1996. Aldrich earned a Master of Arts in library science and a Bachelor 
                    of Arts in Russian language and literature from the University of Pittsburgh. She belongs to 
                    the American Library Association, Public Library Association, California Library Association, 
                    and Beta Phi Mu.
                </p>
            </div>
        </div>

    </main>
</div>

