
@{
    ViewBag.Title = "Hildreth";
}

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container">
            <ol class="breadcrumb dynamic"></ol>

            <h2>Hildreth</h2>
        </div>
    </main>
</div>

