
@{
    ViewBag.Title = "ChangeLog";
    ViewBag.Author = "California State Library";
    ViewBag.Description = "Changelog for the purpose of keeping updates known throughout each deployment";
    ViewBag.Keywords = "California State Library, Art, CA, Legislators, State Library, Changes, Updates";
}

<head>
    <title>@(ViewBag.Title)</title>
    <meta name="Author" content="@(ViewBag.Author)" />
    <meta name="Description" content="@(ViewBag.Description)" />
    <meta name="Keywords" content="@(ViewBag.Keywords)" />

</head>

<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="container indent-outer">
            <h1 class="orange page-title">ChangeLog</h1>
            <div class="indent-inner row">
                <div class="col-md-4">
                    <h2>Info:</h2>
                    <p>
                        All items in the release log have been tested by Team NRE and are ready for client feedback, there will be other parts of the site released that are incomplete, however
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Key:</h2>
                    <ul>
                        <li style="color:coral">Ready for testing.</li>
                        <li style="color:green">Approved/Complete.</li>
                    </ul>
                </div>
            </div>
            <div class="row indent-inner">
                <div>
                    <ul class="list-overstated accordion-list">
                        <li>
                            <a class="toggle">RT.001- 9.6.17</a>
                            <div class="description">
                                <ul style="color:coral">
                                    <br />
                                    <li>All URLs ready to be tested, expected result should be a view updating with the last path element it represents</li>
                                    <li>/      page ready for testing<a href="/"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/about page ready for testing<a href="/about"><span class="ca-gov-icon-page"></span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="list-overstated accordion-list">
                        <li>
                            <a class="toggle">RT.002- 9.9.17</a>
                            <div class="description">
                                <ul style="color:coral">
                                    <br />
                                    <li>/use page ready for testing<a href="/use"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/about page ready for testing<a href="/about"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/art page ready for testing<a href="/art"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/crb page ready for testing<a href="/crb"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/crb/staff page ready for testing<a href="/crb/staff "><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/services/policies page ready for testing<a href="/services/policies"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/california-history/digital-images page ready for testing<a href="/california-history/digital-images"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/privacy page ready for testing<a href="/privacy"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/sutro/adolph-sutro page ready for testing<a href="/sutro/adolph-sutro"><span class="ca-gov-icon-page"></span></a></li>
                                    <li>/policies page ready for testing<a href="/policies"><span class="ca-gov-icon-page"></span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="list-overstated accordion-list">
                        <li>
                            <a class="toggle">RT.003- 9.10.17</a>
                            <div class="description">
                                <ul style="color:green">
                                    <br />
                                    <li>/releases page ready<a href="/releases"><span class="ca-gov-icon-page"></span></a></li>
                                    <li style="color:coral">/services/apply page ready for client feedback<a href="/services/apply"><span class="ca-gov-icon-page"></span></a></li>
                                    <li style="color:coral">/sutro/geneaology page ready for client feedback<a href="/sutro/geneaology"><span class="ca-gov-icon-page"></span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="list-overstated accordion-list">
                        <li>
                            <a class="toggle">RT.004- 9.18.17</a>
                            <div class="description">
                                <ul style="color:coral">
                                    <br />
                                    <li style="color:coral">/work-with-us/internships page ready for client feedback<a href="/work-with-us/internships"><span class="ca-gov-icon-page"></span></a></li>
                                    <li style="color:coral">/Sutro ready for client feedback<a href="/Sutro "><span class="ca-gov-icon-page"></span></a></li>
                                    <li style="color:coral">/Sutro/collection ready for client feedback<a href="/Sutro/collection "><span class="ca-gov-icon-page"></span></a></li>
                                    <li style="color:coral">/Sutro/search ready for client feedback<a href="/Sutro/search"><span class="ca-gov-icon-page"></span></a></li>
                                    <li style="color:coral">All pages ready for review<a href="/Sutro "><span class="ca-gov-icon-page"></span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="list-overstated accordion-list">
                        <li>
                            <a class="toggle">RT.005- 9.27.17</a>
                            <div class="description">
                                <p>All pages ready for review</p>
                                <p>
                                    http://californiastatelibrary.azurewebsites.net/about/
                                    <br /> http://californiastatelibrary.azurewebsites.net/art/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/books/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/collections/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/collections/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/county-month/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/databases/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/digital-images/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/display/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/donations/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/ephemera/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/events/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/fair-use/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/genealogy/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/periodicals-month/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/periodicals/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/permission-to-use/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/photo-reproduction/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/pictorial-resources/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/research-guides/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/unique-indexes/
                                    <br /> http://californiastatelibrary.azurewebsites.net/california-history/visiting/
                                    <br /> http://californiastatelibrary.azurewebsites.net/contact/
                                    <br /> http://californiastatelibrary.azurewebsites.net/crb/
                                    <br /> http://californiastatelibrary.azurewebsites.net/crb/staff/
                                    <br /> http://californiastatelibrary.azurewebsites.net/privacy/
                                    <br /> http://californiastatelibrary.azurewebsites.net/services/policies/
                                    <br /> http://californiastatelibrary.azurewebsites.net/services/to-public/
                                    <br /> http://californiastatelibrary.azurewebsites.net/sutro/adolph-sutro/
                                    <br /> http://californiastatelibrary.azurewebsites.net/sutro/collection/
                                    <br /> http://californiastatelibrary.azurewebsites.net/sutro/geneaology/
                                    <br /> http://californiastatelibrary.azurewebsites.net/sutro/womens-march/
                                    <br /> http://californiastatelibrary.azurewebsites.net/use/
                                    <br /> http://californiastatelibrary.azurewebsites.net/work-with-us/
                                    <br /> http://californiastatelibrary.azurewebsites.net/work-with-us/internships/
                                    <br /> http://californiastatelibrary.azurewebsites.net/work-with-us/jobs/
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            
        </div>

            

        </div>
    </main>
</div>
